Repository ethereum/consensus-specs, pull requests merged in 2019-09, with the labels that each got.

#1323 Starting on phase 1 misc beacon changes
  Makefile
  configs/minimal.yaml
  scripts/build_spec.py
  specs/core/0_beacon-chain.md
  specs/core/1_beacon-chain-misc.md
  specs/core/1_shard-data-chains.md
  specs/light_client/merkle_proofs.md
  test_libs/pyspec/eth2spec/test/merkle_proofs/test_merkle_proofs.py
Labels: phase 1

#1362 Deposit contract fixes
  deposit_contract/contracts/validator_registration.json
  deposit_contract/contracts/validator_registration.v.py
  deposit_contract/requirements-testing.txt
  deposit_contract/tests/contracts/test_deposit.py
  specs/core/0_deposit-contract.md
  specs/validator/0_beacon-chain-validator.md
Labels: deposit contract, post-freeze (substantive)

#1397 Remove `unpack_compact_validator` from sync spec
  specs/light_client/sync_protocol.md
Labels: phase 1

#1405 fix BLS tests name length
  test_generators/bls/main.py
Labels: CI/tests

#1404 Network specification update
  specs/networking/p2p-interface.md
Labels: networking
