Repository ethereum/consensus-specs, pull requests merged in 2019-04, with the labels that each got.

#867 Add link to custody game to readme
  README.md
Labels: phase 1

#766 Added light client related files
  README.md
  specs/light_client/merkle_proofs.md
  specs/light_client/sync_protocol.md
Labels: light-clients

#877 A new more complete test format for ETH 2.0 testing
  configs/constant_presets/README.md
  configs/constant_presets/mainnet.yaml
  configs/constant_presets/minimal.yaml
  configs/fork_timelines/README.md
  configs/fork_timelines/mainnet.yaml
  specs/core/0_beacon-chain.md
  specs/test-format.md
  specs/test_formats/README.md
Labels: CI/tests

#868 Separate out get_switchover_epoch
  specs/core/1_shard-data-chains.md
Labels: phase 1

#925 Decouple justification and finalization processing
  specs/core/0_beacon-chain.md
Labels: presentation

#938 Simplify Eth1Data voting
  specs/core/0_beacon-chain.md
  test_libs/pyspec/eth2spec/phase0/state_transition.py
Labels: simplification

#953 Move pytests for faster dev iteration
  Makefile
  README.md
  py_tests/README.md
  py_tests/requirements.txt
  test_libs/pyspec/README.md
  test_libs/pyspec/requirements.txt
  test_libs/pyspec/setup.py
  test_libs/pyspec/tests/README.md
  test_libs/pyspec/tests/__init__.py
  test_libs/pyspec/tests/block_processing/test_process_attestation.py
  test_libs/pyspec/tests/block_processing/test_process_attester_slashing.py
  test_libs/pyspec/tests/block_processing/test_process_block_header.py
  test_libs/pyspec/tests/block_processing/test_process_deposit.py
  test_libs/pyspec/tests/block_processing/test_process_proposer_slashing.py
  test_libs/pyspec/tests/block_processing/test_voluntary_exit.py
  test_libs/pyspec/tests/conftest.py
  test_libs/pyspec/tests/helpers.py
  test_libs/pyspec/tests/test_sanity.py
Labels: CI/tests

#955 Remove custody_bitfield from PendingAttestation
  specs/core/0_beacon-chain.md
Labels: simplification

#895 Clean up light client spec
  specs/light_client/merkle_proofs.md
  specs/light_client/sync_protocol.md
Labels: light-clients

#958 Further decouple justification and finalisation
  specs/core/0_beacon-chain.md
Labels: presentation

#959 Cleanup per-epoch processing presentation
  specs/core/0_beacon-chain.md
  test_libs/pyspec/eth2spec/phase0/state_transition.py
Labels: presentation

#960 SSZ impl fixes
  test_libs/pyspec/eth2spec/utils/minimal_ssz.py
Labels: SSZ

#962 SSZ static testing [blocked by #960]
  scripts/phase0/function_puller.py
  specs/test_formats/README.md
  specs/test_formats/ssz/README.md
  specs/test_formats/ssz_generic/README.md
  specs/test_formats/ssz_generic/uint.md
  specs/test_formats/ssz_static/README.md
  specs/test_formats/ssz_static/core.md
  test_generators/ssz_generic/__init__.py
  test_generators/ssz_generic/main.py
  test_generators/ssz_generic/renderers.py
  test_generators/ssz_generic/requirements.txt
  test_generators/ssz_generic/uint_test_cases.py
  test_generators/ssz_static/README.md
  test_generators/ssz_static/__init__.py
  test_generators/ssz_static/main.py
  test_generators/ssz_static/requirements.txt
  test_libs/pyspec/eth2spec/debug/encode.py
  test_libs/pyspec/eth2spec/debug/random_value.py
  test_libs/pyspec/eth2spec/utils/minimal_ssz.py
Labels: CI/tests, SSZ

#865 Possible aesthetic rework to get_domain
  specs/core/0_beacon-chain.md
  test_libs/pyspec/tests/helpers.py
  test_libs/pyspec/tests/test_sanity.py
Labels: presentation

#963 Sane SSZ object default values
  specs/core/0_beacon-chain.md
  specs/simple-serialize.md
  test_generators/operations/deposits.py
  test_libs/pyspec/tests/helpers.py
  test_libs/pyspec/tests/test_sanity.py
Labels: SSZ

#972 Change sorted[-1] to max()
  specs/core/0_beacon-chain.md
Labels: simplification

#967 update CI config: caching of repo, venv, split test install/run
  .circleci/config.yml
  Makefile
  test_libs/pyspec/README.md
Labels: CI/tests

#966 Added signing_root to ssz_static tests
  specs/test_formats/ssz_static/core.md
  test_generators/ssz_static/README.md
  test_generators/ssz_static/main.py
Labels: CI/tests

#924 Remove serialization from consensus
  specs/core/0_beacon-chain.md
  specs/validator/0_beacon-chain-validator.md
  test_libs/pyspec/tests/helpers.py
  test_libs/pyspec/tests/test_sanity.py
Labels: deposit contract, simplification

#968 Generators workflow
  .gitignore
  Makefile
  test_generators/README.md
  test_generators/operations/deposits.py
  test_generators/operations/genesis.py
Labels: CI/tests

#977 Fix activation queue bug
  specs/core/0_beacon-chain.md
Labels: bug

#870 Replace with empty instead of popping finished challenges
  specs/core/1_custody-game.md
Labels: phase 1

#936 Enables transfers of balance proportions > 32 ETH
  specs/core/0_beacon-chain.md
  test_libs/pyspec/tests/block_processing/test_process_deposit.py
  test_libs/pyspec/tests/block_processing/test_process_transfer.py
  test_libs/pyspec/tests/helpers.py
  test_libs/pyspec/tests/test_sanity.py
Labels: deposit contract

#949 Revamp balances and incentivisation
  specs/core/0_beacon-chain.md
  specs/light_client/sync_protocol.md
  specs/validator/0_beacon-chain-validator.md
  test_libs/pyspec/eth2spec/phase0/state_transition.py
  test_libs/pyspec/tests/block_processing/test_process_attester_slashing.py
  test_libs/pyspec/tests/block_processing/test_process_deposit.py
  test_libs/pyspec/tests/block_processing/test_process_proposer_slashing.py
  test_libs/pyspec/tests/block_processing/test_process_transfer.py
  test_libs/pyspec/tests/helpers.py
  test_libs/pyspec/tests/test_sanity.py
  tests/phase0/helpers.py
Labels: enhancement, simplification

#787 Update SSZ spec to use SOS style offset based layout.
  specs/simple-serialize.md
Labels: SSZ

#982 Split off fork choice rule and deposit contract
  README.md
  specs/core/0_beacon-chain.md
  specs/core/0_deposit-contract.md
  specs/core/0_fork-choice.md
  specs/validator/0_beacon-chain-validator.md
Labels: presentation

#995 Modify deposit contract description
  specs/core/0_deposit-contract.md
Labels: deposit contract

#1001 Fix `process_registry_updates` and add `test_process_registry_updates`
  specs/core/0_beacon-chain.md
  specs/validator/0_beacon-chain-validator.md
  test_libs/pyspec/tests/epoch_processing/test_process_registry_updates.py
  test_libs/pyspec/tests/helpers.py
Labels: CI/tests, bug

#997 PEP8-ish cleanup
  scripts/phase0/build_spec.py
  scripts/phase0/function_puller.py
  specs/core/0_beacon-chain.md
  test_libs/gen_helpers/gen_base/gen_typing.py
Labels: presentation
