Repository ethereum/consensus-specs, pull requests merged in 2019-07, with the labels that each got.

#1241 Renaming of functions in the `Misc` section
  scripts/build_spec.py
  specs/core/0_beacon-chain.md
  specs/core/0_fork-choice.md
  specs/core/1_custody-game.md
  specs/core/1_shard-data-chains.md
  specs/light_client/sync_protocol.md
  specs/test_formats/bls/msg_hash_g2_compressed.md
  specs/test_formats/bls/msg_hash_g2_uncompressed.md
  specs/test_formats/bls/sign_msg.md
  specs/validator/0_beacon-chain-validator.md
  test_generators/shuffling/main.py
  test_libs/pyspec/eth2spec/test/helpers/attestations.py
  test_libs/pyspec/eth2spec/test/helpers/block.py
  test_libs/pyspec/eth2spec/test/helpers/deposits.py
  test_libs/pyspec/eth2spec/test/phase_0/epoch_processing/test_process_justification_and_finalization.py
  test_libs/pyspec/eth2spec/test/test_finality.py
Labels: June 30 freeze 🥶, RFC

#1247 add back in active_index_roots
  specs/core/0_beacon-chain.md
  test_libs/pyspec/eth2spec/test/helpers/genesis.py
Labels: June 30 freeze 🥶

#1246 Fix bls domain type
  configs/constant_presets/mainnet.yaml
  configs/constant_presets/minimal.yaml
  scripts/build_spec.py
  specs/bls_signature.md
  specs/core/0_beacon-chain.md
  specs/core/1_custody-game.md
  specs/core/1_shard-data-chains.md
  specs/test_formats/bls/msg_hash_g2_compressed.md
  specs/test_formats/bls/msg_hash_g2_uncompressed.md
  specs/test_formats/bls/sign_msg.md
  test_generators/bls/main.py
  test_libs/pyspec/eth2spec/utils/bls.py
  test_libs/pyspec/eth2spec/utils/ssz/ssz_typing.py
Labels: June 30 freeze 🥶, presentation

#1250 Fix `justified_checkpoint` update
  specs/core/0_fork-choice.md
  test_libs/pyspec/eth2spec/test/fork_choice/test_on_block.py
  test_libs/pyspec/eth2spec/test/helpers/state.py
  test_libs/pyspec/eth2spec/test/test_finality.py
Labels: June 30 freeze 🥶, fork-choice

#1236 Executable Validator Guide
  Makefile
  scripts/build_spec.py
  specs/validator/0_beacon-chain-validator.md
Labels: June 30 freeze 🥶, v-guide

#1253 Update v-guide wrt recent spec updates
  specs/validator/0_beacon-chain-validator.md
Labels: v-guide

#1251 #1244 without "5 slots is a `Slot`"
  configs/constant_presets/mainnet.yaml
  configs/constant_presets/minimal.yaml
  scripts/build_spec.py
  scripts/function_puller.py
  specs/core/0_beacon-chain.md
  specs/core/0_deposit-contract.md
  specs/validator/0_beacon-chain-validator.md
  test_libs/pyspec/eth2spec/test/helpers/deposits.py
  test_libs/pyspec/eth2spec/test/helpers/genesis.py
  test_libs/pyspec/eth2spec/test/helpers/transfers.py
  test_libs/pyspec/eth2spec/test/phase_0/block_processing/test_process_deposit.py
  test_libs/pyspec/eth2spec/utils/ssz/ssz_typing.py
Labels: June 30 freeze 🥶

#1263 Changes `Bytes48` to `BLSPubkey`
  specs/core/0_beacon-chain.md
Labels: DO NOT MERGE

#1271 Cosmetic SSZ spec + add `pack()` in `Bitvector` and `Bitlist` Merkleization
  specs/simple-serialize.md
Labels: SSZ, bug

#1270 Some cosmetic/type hinting/configuration-relocation
  configs/constant_presets/mainnet.yaml
  configs/constant_presets/minimal.yaml
  specs/core/0_beacon-chain.md
  specs/core/0_fork-choice.md
  specs/core/1_custody-game.md
  specs/core/1_shard-data-chains.md
Labels: phase 1, presentation

#1286 avoid overflow in slashing penalty calculation
  specs/core/0_beacon-chain.md
  test_libs/pyspec/eth2spec/test/phase_0/epoch_processing/test_process_slashings.py
Labels: presentation

#1287 Avoid unnecessary materialization of list
  specs/core/0_beacon-chain.md
Labels: presentation

#1275 Minor cosmetic fixes
  specs/core/0_beacon-chain.md
Labels: presentation

#1292 Correct merkleization
  specs/simple-serialize.md
  test_libs/pyspec/eth2spec/utils/merkle_minimal.py
  test_libs/pyspec/eth2spec/utils/ssz/ssz_impl.py
  test_libs/pyspec/eth2spec/utils/test_merkle_minimal.py
Labels: SSZ

#1267 Define Bitlist/Bitvector serialization using bytes, not bigints
  specs/simple-serialize.md
  test_libs/pyspec/eth2spec/utils/ssz/ssz_impl.py
  test_libs/pyspec/eth2spec/utils/ssz/ssz_typing.py
Labels: SSZ, presentation

#1297 make zero hash representation clear, fixes #1282
  specs/core/0_beacon-chain.md
Labels: presentation

#1300 [hotfix] bump `py_ecc==1.7.1`
  test_generators/bls/main.py
  test_generators/bls/requirements.txt
  test_libs/pyspec/eth2spec/utils/bls.py
  test_libs/pyspec/requirements.txt
  test_libs/pyspec/setup.py
Labels: CI/tests

#1308 MAX_INDICES_PER_ATTESTATION -> MAX_VALIDATORS_PER_COMMITTEE
  specs/validator/0_beacon-chain-validator.md
Labels: v-guide

#1306 Found by Cem Özer: Ignore older latest messages in attesting balance
  specs/core/0_fork-choice.md
Labels: fork-choice

#1289 Bump `py-ssz` to `0.1.3` and update the fuzzing tests
  test_generators/ssz_generic/requirements.txt
  test_libs/pyspec/eth2spec/fuzzing/decoder.py
  test_libs/pyspec/eth2spec/fuzzing/test_decoder.py
  test_libs/pyspec/requirements.txt
  test_libs/pyspec/setup.py
Labels: CI/tests

#1294 Attestation changes + persistent committee changes
  scripts/build_spec.py
  specs/core/1_shard-data-chains.md
  test_libs/pyspec/eth2spec/test/helpers/phase1/__init__.py
  test_libs/pyspec/eth2spec/test/helpers/phase1/shard_block.py
  test_libs/pyspec/eth2spec/test/phase_1/shard_data_chain/test_shard_block.py
Labels: phase 1

#1283 Clarify the illegal SSZ types
  scripts/build_spec.py
  specs/core/1_custody-game.md
  specs/simple-serialize.md
  test_libs/pyspec/eth2spec/utils/ssz/ssz_impl.py
Labels: SSZ
