Repository ethereum/consensus-specs, pull requests merged in 2019-08, with the labels that each got.

#1328 Ethereum 2.0 Networking Specification
  specs/networking/libp2p-standardization.md
  specs/networking/messaging.md
  specs/networking/node-identification.md
  specs/networking/p2p-interface.md
  specs/networking/rpc-interface.md
Labels: RFC, networking

#1346 Clarify SSZ default values
  specs/simple-serialize.md
Labels: SSZ, presentation

#1338 doc standardization for networking spec
  specs/networking/p2p-interface.md
Labels: networking, proofread

#1326 Add shard state transition function
  configs/constant_presets/minimal.yaml
  scripts/build_spec.py
  specs/core/1_shard-data-chains.md
  test_libs/pyspec/eth2spec/test/helpers/phase1/attestations.py
  test_libs/pyspec/eth2spec/test/helpers/phase1/shard_block.py
  test_libs/pyspec/eth2spec/test/phase_1/shard_data_chain/test_beacon_attestation.py
  test_libs/pyspec/eth2spec/test/phase_1/shard_data_chain/test_shard_block.py
Labels: phase 1

#1305 Legendre custody construction
  configs/constant_presets/minimal.yaml
  scripts/build_spec.py
  specs/core/0_beacon-chain.md
  specs/core/1_custody-game.md
  test_libs/pyspec/eth2spec/test/fork_choice/test_on_attestation.py
  test_libs/pyspec/eth2spec/test/helpers/custody.py
  test_libs/pyspec/eth2spec/test/helpers/deposits.py
  test_libs/pyspec/eth2spec/test/phase_0/block_processing/test_process_attestation.py
  test_libs/pyspec/eth2spec/test/phase_1/block_processing/test_process_bit_challenge.py
  test_libs/pyspec/eth2spec/test/phase_1/block_processing/test_process_custody_key_reveal.py
  test_libs/pyspec/eth2spec/test/phase_1/block_processing/test_process_early_derived_secret_reveal.py
  test_libs/pyspec/eth2spec/utils/bls.py
  test_libs/pyspec/eth2spec/utils/merkle_minimal.py
Labels: phase 1

#1353 Add link from DepositData reference to definition
  specs/core/0_deposit-contract.md
Labels: deposit contract, presentation

#1347 Test generationm: make nil-count randomization work for lists
  test_libs/pyspec/eth2spec/debug/random_value.py
Labels: CI/tests

#1358 MAX_PERSISTENT_COMMITTEE_SIZE -> TARGET_PERSISTENT_COMMITTEE_SIZE
  specs/core/1_shard-data-chains.md
  test_libs/pyspec/eth2spec/test/helpers/phase1/shard_block.py
Labels: phase 1, presentation

#1350 Minor corrections and clarifications to the network specification
  specs/networking/p2p-interface.md
Labels: networking

#1186 Updates to SSZ Merkle proofs phase 0 doc
  specs/light_client/merkle_proofs.md
Labels: SSZ, light-clients

#1316 Updated light client sync for newer committees
  specs/light_client/sync_protocol.md
Labels: light-clients

#1363 Executable Merkle proofs
  Makefile
  scripts/build_spec.py
  specs/light_client/merkle_proofs.md
  test_libs/pyspec/eth2spec/test/merkle_proofs/__init__.py
  test_libs/pyspec/eth2spec/test/merkle_proofs/test_merkle_proofs.py
  test_libs/pyspec/eth2spec/utils/ssz/ssz_typing.py
Labels: light-clients

#1329 Remove light client infrastructure from phase 0
  specs/core/0_beacon-chain.md
  test_libs/pyspec/eth2spec/test/helpers/genesis.py
  test_libs/pyspec/eth2spec/test/phase_0/epoch_processing/test_process_final_updates.py
Labels: light-clients, post-freeze (substantive)
