Repository ethereum/consensus-specs, pull requests merged in 2019-06, with the labels that each got.

#1077 SSZ implementation for exec. spec - Support for Python 3 typing.
  .circleci/config.yml
  Makefile
  scripts/phase0/build_spec.py
  scripts/phase0/function_puller.py
  specs/core/0_beacon-chain.md
  test_generators/operations/main.py
  test_generators/ssz_static/main.py
  test_libs/pyspec/eth2spec/debug/decode.py
  test_libs/pyspec/eth2spec/debug/encode.py
  test_libs/pyspec/eth2spec/debug/random_value.py
  test_libs/pyspec/eth2spec/test/block_processing/test_process_deposit.py
  test_libs/pyspec/eth2spec/test/helpers/attestations.py
  test_libs/pyspec/eth2spec/test/helpers/bitfields.py
  test_libs/pyspec/eth2spec/test/helpers/block.py
  test_libs/pyspec/eth2spec/test/helpers/block_header.py
  test_libs/pyspec/eth2spec/test/helpers/deposits.py
  test_libs/pyspec/eth2spec/test/helpers/genesis.py
  test_libs/pyspec/eth2spec/test/helpers/transfers.py
  test_libs/pyspec/eth2spec/test/helpers/voluntary_exits.py
  test_libs/pyspec/eth2spec/test/sanity/test_blocks.py
  test_libs/pyspec/eth2spec/test/test_finality.py
  test_libs/pyspec/eth2spec/utils/hash_function.py
  test_libs/pyspec/eth2spec/utils/merkle_minimal.py
  test_libs/pyspec/eth2spec/utils/minimal_ssz.py
  test_libs/pyspec/eth2spec/utils/ssz/__init__.py
  test_libs/pyspec/eth2spec/utils/ssz/ssz_impl.py
  test_libs/pyspec/eth2spec/utils/ssz/ssz_typing.py
  test_libs/pyspec/requirements-testing.txt
  test_libs/pyspec/requirements.txt
  test_libs/pyspec/setup.py
Labels: SSZ

#1061 Make phase 1 spec executable
  .gitignore
  Makefile
  configs/constant_presets/minimal.yaml
  configs/fork_timelines/mainnet.yaml
  scripts/README.md
  scripts/__init__.py
  scripts/build_spec.py
  scripts/function_puller.py
  scripts/phase0/build_spec.py
  scripts/phase0/function_puller.py
  specs/core/0_beacon-chain.md
  specs/core/1_custody-game.md
  specs/core/1_shard-data-chains.md
  specs/simple-serialize.md
  test_generators/epoch_processing/main.py
  test_generators/operations/main.py
  test_generators/sanity/main.py
  test_generators/shuffling/main.py
  test_libs/pyspec/__init__.py
  test_libs/pyspec/eth2spec/phase1/__init__.py
  test_libs/pyspec/eth2spec/test/block_processing/test_process_attestation.py
  test_libs/pyspec/eth2spec/test/block_processing/test_process_attester_slashing.py
  test_libs/pyspec/eth2spec/test/block_processing/test_process_block_header.py
  test_libs/pyspec/eth2spec/test/block_processing/test_process_proposer_slashing.py
  test_libs/pyspec/eth2spec/test/block_processing/test_process_transfer.py
  test_libs/pyspec/eth2spec/test/conftest.py
  test_libs/pyspec/eth2spec/test/context.py
  test_libs/pyspec/eth2spec/test/helpers/attestations.py
  test_libs/pyspec/eth2spec/test/helpers/attester_slashings.py
  test_libs/pyspec/eth2spec/test/helpers/block.py
  test_libs/pyspec/eth2spec/test/helpers/block_header.py
  test_libs/pyspec/eth2spec/test/helpers/custody.py
  test_libs/pyspec/eth2spec/test/helpers/deposits.py
  test_libs/pyspec/eth2spec/test/helpers/genesis.py
  test_libs/pyspec/eth2spec/test/helpers/proposer_slashings.py
  test_libs/pyspec/eth2spec/test/helpers/state.py
  test_libs/pyspec/eth2spec/test/helpers/transfers.py
  test_libs/pyspec/eth2spec/test/helpers/voluntary_exits.py
  test_libs/pyspec/eth2spec/test/phase_0/__init__.py
  test_libs/pyspec/eth2spec/test/phase_0/block_processing/__init__.py
  test_libs/pyspec/eth2spec/test/phase_0/block_processing/test_process_attestation.py
  test_libs/pyspec/eth2spec/test/phase_0/block_processing/test_process_attester_slashing.py
  test_libs/pyspec/eth2spec/test/phase_0/block_processing/test_process_block_header.py
  test_libs/pyspec/eth2spec/test/phase_0/block_processing/test_process_deposit.py
  test_libs/pyspec/eth2spec/test/phase_0/block_processing/test_process_proposer_slashing.py
  test_libs/pyspec/eth2spec/test/phase_0/block_processing/test_process_transfer.py
  test_libs/pyspec/eth2spec/test/phase_0/block_processing/test_process_voluntary_exit.py
  test_libs/pyspec/eth2spec/test/phase_0/epoch_processing/__init__.py
  test_libs/pyspec/eth2spec/test/phase_0/epoch_processing/test_process_crosslinks.py
  test_libs/pyspec/eth2spec/test/phase_0/epoch_processing/test_process_registry_updates.py
  test_libs/pyspec/eth2spec/test/phase_1/__init__.py
  test_libs/pyspec/eth2spec/test/phase_1/block_processing/__init__.py
  test_libs/pyspec/eth2spec/test/phase_1/block_processing/test_process_early_derived_secret_reveal.py
  test_libs/pyspec/eth2spec/test/sanity/test_blocks.py
  test_libs/pyspec/eth2spec/test/sanity/test_slots.py
  test_libs/pyspec/eth2spec/test/test_finality.py
  test_libs/pyspec/eth2spec/utils/ssz/ssz_impl.py
  test_libs/pyspec/eth2spec/utils/ssz/ssz_typing.py
  test_libs/pyspec/tests/block_processing_phase1/phase1_test_process_randao_key_reveal.py
  test_libs/pyspec/tests/helpers_phase1.py
Labels: phase 1

#1127 Move deposit contract back
  .circleci/config.yml
  Makefile
  deposit_contract/README.md
  deposit_contract/contracts/__init__.py
  deposit_contract/contracts/validator_registration.json
  deposit_contract/contracts/validator_registration.v.py
  deposit_contract/requirements-testing.txt
  deposit_contract/tests/__init__.py
  deposit_contract/tests/contracts/__init__.py
  deposit_contract/tests/contracts/conftest.py
  deposit_contract/tests/contracts/test_compile.py
  deposit_contract/tests/contracts/test_deposit.py
  deposit_contract/tests/contracts/utils.py
  deposit_contract/tool/compile_deposit_contract.py
Labels: deposit contract

#1167 update naming of 2 constants, fix comments in minimal config
  configs/constant_presets/mainnet.yaml
  configs/constant_presets/minimal.yaml
  test_libs/pyspec/eth2spec/test/helpers/deposits.py
  test_libs/pyspec/eth2spec/test/helpers/genesis.py
  test_libs/pyspec/eth2spec/test/helpers/transfers.py
  test_libs/pyspec/eth2spec/test/phase_0/block_processing/test_process_deposit.py
Labels: CI/tests

#1165 phase restricted generators
  test_generators/epoch_processing/main.py
  test_generators/operations/main.py
  test_generators/sanity/main.py
  test_generators/shuffling/main.py
  test_generators/ssz_static/main.py
  test_libs/gen_helpers/gen_from_tests/gen.py
  test_libs/pyspec/eth2spec/test/context.py
  test_libs/pyspec/eth2spec/test/sanity/test_blocks.py
  test_libs/pyspec/eth2spec/test/utils.py
  test_libs/pyspec/eth2spec/utils/hash_function.py
  test_libs/pyspec/eth2spec/utils/ssz/ssz_typing.py
Labels: CI/tests

#1152 Custom genesis trigger, and deposit contract cleanups
  deposit_contract/contracts/validator_registration.json
  deposit_contract/contracts/validator_registration.v.py
  deposit_contract/tests/contracts/conftest.py
  deposit_contract/tests/contracts/test_deposit.py
  specs/core/0_beacon-chain.md
  specs/core/0_deposit-contract.md
Labels: deposit contract

#1171 attestations: check shard, and check epoch earlier. Open question about another attestation check.
  specs/core/0_beacon-chain.md
Labels: bug

#1175 fix #1169 bytes type error
  test_libs/pyspec/eth2spec/test/sanity/test_blocks.py
  test_libs/pyspec/eth2spec/utils/ssz/ssz_typing.py
Labels: bug

#1174 Fix #1173
  specs/core/0_beacon-chain.md
Labels: bug

#1178 Fuzzing utilities package / SSZ decoding for spec
  test_libs/pyspec/eth2spec/fuzzing/__init__.py
  test_libs/pyspec/eth2spec/fuzzing/decoder.py
  test_libs/pyspec/eth2spec/fuzzing/test_decoder.py
  test_libs/pyspec/requirements.txt
  test_libs/pyspec/setup.py
Labels: CI/tests, SSZ

#1182 generate coverage reports in make test, open as html site
  .gitignore
  Makefile
  test_libs/pyspec/README.md
  test_libs/pyspec/requirements-testing.txt
Labels: CI/tests

#1156 Cleanup containers
  configs/constant_presets/mainnet.yaml
  configs/constant_presets/minimal.yaml
  scripts/build_spec.py
  specs/core/0_beacon-chain.md
  specs/core/0_fork-choice.md
  specs/core/1_custody-game.md
  specs/core/1_shard-data-chains.md
  specs/light_client/sync_protocol.md
  specs/networking/rpc-interface.md
  specs/test_formats/operations/README.md
  specs/validator/0_beacon-chain-validator.md
  test_libs/pyspec/eth2spec/test/helpers/block.py
  test_libs/pyspec/eth2spec/test/helpers/deposits.py
  test_libs/pyspec/eth2spec/test/helpers/genesis.py
  test_libs/pyspec/eth2spec/test/helpers/proposer_slashings.py
  test_libs/pyspec/eth2spec/test/helpers/state.py
  test_libs/pyspec/eth2spec/test/helpers/transfers.py
  test_libs/pyspec/eth2spec/test/phase_0/block_processing/test_process_attester_slashing.py
  test_libs/pyspec/eth2spec/test/phase_0/block_processing/test_process_block_header.py
  test_libs/pyspec/eth2spec/test/phase_0/block_processing/test_process_deposit.py
  test_libs/pyspec/eth2spec/test/phase_0/block_processing/test_process_proposer_slashing.py
  test_libs/pyspec/eth2spec/test/phase_0/block_processing/test_process_transfer.py
  test_libs/pyspec/eth2spec/test/phase_0/block_processing/test_process_voluntary_exit.py
  test_libs/pyspec/eth2spec/test/phase_0/epoch_processing/test_process_registry_updates.py
  test_libs/pyspec/eth2spec/test/phase_1/block_processing/test_process_early_derived_secret_reveal.py
  test_libs/pyspec/eth2spec/test/sanity/test_blocks.py
Labels: June 30 freeze 🥶

#1157 Set MIN_ATTESTATION_INCLUSION_DELAY to 1
  specs/core/0_beacon-chain.md
Labels: June 30 freeze 🥶

#1159 Tweak inclusion delay rewards and set BASE_REWARD_FACTOR
  specs/core/0_beacon-chain.md
Labels: June 30 freeze 🥶

#1166 Add mypy type hinting check
  .gitignore
  Makefile
  scripts/build_spec.py
  scripts/function_puller.py
  specs/core/0_beacon-chain.md
  specs/core/1_custody-game.md
  specs/core/1_shard-data-chains.md
  specs/light_client/sync_protocol.md
  test_libs/pyspec/eth2spec/utils/ssz/ssz_typing.py
  test_libs/pyspec/requirements-testing.txt
Labels: CI/tests

#1189 Test format docs
  specs/test_formats/operations/README.md
  specs/test_formats/shuffling/README.md
  specs/test_formats/ssz_generic/README.md
  specs/test_formats/ssz_static/core.md
  test_generators/README.md
Labels: CI/tests, presentation

#1185 Executable fork choice
  .circleci/config.yml
  Makefile
  scripts/build_spec.py
  scripts/function_puller.py
  specs/core/0_fork-choice.md
  specs/core/1_shard-data-chains.md
  test_libs/pyspec/eth2spec/test/test_fork_choice.py
  test_libs/pyspec/eth2spec/utils/ssz/ssz_typing.py
  test_libs/pyspec/requirements.txt
  test_libs/pyspec/setup.py
Labels: June 30 freeze 🥶, fork-choice

#1208 Add note on default zero-values, and be explicit with state-root
  specs/core/0_beacon-chain.md
Labels: presentation

#1180 pyspec-SSZ: lists-rework (enable static generalized indices) + fully python class based now.
  configs/constant_presets/mainnet.yaml
  configs/constant_presets/minimal.yaml
  scripts/build_spec.py
  specs/core/0_beacon-chain.md
  specs/core/1_custody-game.md
  specs/core/1_shard-data-chains.md
  test_generators/ssz_static/main.py
  test_libs/pyspec/eth2spec/debug/decode.py
  test_libs/pyspec/eth2spec/debug/encode.py
  test_libs/pyspec/eth2spec/debug/random_value.py
  test_libs/pyspec/eth2spec/fuzzing/decoder.py
  test_libs/pyspec/eth2spec/test/helpers/custody.py
  test_libs/pyspec/eth2spec/test/helpers/genesis.py
  test_libs/pyspec/eth2spec/test/phase_0/block_processing/test_process_deposit.py
  test_libs/pyspec/eth2spec/test/sanity/test_blocks.py
  test_libs/pyspec/eth2spec/test/test_finality.py
  test_libs/pyspec/eth2spec/utils/merkle_minimal.py
  test_libs/pyspec/eth2spec/utils/ssz/ssz_impl.py
  test_libs/pyspec/eth2spec/utils/ssz/ssz_typing.py
  test_libs/pyspec/eth2spec/utils/ssz/test_ssz_impl.py
  test_libs/pyspec/eth2spec/utils/ssz/test_ssz_typing.py
  test_libs/pyspec/eth2spec/utils/test_merkle_minimal.py
  test_libs/pyspec/requirements.txt
  test_libs/pyspec/setup.py
Labels: SSZ

#1220 Critical fix: introduce back total-value check
  specs/core/0_beacon-chain.md
  test_libs/pyspec/eth2spec/test/phase_0/block_processing/test_process_transfer.py
Labels: June 30 freeze 🥶, bug

#1198 modify fork choice to utilize epochs properly
  specs/core/0_fork-choice.md
  test_libs/pyspec/eth2spec/test/fork_choice/test_get_head.py
  test_libs/pyspec/eth2spec/test/fork_choice/test_on_attestation.py
  test_libs/pyspec/eth2spec/test/fork_choice/test_on_block.py
  test_libs/pyspec/eth2spec/test/helpers/genesis.py
  test_libs/pyspec/eth2spec/test/test_fork_choice.py
Labels: June 30 freeze 🥶

#1210 Checkpoints in beacon spec
  specs/core/0_beacon-chain.md
  specs/core/0_fork-choice.md
  test_libs/pyspec/eth2spec/test/fork_choice/test_on_attestation.py
  test_libs/pyspec/eth2spec/test/helpers/attestations.py
  test_libs/pyspec/eth2spec/test/helpers/attester_slashings.py
  test_libs/pyspec/eth2spec/test/phase_0/block_processing/test_process_attestation.py
  test_libs/pyspec/eth2spec/test/phase_0/block_processing/test_process_attester_slashing.py
  test_libs/pyspec/eth2spec/test/phase_0/epoch_processing/test_process_crosslinks.py
  test_libs/pyspec/eth2spec/test/test_finality.py
Labels: June 30 freeze 🥶

#1209 Resolves issue in early_secret_reveal() testing
  specs/core/1_custody-game.md
  test_libs/pyspec/eth2spec/test/helpers/custody.py
  test_libs/pyspec/eth2spec/test/phase_1/block_processing/test_process_early_derived_secret_reveal.py
Labels: CI/tests, phase 1

#1217 Slashing penalty calculation change
  configs/constant_presets/mainnet.yaml
  configs/constant_presets/minimal.yaml
  specs/core/0_beacon-chain.md
  specs/core/1_custody-game.md
  test_libs/pyspec/eth2spec/test/phase_0/block_processing/test_process_attester_slashing.py
Labels: June 30 freeze 🥶

#1224 Add Bitlist and Bitvector
  scripts/build_spec.py
  specs/core/0_beacon-chain.md
  specs/core/1_custody-game.md
  specs/core/1_shard-data-chains.md
  specs/light_client/sync_protocol.md
  specs/simple-serialize.md
  specs/validator/0_beacon-chain-validator.md
  specs/validator/beacon_node_oapi.yaml
  test_libs/pyspec/eth2spec/debug/decode.py
  test_libs/pyspec/eth2spec/debug/encode.py
  test_libs/pyspec/eth2spec/debug/random_value.py
  test_libs/pyspec/eth2spec/fuzzing/decoder.py
  test_libs/pyspec/eth2spec/fuzzing/test_decoder.py
  test_libs/pyspec/eth2spec/test/fork_choice/test_on_attestation.py
  test_libs/pyspec/eth2spec/test/helpers/attestations.py
  test_libs/pyspec/eth2spec/test/helpers/bitfields.py
  test_libs/pyspec/eth2spec/test/phase_0/block_processing/test_process_attestation.py
  test_libs/pyspec/eth2spec/utils/ssz/ssz_impl.py
  test_libs/pyspec/eth2spec/utils/ssz/ssz_typing.py
  test_libs/pyspec/eth2spec/utils/ssz/test_ssz_impl.py
  test_libs/pyspec/eth2spec/utils/ssz/test_ssz_typing.py
Labels: June 30 freeze 🥶

#1219 Compact committee roots
  configs/constant_presets/mainnet.yaml
  configs/constant_presets/minimal.yaml
  specs/core/0_beacon-chain.md
  specs/light_client/sync_protocol.md
  test_libs/pyspec/eth2spec/test/helpers/attestations.py
  test_libs/pyspec/eth2spec/test/helpers/genesis.py
  test_libs/pyspec/eth2spec/test/phase_0/block_processing/test_process_attestation.py
Labels: June 30 freeze 🥶

#1206 Test coverage improvements
  test_libs/pyspec/eth2spec/test/helpers/transfers.py
  test_libs/pyspec/eth2spec/test/phase_0/block_processing/test_process_attestation.py
  test_libs/pyspec/eth2spec/test/phase_0/block_processing/test_process_attester_slashing.py
  test_libs/pyspec/eth2spec/test/phase_0/block_processing/test_process_deposit.py
  test_libs/pyspec/eth2spec/test/phase_0/block_processing/test_process_transfer.py
  test_libs/pyspec/eth2spec/test/phase_0/epoch_processing/run_epoch_process_base.py
  test_libs/pyspec/eth2spec/test/phase_0/epoch_processing/test_process_crosslinks.py
  test_libs/pyspec/eth2spec/test/phase_0/epoch_processing/test_process_final_updates.py
  test_libs/pyspec/eth2spec/test/phase_0/epoch_processing/test_process_justification_and_finalization.py
  test_libs/pyspec/eth2spec/test/phase_0/epoch_processing/test_process_registry_updates.py
  test_libs/pyspec/eth2spec/test/phase_0/epoch_processing/test_process_slashings.py
  test_libs/pyspec/eth2spec/test/sanity/test_blocks.py
Labels: CI/tests, June 30 freeze 🥶

#1202 Add `test_genesis.py` and fix `is_genesis_trigger`
  configs/constant_presets/mainnet.yaml
  configs/constant_presets/minimal.yaml
  deposit_contract/contracts/validator_registration.json
  deposit_contract/contracts/validator_registration.v.py
  deposit_contract/tests/contracts/test_deposit.py
  specs/core/0_beacon-chain.md
  specs/core/0_deposit-contract.md
  specs/validator/0_beacon-chain-validator.md
  test_libs/pyspec/eth2spec/test/context.py
  test_libs/pyspec/eth2spec/test/genesis/__init__.py
  test_libs/pyspec/eth2spec/test/genesis/test_initialize_beacon_state_from_eth1.py
  test_libs/pyspec/eth2spec/test/genesis/test_is_valid_genesis_state.py
  test_libs/pyspec/eth2spec/test/helpers/deposits.py
  test_libs/pyspec/eth2spec/test/phase_0/block_processing/test_process_deposit.py
  test_libs/pyspec/eth2spec/utils/merkle_minimal.py
  test_libs/pyspec/eth2spec/utils/test_merkle_minimal.py
Labels: CI/tests, June 30 freeze 🥶, deposit contract

#1237 Helpers cleanup
  scripts/build_spec.py
  specs/core/0_beacon-chain.md
  specs/core/0_fork-choice.md
  specs/core/1_custody-game.md
  specs/core/1_shard-data-chains.md
  specs/light_client/sync_protocol.md
  specs/validator/0_beacon-chain-validator.md
  test_generators/shuffling/main.py
  test_libs/pyspec/eth2spec/test/fork_choice/test_on_attestation.py
  test_libs/pyspec/eth2spec/test/helpers/attestations.py
  test_libs/pyspec/eth2spec/test/helpers/attester_slashings.py
  test_libs/pyspec/eth2spec/test/helpers/block.py
  test_libs/pyspec/eth2spec/test/helpers/deposits.py
  test_libs/pyspec/eth2spec/test/helpers/genesis.py
  test_libs/pyspec/eth2spec/test/phase_0/block_processing/test_process_deposit.py
  test_libs/pyspec/eth2spec/test/phase_0/block_processing/test_process_transfer.py
  test_libs/pyspec/eth2spec/test/phase_0/block_processing/test_process_voluntary_exit.py
  test_libs/pyspec/eth2spec/test/phase_0/epoch_processing/test_process_crosslinks.py
  test_libs/pyspec/eth2spec/test/phase_0/epoch_processing/test_process_justification_and_finalization.py
  test_libs/pyspec/eth2spec/test/phase_0/epoch_processing/test_process_registry_updates.py
  test_libs/pyspec/eth2spec/test/sanity/test_blocks.py
  test_libs/pyspec/eth2spec/test/test_finality.py
Labels: June 30 freeze 🥶

#1238 Update test vector generators
  specs/test_formats/bls/msg_hash_g2_compressed.md
  specs/test_formats/bls/msg_hash_g2_uncompressed.md
  specs/test_formats/bls/sign_msg.md
  specs/test_formats/epoch_processing/README.md
  specs/test_formats/genesis/README.md
  specs/test_formats/genesis/initialization.md
  specs/test_formats/genesis/validity.md
  specs/test_formats/operations/README.md
  specs/test_formats/sanity/slots.md
  test_generators/bls/main.py
  test_generators/epoch_processing/main.py
  test_generators/genesis/README.md
  test_generators/genesis/main.py
  test_generators/genesis/requirements.txt
  test_generators/operations/main.py
  test_generators/shuffling/main.py
  test_libs/pyspec/eth2spec/debug/encode.py
  test_libs/pyspec/eth2spec/test/genesis/test_initialization.py
  test_libs/pyspec/eth2spec/test/genesis/test_validity.py
  test_libs/pyspec/eth2spec/test/phase_0/block_processing/test_process_attestation.py
  test_libs/pyspec/eth2spec/test/utils.py
Labels: CI/tests, June 30 freeze 🥶

#1245 Update ToC
  specs/core/0_beacon-chain.md
  specs/core/0_fork-choice.md
  specs/core/1_custody-game.md
  specs/core/1_shard-data-chains.md
Labels: June 30 freeze 🥶

#1248 Fix genesis effective balance
  specs/core/0_beacon-chain.md
Labels: June 30 freeze 🥶
