Repository ethereum/consensus-specs, pull requests merged in 2019-03, with the labels that each got.

#682 Proof of custody game, take 2
  specs/core/1_shard-data-chains.md
Labels: phase 1

#699 fix committee assignment bugs
  specs/core/0_beacon-chain.md
Labels: bug

#750 Do not check withdrawal credentials for existing validators
  specs/core/0_beacon-chain.md
Labels: bug

#782 Clarify empty sums in BLS spec
  specs/bls_signature.md
Labels: presentation

#734 Persistent committee size per slot reduced to max 128
  specs/core/1_shard-data-chains.md
Labels: phase 1

#783 Simplify and cleanup process_attestation
  specs/core/0_beacon-chain.md
Labels: presentation

#801 Simplify exit_validator
  specs/core/0_beacon-chain.md
Labels: presentation

#830 Fix type hints of the new balance functions
  specs/core/0_beacon-chain.md
Labels: proofread

#763 Phase 0 Networking Specifications
  specs/networking/messaging.md
  specs/networking/node-identification.md
  specs/networking/rpc-interface.md
Labels: RFC

#838 Generalise `slash_validator` for phase 1
  specs/core/0_beacon-chain.md
Labels: phase 1

#818 Separate document for phase 1 custody game
  specs/core/1_custody-game.md
Labels: phase 1

#812 Replace custody challenge game with JABS
  specs/core/1_shard-data-chains.md
Labels: phase 1
