Repository ethereum/consensus-specs, pull requests merged in 2019-05, with the labels that each got.

#1015 Remove get_state_root from state transition doc
  specs/core/0_beacon-chain.md
  test_libs/pyspec/tests/helpers.py
  test_libs/pyspec/tests/test_sanity.py
Labels: CI/tests, presentation

#866 Custody game changes
  specs/core/1_custody-game.md
Labels: phase 1

#880 RANDAO reveal slashing, custody period staggering and integration of custody and RANDAO reveals
  specs/core/1_custody-game.md
  test_libs/pyspec/tests/block_processing_phase1/phase1_test_process_randao_key_reveal.py
  test_libs/pyspec/tests/helpers_phase1.py
Labels: phase 1

#1027 Fix underflows from #1017
  scripts/phase0/build_spec.py
  specs/core/0_beacon-chain.md
Labels: bug

#1024 implement SOS serialization in minimal_ssz.py
  test_libs/pyspec/eth2spec/utils/minimal_ssz.py
Labels: SSZ

#1045 update shuffling func name
  test_generators/shuffling/main.py
Labels: CI/tests

#1039 Doc standardization
  README.md
  configs/constant_presets/README.md
  configs/fork_timelines/README.md
  specs/bls_signature.md
  specs/core/0_beacon-chain.md
  specs/core/0_deposit-contract.md
  specs/core/0_fork-choice.md
  specs/core/1_custody-game.md
  specs/core/1_shard-data-chains.md
  specs/light_client/merkle_proofs.md
  specs/light_client/sync_protocol.md
  specs/networking/messaging.md
  specs/networking/node-identification.md
  specs/networking/rpc-interface.md
  specs/simple-serialize.md
  specs/test_formats/README.md
  specs/test_formats/bls/README.md
  specs/test_formats/shuffling/README.md
  specs/test_formats/ssz_generic/README.md
  specs/test_formats/ssz_static/README.md
  specs/test_formats/ssz_static/core.md
  specs/validator/0_beacon-chain-validator.md
  test_generators/README.md
  test_libs/pyspec/README.md
Labels: proofread

#1049 Cosmetic genesis cleanups
  specs/core/0_beacon-chain.md
Labels: presentation

#1051 Fix #1050
  specs/core/0_beacon-chain.md
Labels: bug

#893 Add union type and null to SSZ
  specs/simple-serialize.md
Labels: SSZ

#1028 Clean up verify_indexed_attestation
  specs/core/0_beacon-chain.md
  test_libs/pyspec/tests/block_processing/test_process_attestation.py
Labels: presentation

#1065 Add linter
  .circleci/config.yml
  Makefile
  scripts/phase0/build_spec.py
  scripts/phase0/function_puller.py
  specs/core/0_beacon-chain.md
  test_libs/pyspec/eth2spec/debug/decode.py
  test_libs/pyspec/eth2spec/debug/encode.py
  test_libs/pyspec/eth2spec/debug/random_value.py
Labels: CI/tests

#1052 Spectest decorator
  Makefile
  test_generators/operations/deposits.py
  test_generators/operations/genesis.py
  test_generators/operations/keys.py
  test_generators/operations/main.py
  test_generators/operations/requirements.txt
  test_generators/operations/suite_creator.py
  test_libs/pyspec/README.md
  test_libs/pyspec/eth2spec/test/__init__.py
  test_libs/pyspec/eth2spec/test/block_processing/__init__.py
  test_libs/pyspec/eth2spec/test/block_processing/test_process_attestation.py
  test_libs/pyspec/eth2spec/test/block_processing/test_process_attester_slashing.py
  test_libs/pyspec/eth2spec/test/block_processing/test_process_block_header.py
  test_libs/pyspec/eth2spec/test/block_processing/test_process_deposit.py
  test_libs/pyspec/eth2spec/test/block_processing/test_process_proposer_slashing.py
  test_libs/pyspec/eth2spec/test/block_processing/test_process_transfer.py
  test_libs/pyspec/eth2spec/test/block_processing/test_process_voluntary_exit.py
  test_libs/pyspec/eth2spec/test/conftest.py
  test_libs/pyspec/eth2spec/test/context.py
  test_libs/pyspec/eth2spec/test/epoch_processing/__init__.py
  test_libs/pyspec/eth2spec/test/epoch_processing/test_process_crosslinks.py
  test_libs/pyspec/eth2spec/test/epoch_processing/test_process_registry_updates.py
  test_libs/pyspec/eth2spec/test/helpers.py
  test_libs/pyspec/eth2spec/test/test_finality.py
  test_libs/pyspec/eth2spec/test/test_sanity.py
  test_libs/pyspec/eth2spec/test/utils.py
  test_libs/pyspec/tests/block_processing/test_process_attestation.py
  test_libs/pyspec/tests/block_processing/test_process_deposit.py
  test_libs/pyspec/tests/block_processing/test_process_proposer_slashing.py
  test_libs/pyspec/tests/conftest.py
  test_libs/pyspec/tests/test_sanity.py
Labels: CI/tests

#1018 Incorporate state_transition.py into state transition spec
  scripts/phase0/build_spec.py
  specs/core/0_beacon-chain.md
  specs/validator/0_beacon-chain-validator.md
  test_libs/pyspec/eth2spec/phase0/state_transition.py
  test_libs/pyspec/tests/block_processing/test_process_attestation.py
  test_libs/pyspec/tests/block_processing/test_process_block_header.py
  test_libs/pyspec/tests/epoch_processing/test_process_crosslinks.py
  test_libs/pyspec/tests/helpers.py
  test_libs/pyspec/tests/test_finality.py
  test_libs/pyspec/tests/test_sanity.py
Labels: bug, presentation

#974 Use SSZ union-types in RPC request/response
  specs/networking/rpc-interface.md
Labels: networking

#1035 Allow multiple bit challenges, and recover withdrawability
  specs/core/1_custody-game.md
Labels: phase 1

#1099 Updated get_custody_chunk_count
  specs/core/1_custody-game.md
Labels: phase 1

#935 Add initial libp2p standardization
  specs/networking/libp2p-standardization.md
Labels: networking

#1114 Finish state tests intro
  specs/test_formats/epoch_processing/README.md
  specs/test_formats/operations/README.md
  specs/test_formats/operations/deposits.md
  specs/test_formats/sanity/README.md
  specs/test_formats/sanity/blocks.md
  specs/test_formats/sanity/slots.md
  test_generators/epoch_processing/README.md
  test_generators/epoch_processing/main.py
  test_generators/epoch_processing/requirements.txt
  test_generators/operations/README.md
  test_generators/operations/main.py
  test_generators/operations/suite_creator.py
  test_generators/sanity/README.md
  test_generators/sanity/main.py
  test_generators/sanity/requirements.txt
  test_libs/gen_helpers/gen_from_tests/__init__.py
  test_libs/gen_helpers/gen_from_tests/gen.py
  test_libs/gen_helpers/setup.py
  test_libs/pyspec/eth2spec/test/block_processing/test_process_attestation.py
  test_libs/pyspec/eth2spec/test/block_processing/test_process_block_header.py
  test_libs/pyspec/eth2spec/test/block_processing/test_process_deposit.py
  test_libs/pyspec/eth2spec/test/block_processing/test_process_transfer.py
  test_libs/pyspec/eth2spec/test/block_processing/test_process_voluntary_exit.py
  test_libs/pyspec/eth2spec/test/epoch_processing/test_process_crosslinks.py
  test_libs/pyspec/eth2spec/test/epoch_processing/test_process_registry_updates.py
  test_libs/pyspec/eth2spec/test/helpers/attestations.py
  test_libs/pyspec/eth2spec/test/sanity/__init__.py
  test_libs/pyspec/eth2spec/test/sanity/test_blocks.py
  test_libs/pyspec/eth2spec/test/sanity/test_slots.py
  test_libs/pyspec/eth2spec/test/utils.py
Labels: CI/tests

#1116 Clean up `process_penalties_and_exits` and fix ToC
  specs/core/1_custody-game.md
Labels: phase 1

#1132 fix dev branch build script, missing quotes
  scripts/phase0/function_puller.py
Labels: CI/tests

#1069 Beacon Node API for Validator
  README.md
  specs/validator/0_beacon-node-validator-api.md
  specs/validator/beacon_node_oapi.yaml
Labels: RFC, validator-api

#1136 Fix linter errors
  scripts/phase0/build_spec.py
  specs/core/0_beacon-chain.md
  test_libs/pyspec/eth2spec/test/block_processing/test_process_transfer.py
  test_libs/pyspec/eth2spec/test/conftest.py
  test_libs/pyspec/eth2spec/test/helpers/block.py
  test_libs/pyspec/eth2spec/test/sanity/test_slots.py
Labels: CI/tests
