Repository ethereum/consensus-specs, pull requests merged in 2019-02, with the labels that each got.

#586 Updated phase 1: fork choice rule
  specs/core/1_shard-data-chains.md
Labels: phase 1

#579 Updated phase 1: commitments
  specs/core/1_shard-data-chains.md
Labels: phase 1

#578 Updated phase 1: shard block structure
  specs/core/1_shard-data-chains.md
Labels: phase 1

#596 Do not duplicate `bytes` length when tree-hashing
  specs/simple-serialize.md
Labels: SSZ

#604 Refactor `get_persistent_committee`
  specs/core/1_shard-data-chains.md
Labels: phase 1

#602 Fix SSZ merkleisation bug
  specs/simple-serialize.md
Labels: SSZ

#595 Merkleise SSZ container elements
  specs/simple-serialize.md
Labels: SSZ

#617 Fix `compute_commitment`
  specs/core/1_shard-data-chains.md
Labels: phase 1

#625 Signature hashing proposal
  specs/simple-serialize.md
Labels: SSZ

#587 Updated phase 1: branch and early subkey reveal challenges
  specs/core/1_shard-data-chains.md
Labels: phase 1

#673 make getting assignments more generic
  specs/validator/0_beacon-chain-validator.md
Labels: v-guide

#684 Developer notice
  specs/core/1_shard-data-chains.md
Labels: phase 1
