Repository ethereum/consensus-specs, pull requests merged in 2019-12, with the labels that each got.

#1500 fix is_aggregator for aggregation topic
  specs/networking/p2p-interface.md
Labels: scope:networking

#1492 Remove duplicated attestation target root check
  specs/core/0_fork-choice.md
Labels: scope:fork-choice

#1491 rm signing root (fixes #1487)
  scripts/build_spec.py
  specs/core/0_beacon-chain.md
  specs/core/0_fork-choice.md
  specs/core/1_custody-game.md
  specs/core/1_shard-data-chains.md
  specs/networking/p2p-interface.md
  specs/simple-serialize.md
  specs/test_formats/ssz_generic/README.md
  specs/test_formats/ssz_static/core.md
  specs/validator/0_beacon-chain-validator.md
  test_generators/ssz_generic/ssz_test_case.py
  test_generators/ssz_static/main.py
  test_libs/pyspec/eth2spec/test/fork_choice/test_get_head.py
  test_libs/pyspec/eth2spec/test/fork_choice/test_on_attestation.py
  test_libs/pyspec/eth2spec/test/fork_choice/test_on_block.py
  test_libs/pyspec/eth2spec/test/helpers/attestations.py
  test_libs/pyspec/eth2spec/test/helpers/block.py
  test_libs/pyspec/eth2spec/test/helpers/block_header.py
  test_libs/pyspec/eth2spec/test/helpers/deposits.py
  test_libs/pyspec/eth2spec/test/helpers/phase1/shard_block.py
  test_libs/pyspec/eth2spec/test/helpers/proposer_slashings.py
  test_libs/pyspec/eth2spec/test/helpers/state.py
  test_libs/pyspec/eth2spec/test/helpers/voluntary_exits.py
  test_libs/pyspec/eth2spec/test/phase_0/block_processing/test_process_block_header.py
  test_libs/pyspec/eth2spec/test/phase_0/block_processing/test_process_proposer_slashing.py
  test_libs/pyspec/eth2spec/test/phase_0/block_processing/test_process_voluntary_exit.py
  test_libs/pyspec/eth2spec/test/phase_1/sanity/test_shard_blocks.py
  test_libs/pyspec/eth2spec/test/sanity/test_blocks.py
  test_libs/pyspec/eth2spec/utils/ssz/ssz_impl.py
  test_libs/pyspec/eth2spec/utils/ssz/ssz_typing.py
Labels: scope:SSZ

#1495 filter viable branches in fork choice
  specs/core/0_fork-choice.md
  test_libs/pyspec/eth2spec/test/fork_choice/test_get_head.py
Labels: scope:fork-choice

#1510 explicit use of GENESIS_SLOT in fork choice
  specs/core/0_fork-choice.md
Labels: scope:fork-choice

#1508 ensure the best better-justification is stored in fork choice
  specs/core/0_fork-choice.md
  test_libs/pyspec/eth2spec/test/fork_choice/test_on_block.py
Labels: scope:fork-choice

#1509 ensure that epoch of attestation slot matches the target epoch
  specs/core/0_beacon-chain.md
  specs/core/0_fork-choice.md
  test_libs/pyspec/eth2spec/test/fork_choice/test_on_attestation.py
  test_libs/pyspec/eth2spec/test/phase_0/block_processing/test_process_attestation.py
Labels: scope:phase0-core

#1517 update mypy to compile pyspec well with py 3.8.0, and minor mypy fix
  scripts/build_spec.py
  test_libs/pyspec/requirements-testing.txt
Labels: scope:CI/tests

#1516 Fixes #1486: disallow duplicate indices in indexed attestation
  specs/core/0_beacon-chain.md
  test_libs/pyspec/eth2spec/test/phase_0/block_processing/test_process_attester_slashing.py
Labels: general:bug, scope:CI/tests

#1518 Two tests for proposer indices being off because of (in)active validators
  test_libs/pyspec/eth2spec/test/sanity/test_blocks.py
Labels: scope:CI/tests

#1512 Check table of content of markdown files with CI
  .circleci/config.yml
  Makefile
  specs/bls_signature.md
  specs/core/0_beacon-chain.md
  specs/core/0_deposit-contract.md
  specs/core/0_fork-choice.md
  specs/core/1_beacon-chain-misc.md
  specs/core/1_custody-game.md
  specs/core/1_shard-data-chains.md
  specs/light_client/merkle_proofs.md
  specs/light_client/sync_protocol.md
  specs/networking/p2p-interface.md
  specs/simple-serialize.md
  specs/validator/0_beacon-chain-validator.md
Labels: general:presentation, scope:CI/tests

#1507 Release v0.9.3 to master
  .circleci/config.yml
  Makefile
  deposit_contract/contracts/validator_registration.json
  deposit_contract/contracts/validator_registration.v.py
  deposit_contract/requirements-testing.txt
  scripts/build_spec.py
  specs/bls_signature.md
  specs/core/0_beacon-chain.md
  specs/core/0_deposit-contract.md
  specs/core/0_fork-choice.md
  specs/core/1_beacon-chain-misc.md
  specs/core/1_custody-game.md
  specs/core/1_shard-data-chains.md
  specs/light_client/merkle_proofs.md
  specs/light_client/sync_protocol.md
  specs/networking/p2p-interface.md
  specs/simple-serialize.md
  specs/test_formats/ssz_generic/README.md
  specs/test_formats/ssz_static/core.md
  specs/validator/0_beacon-chain-validator.md
  test_generators/ssz_generic/ssz_test_case.py
  test_generators/ssz_static/main.py
  test_libs/pyspec/eth2spec/test/fork_choice/test_get_head.py
  test_libs/pyspec/eth2spec/test/fork_choice/test_on_attestation.py
  test_libs/pyspec/eth2spec/test/fork_choice/test_on_block.py
  test_libs/pyspec/eth2spec/test/helpers/attestations.py
  test_libs/pyspec/eth2spec/test/helpers/block.py
  test_libs/pyspec/eth2spec/test/helpers/block_header.py
  test_libs/pyspec/eth2spec/test/helpers/deposits.py
  test_libs/pyspec/eth2spec/test/helpers/phase1/shard_block.py
  test_libs/pyspec/eth2spec/test/helpers/proposer_slashings.py
  test_libs/pyspec/eth2spec/test/helpers/state.py
  test_libs/pyspec/eth2spec/test/helpers/voluntary_exits.py
  test_libs/pyspec/eth2spec/test/phase_0/block_processing/test_process_attestation.py
  test_libs/pyspec/eth2spec/test/phase_0/block_processing/test_process_attester_slashing.py
  test_libs/pyspec/eth2spec/test/phase_0/block_processing/test_process_block_header.py
  test_libs/pyspec/eth2spec/test/phase_0/block_processing/test_process_proposer_slashing.py
  test_libs/pyspec/eth2spec/test/phase_0/block_processing/test_process_voluntary_exit.py
  test_libs/pyspec/eth2spec/test/phase_0/epoch_processing/test_process_registry_updates.py
  test_libs/pyspec/eth2spec/test/phase_1/sanity/test_shard_blocks.py
  test_libs/pyspec/eth2spec/test/sanity/test_blocks.py
  test_libs/pyspec/eth2spec/utils/ssz/ssz_impl.py
  test_libs/pyspec/eth2spec/utils/ssz/ssz_typing.py
  test_libs/pyspec/requirements-testing.txt
Labels: DO NOT MERGE

#1544 Fix v093 tests: 2 pre-states missed, 1 unsigned block
  test_libs/pyspec/eth2spec/test/sanity/test_blocks.py
Labels: scope:CI/tests

#1551 PySpec SSZ Bytes instantiated from hex string
  scripts/build_spec.py
  specs/core/0_beacon-chain.md
  specs/core/1_custody-game.md
  specs/core/1_shard-data-chains.md
  test_libs/pyspec/eth2spec/utils/ssz/ssz_typing.py
Labels: scope:SSZ
