Repository ethereum/consensus-specs, pull requests merged in 2019-11, with the labels that each got.

#1459 hash cleanups
  specs/networking/p2p-interface.md
Labels: networking

#1465 Bounce attack resistance
  configs/mainnet.yaml
  configs/minimal.yaml
  specs/core/0_fork-choice.md
  test_libs/pyspec/eth2spec/test/fork_choice/test_on_block.py
  test_libs/pyspec/eth2spec/test/fork_choice/test_on_tick.py
Labels: fork-choice

#1466 Decoy flip flop resistance
  specs/core/0_fork-choice.md
  specs/validator/0_beacon-chain-validator.md
  test_libs/pyspec/eth2spec/test/fork_choice/test_on_attestation.py
Labels: fork-choice

#1471 Update the expected proposer period
  specs/validator/0_beacon-chain-validator.md
Labels: v-guide

#1476 Phase 0 attestation topic directives
  configs/mainnet.yaml
  configs/minimal.yaml
  specs/validator/0_beacon-chain-validator.md
Labels: scope:networking, scope:v-guide

#1477 Forkchoice mods
  specs/core/0_fork-choice.md
  test_libs/pyspec/eth2spec/test/fork_choice/test_on_attestation.py
  test_libs/pyspec/eth2spec/test/helpers/state.py
Labels: scope:fork-choice

#1478 Avoid Hash <> hash() type and func confusion
  scripts/build_spec.py
  specs/core/0_beacon-chain.md
  specs/core/0_fork-choice.md
  specs/core/1_beacon-chain-misc.md
  specs/core/1_custody-game.md
  specs/core/1_shard-data-chains.md
  specs/light_client/merkle_proofs.md
  specs/light_client/sync_protocol.md
  test_libs/pyspec/eth2spec/test/helpers/block.py
  test_libs/pyspec/eth2spec/test/phase_0/block_processing/test_process_deposit.py
  test_libs/pyspec/eth2spec/test/sanity/test_blocks.py
  test_libs/pyspec/eth2spec/utils/ssz/test_ssz_typing.py
Labels: general:presentation

#1484 Minor refactor aggregation strategy
  specs/networking/p2p-interface.md
  specs/validator/0_beacon-chain-validator.md
Labels: general:presentation, scope:networking, scope:v-guide

#1480 Rename BytesN to ByteVector, rename Bytes to ByteList
  scripts/build_spec.py
  specs/core/1_custody-game.md
  specs/light_client/merkle_proofs.md
  test_libs/pyspec/eth2spec/debug/decode.py
  test_libs/pyspec/eth2spec/debug/encode.py
  test_libs/pyspec/eth2spec/debug/random_value.py
  test_libs/pyspec/eth2spec/fuzzing/decoder.py
  test_libs/pyspec/eth2spec/test/helpers/custody.py
  test_libs/pyspec/eth2spec/utils/ssz/ssz_impl.py
  test_libs/pyspec/eth2spec/utils/ssz/ssz_typing.py
  test_libs/pyspec/eth2spec/utils/ssz/test_ssz_impl.py
  test_libs/pyspec/eth2spec/utils/ssz/test_ssz_typing.py
Labels: general:presentation, scope:SSZ

#1467 reduce genesis validator count for mainnet config
  configs/mainnet.yaml
  specs/core/0_beacon-chain.md
Labels: scope:genesis

#1497 Vyper b12->b13
  deposit_contract/contracts/validator_registration.json
  deposit_contract/contracts/validator_registration.v.py
  deposit_contract/requirements-testing.txt
Labels: scope:deposit contract
