Repository ethereum/consensus-specs, pull requests merged in 2019-10, with the labels that each got.

#1383 Revamp 1_shard-data-chains.md
  scripts/build_spec.py
  scripts/function_puller.py
  specs/core/1_beacon-chain-misc.md
  specs/core/1_shard-data-chains.md
  test_libs/pyspec/eth2spec/test/helpers/phase1/attestations.py
  test_libs/pyspec/eth2spec/test/helpers/phase1/shard_block.py
  test_libs/pyspec/eth2spec/test/helpers/phase1/shard_state.py
  test_libs/pyspec/eth2spec/test/phase_1/sanity/test_shard_blocks.py
  test_libs/pyspec/eth2spec/test/phase_1/shard_data_chain/test_beacon_attestation.py
  test_libs/pyspec/eth2spec/test/phase_1/shard_data_chain/test_shard_block.py
Labels: phase 1

#1434 Fix delay-based attestation inclusion reward
  specs/core/0_beacon-chain.md
Labels: enhancement

#1423 merkle proofs: Fix get_helper_indices
  specs/light_client/merkle_proofs.md
Labels: light-clients

#1381 SSZ clarifications on deserialization
  specs/simple-serialize.md
Labels: SSZ

#1447 Implement solution for #1446, based on suggested use of eth1 hash
  specs/core/0_beacon-chain.md
  test_libs/pyspec/eth2spec/test/helpers/genesis.py
  test_libs/pyspec/eth2spec/test/sanity/test_blocks.py
Labels: genesis

#1454 Forkchoice tests fixed
  specs/core/0_fork-choice.md
  test_libs/pyspec/eth2spec/test/context.py
  test_libs/pyspec/eth2spec/test/fork_choice/test_get_head.py
  test_libs/pyspec/eth2spec/test/fork_choice/test_on_attestation.py
  test_libs/pyspec/eth2spec/test/fork_choice/test_on_block.py
Labels: CI/tests

#1440 Naive aggregation strategy
  scripts/build_spec.py
  specs/networking/p2p-interface.md
  specs/validator/0_beacon-chain-validator.md
Labels: attestation-management, networking

#1457 Signing root reqs
  specs/networking/p2p-interface.md
Labels: networking
