Repository ethereum/consensus-specs, pull requests merged in 2020-10, with the labels that each got.

#2080 Bump IETF BLS spec version draft 03 -> draft 04
  setup.py
  specs/phase0/beacon-chain.md
  tests/core/pyspec/eth2spec/utils/bls.py
  tests/formats/bls/sign.md
  tests/generators/bls/main.py
  tests/generators/bls/requirements.txt
Labels: DO NOT MERGE, scope:BLS

#2087 Bump milagro_bls_binding to 1.5.0
  setup.py
  tests/core/pyspec/eth2spec/utils/bls.py
  tests/generators/bls/main.py
Labels: scope:BLS, scope:CI/tests

#2089 fix message-id issues
  specs/phase0/p2p-interface.md
Labels: scope:networking

#2099 Fix BLS testgen typo
  tests/generators/bls/main.py
Labels: scope:CI/tests
