Repository ethereum/consensus-specs, pull requests merged in 2020-09, with the labels that each got.

#2032 Make `cellog2` return `uint64`
  setup.py
Labels: phase1

#2016 Add new decorators to skip tests and handle it in testgen
  configs/mainnet/phase0.yaml
  configs/mainnet/phase1.yaml
  configs/minimal/phase0.yaml
  configs/minimal/phase1.yaml
  setup.py
  tests/core/gen_helpers/gen_base/gen_runner.py
  tests/core/gen_helpers/requirements.txt
  tests/core/gen_helpers/setup.py
  tests/core/pyspec/eth2spec/config/config_util.py
  tests/core/pyspec/eth2spec/test/context.py
  tests/core/pyspec/eth2spec/test/exceptions.py
  tests/core/pyspec/eth2spec/test/helpers/custody.py
  tests/core/pyspec/eth2spec/test/helpers/shard_transitions.py
  tests/core/pyspec/eth2spec/test/phase0/sanity/test_blocks.py
  tests/core/pyspec/eth2spec/test/phase1/block_processing/test_process_chunk_challenge.py
  tests/core/pyspec/eth2spec/test/phase1/block_processing/test_process_custody_slashing.py
  tests/core/pyspec/eth2spec/test/phase1/block_processing/test_process_shard_transition.py
  tests/core/pyspec/eth2spec/test/phase1/sanity/test_blocks.py
  tests/core/pyspec/eth2spec/test/phase1/sanity/test_shard_blocks.py
  tests/core/pyspec/eth2spec/test/phase1/unittests/fork_choice/test_on_shard_block.py
  tests/generators/sanity/main.py
Labels: scope:CI/tests

#2038 Skip the too-slow custody tests and turn on the generators
  tests/core/pyspec/eth2spec/test/context.py
  tests/core/pyspec/eth2spec/test/phase1/block_processing/test_process_chunk_challenge.py
  tests/core/pyspec/eth2spec/test/phase1/block_processing/test_process_custody_slashing.py
  tests/core/pyspec/eth2spec/test/phase1/epoch_processing/test_process_challenge_deadlines.py
  tests/core/pyspec/eth2spec/test/phase1/epoch_processing/test_process_reveal_deadlines.py
  tests/generators/epoch_processing/main.py
  tests/generators/finality/main.py
  tests/generators/operations/main.py
  tests/generators/rewards/main.py
  tests/generators/sanity/main.py
Labels: phase1, scope:CI/tests

#2034 Add a constant for slash penalty multiplier
  configs/mainnet/phase0.yaml
  configs/minimal/phase0.yaml
  specs/phase0/beacon-chain.md
Labels: phase0

#2035 Phase1 rewards flag testing fixes
  specs/phase0/beacon-chain.md
  specs/phase1/beacon-chain.md
  specs/phase1/validator.md
  tests/core/pyspec/eth2spec/test/helpers/attestations.py
  tests/core/pyspec/eth2spec/test/helpers/custody.py
  tests/core/pyspec/eth2spec/test/helpers/rewards.py
  tests/core/pyspec/eth2spec/test/helpers/shard_block.py
  tests/core/pyspec/eth2spec/test/phase0/epoch_processing/test_process_rewards_and_penalties.py
  tests/core/pyspec/eth2spec/test/phase0/rewards/test_basic.py
  tests/core/pyspec/eth2spec/test/phase0/rewards/test_leak.py
  tests/core/pyspec/eth2spec/test/phase0/rewards/test_random.py
  tests/core/pyspec/eth2spec/test/phase1/block_processing/test_process_chunk_challenge.py
  tests/core/pyspec/eth2spec/test/phase1/block_processing/test_process_custody_slashing.py
  tests/core/pyspec/eth2spec/test/phase1/block_processing/test_process_shard_transition.py
  tests/core/pyspec/eth2spec/test/phase1/epoch_processing/test_process_challenge_deadlines.py
  tests/core/pyspec/eth2spec/test/phase1/epoch_processing/test_process_custody_final_updates.py
  tests/core/pyspec/eth2spec/test/phase1/unittests/fork_choice/test_on_shard_block.py
Labels: phase1

#2017 Add `disable_process_reveal_deadlines` decorator and `reveal_deadlines_setting` meta tag
  tests/core/pyspec/eth2spec/test/context.py
  tests/core/pyspec/eth2spec/test/phase0/sanity/test_blocks.py
  tests/core/pyspec/eth2spec/test/phase1/block_processing/test_process_chunk_challenge.py
  tests/core/pyspec/eth2spec/test/phase1/block_processing/test_process_custody_slashing.py
  tests/core/pyspec/eth2spec/test/phase1/epoch_processing/test_process_challenge_deadlines.py
  tests/core/pyspec/eth2spec/test/phase1/epoch_processing/test_process_reveal_deadlines.py
  tests/formats/README.md
  tests/formats/sanity/blocks.md
  tests/generators/epoch_processing/main.py
  tests/generators/finality/main.py
  tests/generators/operations/main.py
  tests/generators/rewards/main.py
  tests/generators/sanity/main.py
Labels: scope:CI/tests

#2027 Apply flag rewards in all contexts
  setup.py
  specs/phase0/beacon-chain.md
  specs/phase1/beacon-chain.md
  specs/phase1/phase1-fork.md
  specs/phase1/validator.md
  tests/core/pyspec/eth2spec/test/helpers/attestations.py
  tests/core/pyspec/eth2spec/test/helpers/custody.py
  tests/core/pyspec/eth2spec/test/helpers/rewards.py
  tests/core/pyspec/eth2spec/test/helpers/shard_block.py
  tests/core/pyspec/eth2spec/test/helpers/shard_transitions.py
  tests/core/pyspec/eth2spec/test/phase0/epoch_processing/test_process_justification_and_finalization.py
  tests/core/pyspec/eth2spec/test/phase0/epoch_processing/test_process_rewards_and_penalties.py
  tests/core/pyspec/eth2spec/test/phase0/rewards/test_basic.py
  tests/core/pyspec/eth2spec/test/phase0/rewards/test_leak.py
  tests/core/pyspec/eth2spec/test/phase0/rewards/test_random.py
  tests/core/pyspec/eth2spec/test/phase0/sanity/test_blocks.py
  tests/core/pyspec/eth2spec/test/phase1/block_processing/test_process_chunk_challenge.py
  tests/core/pyspec/eth2spec/test/phase1/block_processing/test_process_custody_slashing.py
  tests/core/pyspec/eth2spec/test/phase1/block_processing/test_process_shard_transition.py
  tests/core/pyspec/eth2spec/test/phase1/epoch_processing/test_process_challenge_deadlines.py
  tests/core/pyspec/eth2spec/test/phase1/epoch_processing/test_process_custody_final_updates.py
  tests/core/pyspec/eth2spec/test/phase1/unittests/fork_choice/test_on_shard_block.py
Labels: phase1

#2041 Minor proposed rework for transition candidates
  specs/phase1/beacon-chain.md
  specs/phase1/validator.md
Labels: phase1

#2043 clarify offsets serialization
  ssz/simple-serialize.md
Labels: general:presentation, scope:SSZ

#2042 Added final shard chain head to the shard transition data structure
  specs/phase1/beacon-chain.md
  specs/phase1/validator.md
  tests/core/pyspec/eth2spec/test/helpers/attestations.py
  tests/core/pyspec/eth2spec/test/helpers/custody.py
  tests/core/pyspec/eth2spec/test/helpers/shard_block.py
Labels: phase1

#2036 Non-substantive typing clean-up
  setup.py
  specs/phase0/beacon-chain.md
  specs/phase0/validator.md
  specs/phase1/beacon-chain.md
  specs/phase1/custody-game.md
  specs/phase1/validator.md
Labels: general:typing

#2030 Two more gossip validations
  specs/phase0/p2p-interface.md
Labels: scope:networking

#2056 deposit contract: add verifying bytecode to readme
  solidity_deposit_contract/README.md
Labels: scope:deposit contract

#2051 Bump IETF BLS standard version to -03
  specs/phase0/beacon-chain.md
Labels: scope:BLS

#2044 use raw SHA256 as message-id
  specs/phase0/p2p-interface.md
Labels: scope:networking

#2046 Adjust reward accounting
  setup.py
  specs/phase1/beacon-chain.md
  specs/phase1/custody-game.md
  tests/core/pyspec/eth2spec/test/helpers/rewards.py
  tests/core/pyspec/eth2spec/test/phase0/epoch_processing/test_process_justification_and_finalization.py
  tests/core/pyspec/eth2spec/test/phase0/epoch_processing/test_process_rewards_and_penalties.py
  tests/core/pyspec/eth2spec/test/phase0/sanity/test_blocks.py
Labels: phase1

#2061 Pass `anchor_block` to `get_forkchoice_store`
  specs/phase0/fork-choice.md
  specs/phase1/fork-choice.md
  tests/core/pyspec/eth2spec/test/helpers/fork_choice.py
  tests/core/pyspec/eth2spec/test/phase0/unittests/fork_choice/test_get_head.py
  tests/core/pyspec/eth2spec/test/phase0/unittests/fork_choice/test_on_attestation.py
  tests/core/pyspec/eth2spec/test/phase0/unittests/fork_choice/test_on_block.py
  tests/core/pyspec/eth2spec/test/phase0/unittests/fork_choice/test_on_tick.py
  tests/core/pyspec/eth2spec/test/phase1/unittests/fork_choice/test_on_shard_block.py
Labels: scope:fork-choice

#2067 Remove outdated BLS standard note
  specs/phase0/beacon-chain.md
Labels: scope:BLS

#2075 skip large_validator_set tests if too large (mainnet config)
  tests/core/pyspec/eth2spec/test/context.py
  tests/core/pyspec/eth2spec/test/phase0/sanity/test_blocks.py
Labels: scope:CI/tests

#1957 Enable test generation for phase1
  .circleci/config.yml
  Makefile
  configs/mainnet/phase0.yaml
  configs/mainnet/phase1.yaml
  configs/minimal/phase0.yaml
  configs/minimal/phase1.yaml
  setup.py
  tests/core/gen_helpers/gen_base/gen_runner.py
  tests/core/gen_helpers/requirements.txt
  tests/core/gen_helpers/setup.py
  tests/core/pyspec/eth2spec/config/config_util.py
  tests/core/pyspec/eth2spec/debug/random_value.py
  tests/core/pyspec/eth2spec/test/context.py
  tests/core/pyspec/eth2spec/test/exceptions.py
  tests/core/pyspec/eth2spec/test/helpers/custody.py
  tests/core/pyspec/eth2spec/test/helpers/shard_transitions.py
  tests/core/pyspec/eth2spec/test/phase0/block_processing/test_process_attester_slashing.py
  tests/core/pyspec/eth2spec/test/phase0/sanity/test_blocks.py
  tests/core/pyspec/eth2spec/test/phase1/block_processing/test_process_chunk_challenge.py
  tests/core/pyspec/eth2spec/test/phase1/block_processing/test_process_custody_slashing.py
  tests/core/pyspec/eth2spec/test/phase1/block_processing/test_process_shard_transition.py
  tests/core/pyspec/eth2spec/test/phase1/epoch_processing/test_process_challenge_deadlines.py
  tests/core/pyspec/eth2spec/test/phase1/epoch_processing/test_process_reveal_deadlines.py
  tests/core/pyspec/eth2spec/test/phase1/sanity/test_blocks.py
  tests/core/pyspec/eth2spec/test/phase1/sanity/test_shard_blocks.py
  tests/core/pyspec/eth2spec/test/phase1/unittests/fork_choice/test_on_shard_block.py
  tests/formats/README.md
  tests/formats/sanity/blocks.md
  tests/generators/epoch_processing/main.py
  tests/generators/finality/main.py
  tests/generators/operations/main.py
  tests/generators/rewards/main.py
  tests/generators/sanity/main.py
  tests/generators/ssz_generic/ssz_boolean.py
  tests/generators/ssz_generic/ssz_container.py
  tests/generators/ssz_static/main.py
Labels: phase1, scope:CI/tests

#2054 Typos in: p2p-interface.md
  specs/phase0/p2p-interface.md
Labels: general:proofread

#2079 cleanup phase1 TOC contents
  specs/phase1/beacon-chain.md
  specs/phase1/phase1-fork.md
  specs/phase1/shard-transition.md
Labels: general:presentation

#2064 Initialize `online_countdown` for each new validator
  specs/phase0/beacon-chain.md
  specs/phase1/beacon-chain.md
  tests/core/pyspec/eth2spec/test/phase0/block_processing/test_process_deposit.py
  tests/core/pyspec/eth2spec/test/phase0/epoch_processing/run_epoch_process_base.py
  tests/core/pyspec/eth2spec/test/phase0/epoch_processing/test_process_final_updates.py
  tests/core/pyspec/eth2spec/test/phase0/sanity/test_blocks.py
  tests/core/pyspec/eth2spec/test/phase1/epoch_processing/test_process_final_updates.py
Labels: general:bug, phase1

#2083 additional genesis init tests
  tests/core/pyspec/eth2spec/test/helpers/deposits.py
  tests/core/pyspec/eth2spec/test/phase0/genesis/test_initialization.py
  tests/core/pyspec/eth2spec/test/phase0/genesis/test_validity.py
Labels: scope:CI/tests

#2060 Use gossip signing policy in p2p spec, see libp2p/specs#294
  specs/phase0/p2p-interface.md
Labels: scope: privacy, scope:libp2p, scope:networking
