Repository ethereum/consensus-specs, pull requests merged in 2020-08, with the labels that each got.

#2013 apply_shard_transition: copy shard state
  specs/phase1/beacon-chain.md
Labels: phase1

#2010 Fix active shard count issues
  specs/phase1/beacon-chain.md
  specs/phase1/phase1-fork.md
  tests/core/pyspec/eth2spec/test/conftest.py
  tests/core/pyspec/eth2spec/test/context.py
  tests/core/pyspec/eth2spec/test/phase0/sanity/test_blocks.py
  tests/core/pyspec/eth2spec/test/phase1/unittests/test_get_start_shard.py
Labels: general:bug, phase1

#2031 [WIP] rewards flags test fix
  setup.py
  specs/phase0/beacon-chain.md
  specs/phase1/beacon-chain.md
  specs/phase1/phase1-fork.md
  specs/phase1/validator.md
  tests/core/pyspec/eth2spec/test/helpers/attestations.py
  tests/core/pyspec/eth2spec/test/helpers/rewards.py
  tests/core/pyspec/eth2spec/test/helpers/shard_transitions.py
  tests/core/pyspec/eth2spec/test/phase0/epoch_processing/test_process_justification_and_finalization.py
  tests/core/pyspec/eth2spec/test/phase0/epoch_processing/test_process_rewards_and_penalties.py
  tests/core/pyspec/eth2spec/test/phase0/rewards/test_basic.py
  tests/core/pyspec/eth2spec/test/phase0/sanity/test_blocks.py
  tests/core/pyspec/eth2spec/test/phase1/block_processing/test_process_shard_transition.py
Labels: phase0, phase1
