Repository ethereum/consensus-specs, pull requests merged in 2020-03, with the labels that each got.

#1606 RPC chunks with streaming SSZ decoding, snappy frames, and stricter DOS limits where possible.
  specs/phase0/p2p-interface.md
Labels: scope:networking

#1614 add eth2 key/value ENR to phase 0 p2p
  setup.py
  specs/phase0/beacon-chain.md
  specs/phase0/p2p-interface.md
  specs/phase1/beacon-chain.md
  tests/core/pyspec/eth2spec/test/helpers/genesis.py
Labels: scope:networking

#1649 Eth1 voting period in epochs [updated for configs/phase1/tests compat.]
  configs/mainnet.yaml
  configs/minimal.yaml
  specs/phase0/beacon-chain.md
  specs/phase0/validator.md
  specs/phase1/beacon-chain.md
  tests/core/pyspec/eth2spec/test/phase_0/epoch_processing/test_process_final_updates.py
  tests/core/pyspec/eth2spec/test/sanity/test_blocks.py
Labels: general:presentation, phase0

#1657 Fix generic SSZ tests, update remerkleable with small bugfix
  setup.py
  tests/generators/ssz_generic/ssz_basic_vector.py
  tests/generators/ssz_generic/ssz_container.py
  tests/generators/ssz_generic/ssz_test_case.py
  tests/generators/ssz_generic/ssz_uints.py
Labels: scope:CI/tests

#1658 fork choice error note
  specs/phase0/fork-choice.md
Labels: general:presentation, scope:fork-choice

#1672 Fix memoization (base reward cache bug + add LRU)
  Makefile
  setup.py
  tests/core/pyspec/eth2spec/test/context.py
  tests/core/pyspec/eth2spec/test/phase_0/epoch_processing/test_process_rewards_and_penalties.py
Labels: scope:CI/tests

#1698 Rework gasprice
  configs/mainnet.yaml
  configs/minimal.yaml
  specs/phase1/beacon-chain.md
  specs/phase1/phase1-fork.md
Labels: phase 1

#1699 Add `unpack_compact_validator` back
  specs/phase1/beacon-chain.md
Labels: phase 1
