Repository ethereum/consensus-specs, pull requests merged in 2020-02, with the labels that each got.

#1607 Add libp2p-noise specification
  specs/phase0/p2p-interface.md
Labels: scope:networking

#1584 Package the pyspec
  .circleci/config.yml
  .gitignore
  Makefile
  deposit_contract/tester/requirements.txt
  scripts/README.md
  scripts/__init__.py
  scripts/build_spec.py
  scripts/function_puller.py
  setup.py
  tests/core/config_helpers/README.md
  tests/core/config_helpers/preset_loader/__init__.py
  tests/core/config_helpers/preset_loader/loader.py
  tests/core/config_helpers/requirements.txt
  tests/core/config_helpers/setup.py
  tests/core/pyspec/README.md
  tests/core/pyspec/eth2spec/VERSION.txt
  tests/core/pyspec/eth2spec/__init__.py
  tests/core/pyspec/eth2spec/config/README.md
  tests/core/pyspec/eth2spec/config/apply_config.py
  tests/core/pyspec/eth2spec/config/config_util.py
  tests/core/pyspec/eth2spec/phase0/__init__.py
  tests/core/pyspec/eth2spec/phase1/__init__.py
  tests/core/pyspec/eth2spec/test/conftest.py
  tests/core/pyspec/eth2spec/test/context.py
  tests/core/pyspec/eth2spec/test/fork_choice/test_on_attestation.py
  tests/core/pyspec/eth2spec/test/helpers/attestations.py
  tests/core/pyspec/eth2spec/test/helpers/attester_slashings.py
  tests/core/pyspec/eth2spec/test/phase_0/block_processing/test_process_attester_slashing.py
  tests/core/pyspec/requirements-testing.txt
  tests/core/pyspec/requirements.txt
  tests/core/pyspec/setup.py
  tests/generators/epoch_processing/main.py
  tests/generators/epoch_processing/requirements.txt
  tests/generators/genesis/main.py
  tests/generators/genesis/requirements.txt
  tests/generators/operations/main.py
  tests/generators/operations/requirements.txt
  tests/generators/sanity/main.py
  tests/generators/sanity/requirements.txt
  tests/generators/shuffling/main.py
  tests/generators/shuffling/requirements.txt
  tests/generators/ssz_generic/requirements.txt
  tests/generators/ssz_static/main.py
  tests/generators/ssz_static/requirements.txt
Labels: scope:CI/tests

#1615 Add subnet validations for DoS resistance
  configs/mainnet.yaml
  configs/minimal.yaml
  specs/phase0/beacon-chain.md
  specs/phase0/p2p-interface.md
  specs/phase0/validator.md
Labels: scope:DoS protection
