Repository ethereum/consensus-specs, pull requests merged in 2020-06, with the labels that each got.

#1854 Some phase1 refactoring
  specs/phase1/beacon-chain.md
  tests/core/pyspec/eth2spec/test/helpers/attestations.py
Labels: general:presentation, phase 1

#1856 Rework `Shard transition processing`
  specs/phase1/beacon-chain.md
  tests/core/pyspec/eth2spec/test/helpers/shard_transitions.py
  tests/core/pyspec/eth2spec/test/phase_1/block_processing/test_process_shard_transition.py
  tests/generators/README.md
Labels: general:presentation, phase 1

#1855 Some phase1 refactoring - part2
  specs/phase1/beacon-chain.md
  specs/phase1/shard-transition.md
Labels: general:presentation, phase 1

#1858 `get_start_shard` proposal
  configs/minimal.yaml
  setup.py
  specs/phase1/beacon-chain.md
  specs/phase1/phase1-fork.md
  tests/core/pyspec/eth2spec/test/helpers/attestations.py
  tests/core/pyspec/eth2spec/test/helpers/shard_block.py
  tests/core/pyspec/eth2spec/test/helpers/shard_transitions.py
  tests/core/pyspec/eth2spec/test/phase_0/sanity/test_blocks.py
  tests/core/pyspec/eth2spec/test/phase_1/block_processing/test_process_shard_transition.py
  tests/core/pyspec/eth2spec/test/phase_1/sanity/test_blocks.py
  tests/core/pyspec/eth2spec/test/phase_1/unittests/__init__.py
  tests/core/pyspec/eth2spec/test/phase_1/unittests/test_get_start_shard.py
Labels: phase 1

#1870 Use shard_block.slot to get seed for proposer selection
  specs/phase1/beacon-chain.md
Labels: phase 1

#1875 Handle `beacon_parent_root` checks
  specs/phase1/shard-fork-choice.md
  specs/phase1/shard-transition.md
  tests/core/pyspec/eth2spec/test/fork_choice/test_on_shard_head.py
  tests/core/pyspec/eth2spec/test/helpers/attestations.py
  tests/core/pyspec/eth2spec/test/helpers/shard_block.py
  tests/core/pyspec/eth2spec/test/helpers/shard_transitions.py
  tests/core/pyspec/eth2spec/test/phase_1/block_processing/test_process_shard_transition.py
  tests/core/pyspec/eth2spec/test/phase_1/sanity/test_blocks.py
Labels: phase 1

#1773 Shard fork choice rule
  setup.py
  specs/phase1/fork-choice.md
  specs/phase1/shard-fork-choice.md
  specs/phase1/shard-transition.md
  tests/core/pyspec/eth2spec/test/fork_choice/test_get_head.py
  tests/core/pyspec/eth2spec/test/fork_choice/test_on_attestation.py
  tests/core/pyspec/eth2spec/test/fork_choice/test_on_shard_head.py
  tests/core/pyspec/eth2spec/test/helpers/attestations.py
  tests/core/pyspec/eth2spec/test/helpers/fork_choice.py
  tests/core/pyspec/eth2spec/test/helpers/shard_block.py
  tests/core/pyspec/eth2spec/test/helpers/shard_transitions.py
  tests/core/pyspec/eth2spec/test/phase_1/block_processing/test_process_shard_transition.py
  tests/core/pyspec/eth2spec/test/phase_1/sanity/test_blocks.py
Labels: phase 1, scope:fork-choice

#1880 Fork choice: avoid redundant call to get_ancestor
  specs/phase0/fork-choice.md
Labels: scope:fork-choice

#1882 Separate config files by phases + update phase 1 configs
  configs/README.md
  configs/mainnet/phase0.yaml
  configs/mainnet/phase1.yaml
  configs/minimal/phase0.yaml
  configs/minimal/phase1.yaml
  tests/core/pyspec/eth2spec/config/config_util.py
Labels: scope:CI/tests

#1885 Fork choice: minor formatting change
  specs/phase0/fork-choice.md
Labels: scope:fork-choice

#1884 Use parent_root for finalized chain check
  specs/phase0/fork-choice.md
Labels: scope:fork-choice

#1889 0.01 bit proof of custody [depends on 256 bit custody atoms]
  configs/mainnet/phase0.yaml
  configs/mainnet/phase1.yaml
  configs/minimal/phase1.yaml
  specs/phase1/beacon-chain.md
  specs/phase1/custody-game.md
  specs/phase1/fork-choice.md
  tests/core/pyspec/eth2spec/test/fork_choice/test_on_attestation.py
  tests/core/pyspec/eth2spec/test/helpers/attestations.py
  tests/core/pyspec/eth2spec/test/helpers/attester_slashings.py
  tests/core/pyspec/eth2spec/test/helpers/custody.py
  tests/core/pyspec/eth2spec/test/phase_0/block_processing/test_process_attester_slashing.py
  tests/core/pyspec/eth2spec/test/phase_1/block_processing/test_process_attestation.py
  tests/core/pyspec/eth2spec/test/phase_1/block_processing/test_process_custody_slashing.py
  tests/core/pyspec/eth2spec/test/phase_1/epoch_processing/test_process_challenge_deadlines.py
  tests/core/pyspec/eth2spec/test/phase_1/epoch_processing/test_process_reveal_deadlines.py
Labels: phase 1, scope:custody

#1705 256-bit custody atoms for better alignment with rest of the spec and greater efficiency
  .gitignore
  Makefile
  configs/mainnet/phase1.yaml
  configs/minimal/phase1.yaml
  setup.py
  specs/phase0/beacon-chain.md
  specs/phase1/beacon-chain.md
  specs/phase1/custody-game.md
  specs/phase1/fork-choice.md
  specs/phase1/phase1-fork.md
  specs/phase1/validator.md
  tests/core/pyspec/eth2spec/test/fork_choice/test_on_attestation.py
  tests/core/pyspec/eth2spec/test/helpers/attestations.py
  tests/core/pyspec/eth2spec/test/helpers/attester_slashings.py
  tests/core/pyspec/eth2spec/test/helpers/custody.py
  tests/core/pyspec/eth2spec/test/phase_0/block_processing/test_process_attester_slashing.py
  tests/core/pyspec/eth2spec/test/phase_1/block_processing/test_process_attestation.py
  tests/core/pyspec/eth2spec/test/phase_1/block_processing/test_process_chunk_challenge.py
  tests/core/pyspec/eth2spec/test/phase_1/block_processing/test_process_custody_key_reveal.py
  tests/core/pyspec/eth2spec/test/phase_1/block_processing/test_process_custody_slashing.py
  tests/core/pyspec/eth2spec/test/phase_1/epoch_processing/test_process_challenge_deadlines.py
  tests/core/pyspec/eth2spec/test/phase_1/epoch_processing/test_process_custody_final_updates.py
  tests/core/pyspec/eth2spec/test/phase_1/epoch_processing/test_process_reveal_deadlines.py
Labels: phase 1, scope:custody

#1704 phase 1 validator guide (round 1)
  configs/mainnet/phase1.yaml
  configs/minimal/phase1.yaml
  setup.py
  specs/phase1/beacon-chain.md
  specs/phase1/custody-game.md
  specs/phase1/phase1-fork.md
  specs/phase1/shard-fork-choice.md
  specs/phase1/shard-transition.md
  specs/phase1/validator.md
  tests/core/pyspec/eth2spec/test/helpers/attestations.py
  tests/core/pyspec/eth2spec/test/helpers/shard_block.py
  tests/core/pyspec/eth2spec/test/phase_1/block_processing/test_process_shard_transition.py
  tests/core/pyspec/eth2spec/test/validator/test_validator_unittest.py
Labels: phase 1, scope:v-guide

#1896 Add unit tests for `compute_fork_digest` and `compute_subnet_for_attestation`
  tests/core/pyspec/eth2spec/test/validator/test_validator_unittest.py
Labels: scope:CI/tests

#1910 Fix exception in `get_best_light_client_aggregate`
  specs/phase1/validator.md
Labels: phase 1

#1911 get_shard_winning_roots uses on_time_slot
  specs/phase1/validator.md
Labels: phase 1, scope:v-guide

#1906 Fix links in phase1 validator doc
  specs/phase1/validator.md
Labels: phase 1, scope:v-guide

#1912 Clarification of SSZ bitlist and bitvector types.
  ssz/simple-serialize.md
Labels: general:presentation, scope:SSZ

#1914 Align directory names of forks
  tests/core/pyspec/eth2spec/test/phase0/__init__.py
  tests/core/pyspec/eth2spec/test/phase0/block_processing/__init__.py
  tests/core/pyspec/eth2spec/test/phase0/block_processing/test_process_attestation.py
  tests/core/pyspec/eth2spec/test/phase0/block_processing/test_process_attester_slashing.py
  tests/core/pyspec/eth2spec/test/phase0/block_processing/test_process_block_header.py
  tests/core/pyspec/eth2spec/test/phase0/block_processing/test_process_deposit.py
  tests/core/pyspec/eth2spec/test/phase0/block_processing/test_process_proposer_slashing.py
  tests/core/pyspec/eth2spec/test/phase0/block_processing/test_process_voluntary_exit.py
  tests/core/pyspec/eth2spec/test/phase0/epoch_processing/__init__.py
  tests/core/pyspec/eth2spec/test/phase0/epoch_processing/run_epoch_process_base.py
  tests/core/pyspec/eth2spec/test/phase0/epoch_processing/test_process_final_updates.py
  tests/core/pyspec/eth2spec/test/phase0/epoch_processing/test_process_justification_and_finalization.py
  tests/core/pyspec/eth2spec/test/phase0/epoch_processing/test_process_registry_updates.py
  tests/core/pyspec/eth2spec/test/phase0/epoch_processing/test_process_rewards_and_penalties.py
  tests/core/pyspec/eth2spec/test/phase0/epoch_processing/test_process_slashings.py
  tests/core/pyspec/eth2spec/test/phase0/rewards/__init__.py
  tests/core/pyspec/eth2spec/test/phase0/rewards/test_basic.py
  tests/core/pyspec/eth2spec/test/phase0/rewards/test_leak.py
  tests/core/pyspec/eth2spec/test/phase0/rewards/test_random.py
  tests/core/pyspec/eth2spec/test/phase0/sanity/__init__.py
  tests/core/pyspec/eth2spec/test/phase0/sanity/test_blocks.py
  tests/core/pyspec/eth2spec/test/phase0/sanity/test_slots.py
  tests/core/pyspec/eth2spec/test/phase1/__init__.py
  tests/core/pyspec/eth2spec/test/phase1/block_processing/__init__.py
  tests/core/pyspec/eth2spec/test/phase1/block_processing/test_process_attestation.py
  tests/core/pyspec/eth2spec/test/phase1/block_processing/test_process_chunk_challenge.py
  tests/core/pyspec/eth2spec/test/phase1/block_processing/test_process_custody_key_reveal.py
  tests/core/pyspec/eth2spec/test/phase1/block_processing/test_process_custody_slashing.py
  tests/core/pyspec/eth2spec/test/phase1/block_processing/test_process_early_derived_secret_reveal.py
  tests/core/pyspec/eth2spec/test/phase1/block_processing/test_process_shard_transition.py
  tests/core/pyspec/eth2spec/test/phase1/epoch_processing/test_process_challenge_deadlines.py
  tests/core/pyspec/eth2spec/test/phase1/epoch_processing/test_process_custody_final_updates.py
  tests/core/pyspec/eth2spec/test/phase1/epoch_processing/test_process_reveal_deadlines.py
  tests/core/pyspec/eth2spec/test/phase1/sanity/__init__.py
  tests/core/pyspec/eth2spec/test/phase1/sanity/test_blocks.py
  tests/core/pyspec/eth2spec/test/phase1/unittests/__init__.py
  tests/core/pyspec/eth2spec/test/phase1/unittests/test_get_start_shard.py
  tests/core/pyspec/eth2spec/test/test_finality.py
  tests/generators/epoch_processing/main.py
  tests/generators/operations/main.py
  tests/generators/rewards/main.py
  tests/generators/sanity/main.py
Labels: scope:CI/tests

#1915 Fix missing arguments of validator guide
  specs/phase1/validator.md
Labels: phase 1, scope:v-guide

#1919 Fix shard_block_length type in `compute_updated_gasprice`
  specs/phase1/beacon-chain.md
  specs/phase1/shard-transition.md
Labels: phase 1

#1895 Add `shard: Shard` field to `AttestationData`
  specs/phase1/beacon-chain.md
  specs/phase1/fork-choice.md
  specs/phase1/shard-transition.md
  tests/core/pyspec/eth2spec/test/fork_choice/test_on_attestation.py
  tests/core/pyspec/eth2spec/test/fork_choice/test_on_shard_head.py
  tests/core/pyspec/eth2spec/test/helpers/attestations.py
Labels: phase 1

#1904 Avoid state in p2p validation, compute committee count per slot for epoch
  setup.py
  specs/phase0/beacon-chain.md
  specs/phase0/p2p-interface.md
  specs/phase0/validator.md
  specs/phase1/beacon-chain.md
  specs/phase1/validator.md
  tests/core/pyspec/eth2spec/test/fork_choice/test_get_head.py
  tests/core/pyspec/eth2spec/test/helpers/attestations.py
  tests/core/pyspec/eth2spec/test/helpers/shard_block.py
  tests/core/pyspec/eth2spec/test/phase0/block_processing/test_process_attestation.py
  tests/core/pyspec/eth2spec/test/phase0/epoch_processing/test_process_justification_and_finalization.py
  tests/core/pyspec/eth2spec/test/phase1/unittests/test_get_start_shard.py
  tests/core/pyspec/eth2spec/test/validator/test_validator_unittest.py
Labels: general:presentation, phase0, scope:networking, scope:v-guide

#1886 Fix store_target_checkpoint_state
  specs/phase0/fork-choice.md
  tests/core/pyspec/eth2spec/test/fork_choice/test_on_attestation.py
Labels: scope:fork-choice

#1922 Remove shard check in `verify_shard_block_message`
  specs/phase1/shard-transition.md
Labels: phase1

#1926 AttesterSlashing with 0 indices and out of bounds indices
  tests/core/pyspec/eth2spec/test/phase0/block_processing/test_process_attester_slashing.py
Labels: scope:CI/tests

#1921 Fix no winning root case + add tests + fix #1881
  specs/phase1/beacon-chain.md
  specs/phase1/validator.md
  tests/core/pyspec/eth2spec/test/fork_choice/test_on_shard_head.py
  tests/core/pyspec/eth2spec/test/helpers/attestations.py
  tests/core/pyspec/eth2spec/test/helpers/custody.py
  tests/core/pyspec/eth2spec/test/helpers/shard_block.py
  tests/core/pyspec/eth2spec/test/phase1/block_processing/test_process_shard_transition.py
  tests/core/pyspec/eth2spec/test/phase1/sanity/test_blocks.py
Labels: phase1

#1925 Rework `shard_state_transition` interface + fix #1922
  specs/phase1/shard-fork-choice.md
  specs/phase1/shard-transition.md
  specs/phase1/validator.md
Labels: phase1

#1927 Make `get_pending_shard_blocks` return `Sequence[SignedShardBlock]` instead of `Sequence[ShardBlock]`
  specs/phase1/shard-fork-choice.md
  tests/core/pyspec/eth2spec/test/fork_choice/test_on_shard_head.py
Labels: phase1, scope:fork-choice

#1928 Add tests for `shard_state_transition` and some refactorings
  specs/phase1/beacon-chain.md
  specs/phase1/shard-fork-choice.md
  specs/phase1/shard-transition.md
  specs/phase1/validator.md
  tests/core/pyspec/eth2spec/test/helpers/shard_transitions.py
  tests/core/pyspec/eth2spec/test/phase1/block_processing/test_process_shard_transition.py
  tests/core/pyspec/eth2spec/test/phase1/sanity/test_blocks.py
  tests/core/pyspec/eth2spec/test/phase1/sanity/test_shard_blocks.py
Labels: phase1, scope:CI/tests

#1907 Fix deprecated utility code, avoid wrong helper function name, add tests
  ssz/merkle-proofs.md
  tests/core/pyspec/eth2spec/utils/test_merkle_proof_util.py
Labels: scope:SSZ

#1934 Clarify wording of pack, pack_bits and merkleize
  ssz/simple-serialize.md
Labels: general:presentation, scope:SSZ

#1938 Add more tests for `shard_state_transition`
  tests/core/pyspec/eth2spec/test/phase1/sanity/test_shard_blocks.py
Labels: phase1, scope:CI/tests
