Repository ethereum/consensus-specs, pull requests merged in 2020-05, with the labels that each got.

#1703 Rework shard block and fraud proof (shard state transition) spec
  configs/mainnet.yaml
  configs/minimal.yaml
  setup.py
  specs/phase1/beacon-chain.md
  specs/phase1/fraud-proofs.md
  specs/phase1/phase1-fork.md
  specs/phase1/shard-transition.md
  tests/core/pyspec/eth2spec/test/helpers/attestations.py
  tests/core/pyspec/eth2spec/test/helpers/block.py
  tests/core/pyspec/eth2spec/test/helpers/crosslinks.py
  tests/core/pyspec/eth2spec/test/helpers/phase1/attestations.py
  tests/core/pyspec/eth2spec/test/helpers/phase1/shard_block.py
  tests/core/pyspec/eth2spec/test/helpers/phase1/shard_state.py
  tests/core/pyspec/eth2spec/test/helpers/shard_block.py
  tests/core/pyspec/eth2spec/test/helpers/state.py
  tests/core/pyspec/eth2spec/test/phase_0/sanity/test_blocks.py
  tests/core/pyspec/eth2spec/test/phase_1/block_processing/test_process_crosslink.py
  tests/core/pyspec/eth2spec/test/phase_1/sanity/__init__.py
  tests/core/pyspec/eth2spec/test/phase_1/sanity/test_blocks.py
Labels: phase 1

#1785 Fix README spec links
  README.md
Labels: general:presentation

#1790 Add latest release and pypi version badges
  README.md
Labels: scope:CI/tests

#1742 Added FFG-LMD vote consistency checks
  specs/phase0/fork-choice.md
  tests/core/pyspec/eth2spec/test/fork_choice/test_on_attestation.py
Labels: phase0, scope:fork-choice

#1781 test double proposer slashings and exits
  tests/core/pyspec/eth2spec/test/helpers/proposer_slashings.py
  tests/core/pyspec/eth2spec/test/phase_0/block_processing/test_process_proposer_slashing.py
  tests/core/pyspec/eth2spec/test/phase_0/sanity/test_blocks.py
Labels: scope:CI/tests

#1780 Handle empty aggregation bits as discussed in #1713
  specs/phase0/beacon-chain.md
  specs/phase0/p2p-interface.md
  specs/phase1/beacon-chain.md
  tests/core/pyspec/eth2spec/test/helpers/attestations.py
  tests/core/pyspec/eth2spec/test/phase_0/block_processing/test_process_attestation.py
  tests/core/pyspec/eth2spec/test/phase_0/epoch_processing/test_process_rewards_and_penalties.py
Labels: post-freeze (substantive), scope:CI/tests

#1796 Gossipsub v1.1 and extended validators
  specs/phase0/p2p-interface.md
Labels: scope:libp2p

#1794 MAX_ATTESTER_SLASHINGS == 2 and add multiple slashings per block tests
  configs/mainnet.yaml
  configs/minimal.yaml
  specs/phase0/beacon-chain.md
  tests/core/pyspec/eth2spec/test/helpers/attester_slashings.py
  tests/core/pyspec/eth2spec/test/phase_0/sanity/test_blocks.py
Labels: phase0

#1747 [Proposal] rework rewards/penalties to be more granular
  specs/phase0/beacon-chain.md
  tests/core/pyspec/eth2spec/test/helpers/attestations.py
  tests/core/pyspec/eth2spec/test/helpers/rewards.py
  tests/core/pyspec/eth2spec/test/phase_0/epoch_processing/test_process_rewards_and_penalties.py
  tests/core/pyspec/eth2spec/test/phase_0/rewards/__init__.py
  tests/core/pyspec/eth2spec/test/phase_0/rewards/test_get_head_deltas.py
  tests/core/pyspec/eth2spec/test/phase_0/rewards/test_get_inactivity_penalty_deltas.py
  tests/core/pyspec/eth2spec/test/phase_0/rewards/test_get_inclusion_delay_deltas.py
  tests/core/pyspec/eth2spec/test/phase_0/rewards/test_get_source_deltas.py
  tests/core/pyspec/eth2spec/test/phase_0/rewards/test_get_target_deltas.py
  tests/formats/rewards/README.md
  tests/generators/rewards/README.md
  tests/generators/rewards/main.py
  tests/generators/rewards/requirements.txt
Labels: general:RFC, phase0

#1795 Clarify BlocksByRange request
  specs/phase0/p2p-interface.md
Labels: scope:networking

#1800 Update p2p reqresp with explicit handling of reqresp size bounds
  specs/phase0/p2p-interface.md
Labels: scope:networking

#1801 Loosen restrictions for aggregate propogation
  specs/phase0/p2p-interface.md
Labels: scope:attestation-management

#1812 Handle phase 1 `PKs == []` cases
  configs/mainnet.yaml
  configs/minimal.yaml
  specs/phase1/beacon-chain.md
  specs/phase1/shard-transition.md
Labels: scope:BLS

#1814 s/beacon_state/state for get_shard_transition
  specs/phase1/shard-transition.md
Labels: phase 1

#1813 Update BLS test suite to BLS standard draft v2 format
  tests/core/pyspec/eth2spec/utils/bls.py
  tests/formats/bls/README.md
  tests/formats/bls/aggregate.md
  tests/formats/bls/aggregate_pubkeys.md
  tests/formats/bls/aggregate_sigs.md
  tests/formats/bls/aggregate_verify.md
  tests/formats/bls/fast_aggregate_verify.md
  tests/formats/bls/msg_hash_g2_compressed.md
  tests/formats/bls/msg_hash_g2_uncompressed.md
  tests/formats/bls/priv_to_pub.md
  tests/formats/bls/sign.md
  tests/formats/bls/verify.md
  tests/generators/bls/README.md
  tests/generators/bls/main.py
Labels: scope:CI/tests

#1799 Update to IETF BLS draft-irtf-cfrg-bls-signature-02 + draft-irtf-cfrg-hash-to-curve-07
  setup.py
  specs/phase0/beacon-chain.md
  specs/phase0/validator.md
  specs/phase1/beacon-chain.md
  specs/phase1/custody-game.md
  specs/phase1/shard-transition.md
  tests/core/pyspec/eth2spec/test/helpers/keys.py
  tests/core/pyspec/eth2spec/utils/bls.py
  tests/formats/bls/README.md
  tests/formats/bls/aggregate.md
  tests/formats/bls/aggregate_pubkeys.md
  tests/formats/bls/aggregate_sigs.md
  tests/formats/bls/aggregate_verify.md
  tests/formats/bls/fast_aggregate_verify.md
  tests/formats/bls/msg_hash_g2_compressed.md
  tests/formats/bls/msg_hash_g2_uncompressed.md
  tests/formats/bls/priv_to_pub.md
  tests/formats/bls/sign.md
  tests/formats/bls/verify.md
  tests/generators/bls/README.md
  tests/generators/bls/main.py
  tests/generators/bls/requirements.txt
Labels: scope:BLS

#1810 Make obvious that `source_epoch` does not underflow
  specs/phase1/beacon-chain.md
Labels: phase 1

#1806 Fix `bitfield_bytes` type error
  ssz/simple-serialize.md
Labels: scope:SSZ

#1807 is_valid_fraud_proof bug fixes
  specs/phase1/shard-transition.md
Labels: phase 1

#1821 Rewards with not yet activated validators
  tests/core/pyspec/eth2spec/test/helpers/deposits.py
  tests/core/pyspec/eth2spec/test/helpers/rewards.py
  tests/core/pyspec/eth2spec/test/phase_0/epoch_processing/test_process_registry_updates.py
  tests/core/pyspec/eth2spec/test/phase_0/rewards/test_get_head_deltas.py
  tests/core/pyspec/eth2spec/test/phase_0/rewards/test_get_inactivity_penalty_deltas.py
  tests/core/pyspec/eth2spec/test/phase_0/rewards/test_get_inclusion_delay_deltas.py
  tests/core/pyspec/eth2spec/test/phase_0/rewards/test_get_source_deltas.py
  tests/core/pyspec/eth2spec/test/phase_0/rewards/test_get_target_deltas.py
Labels: scope:CI/tests

#1826 Single rewards generator
  tests/core/pyspec/eth2spec/test/context.py
  tests/core/pyspec/eth2spec/test/helpers/attestations.py
  tests/core/pyspec/eth2spec/test/helpers/rewards.py
  tests/core/pyspec/eth2spec/test/phase_0/rewards/test_basic.py
  tests/core/pyspec/eth2spec/test/phase_0/rewards/test_get_head_deltas.py
  tests/core/pyspec/eth2spec/test/phase_0/rewards/test_get_inactivity_penalty_deltas.py
  tests/core/pyspec/eth2spec/test/phase_0/rewards/test_get_inclusion_delay_deltas.py
  tests/core/pyspec/eth2spec/test/phase_0/rewards/test_get_target_deltas.py
  tests/core/pyspec/eth2spec/test/phase_0/rewards/test_leak.py
  tests/core/pyspec/eth2spec/test/phase_0/rewards/test_random.py
  tests/formats/epoch_processing/README.md
  tests/formats/rewards/README.md
  tests/generators/rewards/main.py
Labels: scope:CI/tests

#1831 Bump `remerkleable` to 0.1.15
  setup.py
Labels: scope:CI/tests

#1833 remerkleable 0.1.16
  setup.py
Labels: scope:CI/tests

#1835 Strict block range (Rebase and extend #1827)
  specs/phase0/p2p-interface.md
Labels: scope:networking

#1803 BLS options for pyspec
  Makefile
  setup.py
  tests/core/pyspec/README.md
  tests/core/pyspec/eth2spec/test/conftest.py
  tests/core/pyspec/eth2spec/test/context.py
  tests/core/pyspec/eth2spec/test/fork_choice/test_get_head.py
  tests/core/pyspec/eth2spec/test/phase_0/block_processing/test_process_attester_slashing.py
  tests/core/pyspec/eth2spec/test/validator/test_validator_unittest.py
  tests/core/pyspec/eth2spec/utils/bls.py
  tests/generators/bls/main.py
Labels: scope:CI/tests

#1843 Use `compute_previous_slot` for `slot - 1` occurrences
  specs/phase1/beacon-chain.md
Labels: phase 1

#1842 Fix phase1 on-time sign_indexed_attestation
  tests/core/pyspec/eth2spec/test/helpers/attestations.py
  tests/core/pyspec/eth2spec/test/phase_0/block_processing/test_process_attester_slashing.py
Labels: scope:CI/tests

#1844 `compute_shard_transition_digest` expects `Root` as a fourth parameter
  specs/phase1/shard-transition.md
Labels: phase 1

#1853 Add `shard` field to `ShardBlock`
  specs/phase1/beacon-chain.md
  specs/phase1/shard-transition.md
  tests/core/pyspec/eth2spec/test/helpers/shard_block.py
Labels: phase 1
