Repository ethereum/consensus-specs, pull requests merged in 2021-02, with the labels that each got.

#2193 fix and extend accounting reform tests
  specs/lightclient/beacon-chain.md
  specs/lightclient/lightclient-fork.md
  tests/core/pyspec/eth2spec/test/helpers/attestations.py
  tests/core/pyspec/eth2spec/test/helpers/rewards.py
  tests/core/pyspec/eth2spec/test/lightclient_patch/block_processing/test_process_sync_committee.py
  tests/core/pyspec/eth2spec/test/phase0/block_processing/test_process_attestation.py
  tests/core/pyspec/eth2spec/test/phase0/epoch_processing/test_process_justification_and_finalization.py
  tests/core/pyspec/eth2spec/test/phase0/rewards/test_random.py
  tests/core/pyspec/eth2spec/test/phase0/sanity/test_blocks.py
Labels: scope:CI/tests, scope:accounting

#2190 Updated Weak Subjectivity Calculations
  specs/phase0/weak-subjectivity.md
Labels: scope:weak-subjectivity

#2176 Accounting reform [isolated]
  specs/lightclient/beacon-chain.md
  specs/lightclient/lightclient-fork.md
  tests/core/pyspec/eth2spec/test/context.py
  tests/core/pyspec/eth2spec/test/helpers/attestations.py
  tests/core/pyspec/eth2spec/test/helpers/block.py
  tests/core/pyspec/eth2spec/test/helpers/epoch_processing.py
  tests/core/pyspec/eth2spec/test/helpers/rewards.py
  tests/core/pyspec/eth2spec/test/lightclient_patch/block_processing/test_process_sync_committee.py
  tests/core/pyspec/eth2spec/test/phase0/block_processing/test_process_attestation.py
  tests/core/pyspec/eth2spec/test/phase0/epoch_processing/test_process_justification_and_finalization.py
  tests/core/pyspec/eth2spec/test/phase0/epoch_processing/test_process_participation_record_updates.py
  tests/core/pyspec/eth2spec/test/phase0/epoch_processing/test_process_rewards_and_penalties.py
  tests/core/pyspec/eth2spec/test/phase0/rewards/test_basic.py
  tests/core/pyspec/eth2spec/test/phase0/rewards/test_leak.py
  tests/core/pyspec/eth2spec/test/phase0/rewards/test_random.py
  tests/core/pyspec/eth2spec/test/phase0/sanity/test_blocks.py
Labels: scope:accounting

#2196 Require gossip blocks to have a higher slot than thier parent
  specs/phase0/p2p-interface.md
Labels: scope:networking

#2199 [testgen] turn off phase 1, turn on HF1, and refactoring
  setup.py
  tests/core/gen_helpers/gen_from_tests/gen.py
  tests/core/gen_helpers/requirements.txt
  tests/core/gen_helpers/setup.py
  tests/core/pyspec/eth2spec/gen_helpers/README.md
  tests/core/pyspec/eth2spec/gen_helpers/__init__.py
  tests/core/pyspec/eth2spec/gen_helpers/gen_base/__init__.py
  tests/core/pyspec/eth2spec/gen_helpers/gen_base/gen_runner.py
  tests/core/pyspec/eth2spec/gen_helpers/gen_base/gen_typing.py
  tests/core/pyspec/eth2spec/gen_helpers/gen_from_tests/__init__.py
  tests/core/pyspec/eth2spec/gen_helpers/gen_from_tests/gen.py
  tests/core/pyspec/eth2spec/test/context.py
  tests/core/pyspec/eth2spec/test/lightclient_patch/sanity/__init__.py
  tests/generators/README.md
  tests/generators/bls/main.py
  tests/generators/bls/requirements.txt
  tests/generators/epoch_processing/main.py
  tests/generators/epoch_processing/requirements.txt
  tests/generators/finality/main.py
  tests/generators/finality/requirements.txt
  tests/generators/genesis/main.py
  tests/generators/genesis/requirements.txt
  tests/generators/operations/main.py
  tests/generators/operations/requirements.txt
  tests/generators/rewards/main.py
  tests/generators/rewards/requirements.txt
  tests/generators/sanity/main.py
  tests/generators/sanity/requirements.txt
  tests/generators/shuffling/main.py
  tests/generators/shuffling/requirements.txt
  tests/generators/ssz_generic/main.py
  tests/generators/ssz_generic/requirements.txt
  tests/generators/ssz_static/main.py
  tests/generators/ssz_static/requirements.txt
Labels: scope:CI/tests
