Repository ethereum/consensus-specs, pull requests merged in 2021-05, with the labels that each got.

#2374 Altair review
  specs/altair/beacon-chain.md
  specs/altair/sync-protocol.md
  tests/core/pyspec/eth2spec/test/altair/block_processing/test_process_sync_committee.py
Labels: Altair

#2367 [Sharding] Fix unspecified SHARD_COUNT and DOMAIN_SHARD_HEADER constants
  specs/sharding/beacon-chain.md
Labels: scope:sharding

#2341 Merge SSZ-static tests
  tests/generators/ssz_static/main.py
Labels: scope:CI/tests/pyspec, scope:merge

#2381 "toward" -> "closer to" for penalty adjustments
  specs/altair/beacon-chain.md
Labels: general:presentation

#2377 clean up whitespace on altair files
  specs/altair/p2p-interface.md
  specs/altair/validator.md
Labels: general:proofread

#2384 `get_shard_proposer_index` to use `DOMAIN_SHARD_PROPOSER`
  specs/sharding/beacon-chain.md
Labels: scope:sharding

#2370 Simplify sync committee aggregates
  configs/mainnet/altair.yaml
  configs/minimal/altair.yaml
  specs/altair/beacon-chain.md
Labels: Altair

#2371 Adjust sync committee size and duration
  configs/mainnet/altair.yaml
  specs/altair/beacon-chain.md
Labels: Altair

#2378 Updates to Altair light client sync protocol
  configs/mainnet/altair.yaml
  configs/minimal/altair.yaml
  setup.py
  specs/altair/sync-protocol.md
  tests/core/pyspec/eth2spec/test/altair/unittests/test_sync_protocol.py
Labels: Altair

#2380 Merge test vectors: enable phase0 tests for Merge + start on new testing
  setup.py
  specs/merge/beacon-chain.md
  specs/merge/fork-choice.md
  tests/core/pyspec/eth2spec/test/altair/block_processing/test_process_sync_committee.py
  tests/core/pyspec/eth2spec/test/altair/epoch_processing/test_process_sync_committee_updates.py
  tests/core/pyspec/eth2spec/test/altair/sanity/test_blocks.py
  tests/core/pyspec/eth2spec/test/altair/unittests/validator/test_validator.py
  tests/core/pyspec/eth2spec/test/context.py
  tests/core/pyspec/eth2spec/test/helpers/block.py
  tests/core/pyspec/eth2spec/test/helpers/constants.py
  tests/core/pyspec/eth2spec/test/helpers/execution_payload.py
  tests/core/pyspec/eth2spec/test/helpers/genesis.py
  tests/core/pyspec/eth2spec/test/merge/__init__.py
  tests/core/pyspec/eth2spec/test/merge/block_processing/__init__.py
  tests/core/pyspec/eth2spec/test/merge/block_processing/test_process_execution_payload.py
  tests/core/pyspec/eth2spec/test/merge/sanity/__init__.py
  tests/core/pyspec/eth2spec/test/merge/sanity/test_blocks.py
  tests/core/pyspec/eth2spec/test/phase0/unittests/fork_choice/test_on_attestation.py
  tests/formats/operations/README.md
  tests/generators/epoch_processing/main.py
  tests/generators/finality/main.py
  tests/generators/fork_choice/main.py
  tests/generators/operations/main.py
  tests/generators/rewards/main.py
  tests/generators/sanity/main.py
  tests/generators/ssz_static/main.py
Labels: scope:CI/tests/pyspec, scope:merge

#2404 Clarify fork upgrade conditions for Altair
  specs/altair/fork.md
Labels: Altair

#2400 add logic for handling sync committee off by one issue
  specs/altair/p2p-interface.md
  specs/altair/validator.md
  tests/core/pyspec/eth2spec/test/altair/unittests/validator/test_validator.py
Labels: Altair

#2131 BlocksByRange under WS
  README.md
  specs/phase0/p2p-interface.md
  specs/phase0/weak-subjectivity.md
Labels: scope:networking, scope:weak-subjectivity

#2398 Define execution engine protocol
  setup.py
  specs/merge/beacon-chain.md
  specs/merge/fork-choice.md
  specs/merge/validator.md
  tests/core/pyspec/eth2spec/test/helpers/execution_payload.py
  tests/core/pyspec/eth2spec/test/merge/block_processing/test_process_execution_payload.py
Labels: scope:merge

#2406 remove sync committee seed and restrict period calculation boundaries
  specs/altair/beacon-chain.md
  specs/altair/fork.md
  tests/core/pyspec/eth2spec/test/altair/block_processing/test_process_sync_committee.py
  tests/core/pyspec/eth2spec/test/altair/epoch_processing/test_process_sync_committee_updates.py
  tests/core/pyspec/eth2spec/test/altair/sanity/test_blocks.py
  tests/core/pyspec/eth2spec/test/altair/unittests/test_sync_protocol.py
  tests/core/pyspec/eth2spec/test/helpers/genesis.py
Labels: Altair, general:bug

#2399 dankrad altair review -- extended and tested
  specs/altair/beacon-chain.md
  tests/core/pyspec/eth2spec/test/helpers/rewards.py
Labels: Altair

#2408 Altair fork attestation translation tests
  specs/altair/beacon-chain.md
  specs/altair/fork.md
  tests/core/pyspec/eth2spec/test/altair/fork/test_altair_fork_basic.py
  tests/core/pyspec/eth2spec/test/altair/fork/test_altair_fork_random.py
  tests/core/pyspec/eth2spec/test/helpers/altair/fork.py
  tests/core/pyspec/eth2spec/test/helpers/random.py
  tests/core/pyspec/eth2spec/test/helpers/rewards.py
Labels: Altair

#2395 Update inactivity penalty deltas processing
  configs/mainnet/altair.yaml
  configs/minimal/altair.yaml
  specs/altair/beacon-chain.md
  tests/core/pyspec/eth2spec/test/altair/epoch_processing/test_process_inactivity_updates.py
  tests/core/pyspec/eth2spec/test/altair/rewards/test_inactivity_scores.py
  tests/core/pyspec/eth2spec/test/helpers/epoch_processing.py
  tests/core/pyspec/eth2spec/test/helpers/inactivity_scores.py
  tests/core/pyspec/eth2spec/test/helpers/rewards.py
  tests/core/pyspec/eth2spec/test/phase0/rewards/test_random.py
  tests/formats/epoch_processing/README.md
Labels: Altair

#2385 Execution payload tests
  setup.py
  specs/merge/beacon-chain.md
  specs/merge/fork-choice.md
  specs/merge/validator.md
  tests/core/pyspec/eth2spec/test/helpers/execution_payload.py
  tests/core/pyspec/eth2spec/test/merge/block_processing/test_process_execution_payload.py
Labels: scope:CI/tests/pyspec, scope:merge

#2368 [Sharding] Calc the right root with respect to (slot, shard) for an empty PendingShardHeader
  specs/sharding/beacon-chain.md
Labels: general:discussion, scope:sharding

#2416 Sharding: Call `get_committee_count_per_slot` before slot loop
  specs/sharding/beacon-chain.md
Labels: general:presentation

#2418 sharding: minor config fixes
  configs/mainnet/sharding.yaml
  configs/minimal/sharding.yaml
  specs/sharding/beacon-chain.md
Labels: scope:sharding

#2419 Fix `PARTICIPATION_FLAG_WEIGHTS` to use correct head weight
  specs/altair/beacon-chain.md
Labels: Altair, general:bug

#2426 More Altair fork transition tests
  tests/core/pyspec/eth2spec/test/altair/transition/test_transition.py
  tests/core/pyspec/eth2spec/test/helpers/attestations.py
  tests/core/pyspec/eth2spec/test/helpers/block.py
  tests/core/pyspec/eth2spec/test/helpers/state.py
Labels: scope:CI/tests/pyspec

#2441 [pyspec] Use mainnet.py as the default spec
  setup.py
Labels: scope:CI/tests/pyspec

#2442 Generate coverage report on `minimal` config spec by default
  Makefile
Labels: scope:CI/tests/pyspec

#2447 Fix `_get_sync_committee_signature` testing helper
  tests/core/pyspec/eth2spec/test/altair/unittests/validator/test_validator.py
Labels: scope:CI/tests/pyspec

#2449 add/update comments on shard blob/header/reference body field
  specs/sharding/beacon-chain.md
  specs/sharding/p2p-interface.md
Labels: general:presentation, scope:sharding

#2445 Union type update
  setup.py
  ssz/simple-serialize.md
  tests/core/pyspec/eth2spec/utils/ssz/ssz_typing.py
Labels: Altair, scope:SSZ

#2436 Sharding p2p: minor fixes
  specs/sharding/p2p-interface.md
Labels: scope:networking, scope:sharding

#2457 Shard data none-2/3 confirmation case (separated from PR 2455, TBD)
  specs/sharding/beacon-chain.md
Labels: scope:sharding

#2459 Pyspec builder internal config formatting fix
  setup.py
Labels: scope:CI/tests/pyspec
