Repository ethereum/consensus-specs, pull requests merged in 2021-12, with the labels that each got.

#2753 Simplify logic in calculating proposer score
  specs/phase0/fork-choice.md
Labels: scope:fork-choice

#2760 Apply proposer boost to ancestors correctly
  specs/phase0/fork-choice.md
  tests/core/pyspec/eth2spec/test/phase0/fork_choice/test_get_head.py
Labels: scope:fork-choice

#2752 Add ex-ante fork choice test cases
  specs/phase0/fork-choice.md
  tests/core/pyspec/eth2spec/test/context.py
  tests/core/pyspec/eth2spec/test/helpers/fork_choice.py
  tests/core/pyspec/eth2spec/test/phase0/fork_choice/test_ex_ante.py
  tests/generators/fork_choice/main.py
Labels: scope:CI/tests/pyspec, scope:fork-choice

#2746 Simplify sync protocol and update to calculate optimistic heads
  presets/mainnet/altair.yaml
  presets/minimal/altair.yaml
  setup.py
  specs/altair/sync-protocol.md
  tests/core/pyspec/eth2spec/test/altair/unittests/test_sync_protocol.py
Labels: scope:light-clients

#2771 release v1.1.7
  presets/mainnet/altair.yaml
  presets/minimal/altair.yaml
  setup.py
  specs/altair/sync-protocol.md
  specs/merge/client-settings.md
  specs/merge/fork-choice.md
  specs/phase0/fork-choice.md
  specs/sharding/beacon-chain.md
  tests/core/pyspec/eth2spec/VERSION.txt
  tests/core/pyspec/eth2spec/test/altair/unittests/test_sync_protocol.py
  tests/core/pyspec/eth2spec/test/context.py
  tests/core/pyspec/eth2spec/test/helpers/fork_choice.py
  tests/core/pyspec/eth2spec/test/phase0/fork_choice/test_ex_ante.py
  tests/core/pyspec/eth2spec/test/phase0/fork_choice/test_get_head.py
  tests/generators/fork_choice/main.py
  tests/generators/ssz_generic/ssz_container.py
Labels: general:release

#2776 Set RNG seed in `test_get_head.py`
  tests/core/pyspec/eth2spec/test/phase0/fork_choice/test_get_head.py
Labels: scope:CI/tests/pyspec

#2777 Enable Bellatrix fork tests in test generator
  tests/generators/forks/main.py
Labels: scope:CI/tests/pyspec
