Repository ethereum/consensus-specs, pull requests merged in 2021-04, with the labels that each got.

#2299 Fix language with sync committee selection proofs
  specs/altair/p2p-interface.md
  specs/altair/validator.md
Labels: Altair, scope:networking, scope:v-guide

#2276 Modify incentives to preserve invariant
  setup.py
  specs/altair/beacon-chain.md
  tests/core/pyspec/eth2spec/test/altair/block_processing/test_process_sync_committee.py
Labels: Altair

#2309 Fix spelling
  specs/altair/validator.md
  specs/phase0/validator.md
Labels: general:presentation

#2312 Beacon Chain sub-tree filter on shard blobs
  specs/sharding/beacon-chain.md
  specs/sharding/p2p-interface.md
Labels: scope:sharding

#2302 Shard blob, headers and slashings
  configs/mainnet/sharding.yaml
  configs/minimal/sharding.yaml
  specs/sharding/beacon-chain.md
  specs/sharding/p2p-interface.md
Labels: scope:sharding

#2295 New application payload fields
  specs/merge/beacon-chain.md
  specs/merge/fork-choice.md
  specs/merge/validator.md
Labels: scope:merge

#2313 Update note about changes to slash_validator
  specs/altair/beacon-chain.md
Labels: general:presentation

#2319 Apply new terminology to the merge spec
  specs/merge/beacon-chain.md
  specs/merge/fork-choice.md
  specs/merge/validator.md
Labels: scope:merge

#2316 Make executable merge spec pass CI linter checks
  .gitignore
  Makefile
  setup.py
  specs/merge/beacon-chain.md
  tests/core/pyspec/eth2spec/test/context.py
  tests/core/pyspec/eth2spec/utils/ssz/ssz_typing.py
Labels: scope:merge

#2311 Add some basic tests for Altair validator guide
  setup.py
  tests/core/pyspec/eth2spec/test/altair/unittests/validator/__init__.py
  tests/core/pyspec/eth2spec/test/altair/unittests/validator/test_validator.py
Labels: scope:CI/tests

#2325 Refactor pyspec `context.py` by adding `typing.py` and `constants.py`
  tests/core/pyspec/eth2spec/gen_helpers/gen_from_tests/gen.py
  tests/core/pyspec/eth2spec/test/altair/block_processing/test_process_sync_committee.py
  tests/core/pyspec/eth2spec/test/altair/epoch_processing/test_process_sync_committee_updates.py
  tests/core/pyspec/eth2spec/test/altair/fork/test_fork.py
  tests/core/pyspec/eth2spec/test/altair/sanity/test_blocks.py
  tests/core/pyspec/eth2spec/test/altair/unittests/test_helpers.py
  tests/core/pyspec/eth2spec/test/altair/unittests/test_sync_protocol.py
  tests/core/pyspec/eth2spec/test/context.py
  tests/core/pyspec/eth2spec/test/custody_game/block_processing/test_process_attestation.py
  tests/core/pyspec/eth2spec/test/custody_game/block_processing/test_process_chunk_challenge.py
  tests/core/pyspec/eth2spec/test/custody_game/block_processing/test_process_custody_key_reveal.py
  tests/core/pyspec/eth2spec/test/custody_game/block_processing/test_process_custody_slashing.py
  tests/core/pyspec/eth2spec/test/custody_game/block_processing/test_process_early_derived_secret_reveal.py
  tests/core/pyspec/eth2spec/test/custody_game/epoch_processing/test_process_challenge_deadlines.py
  tests/core/pyspec/eth2spec/test/custody_game/epoch_processing/test_process_custody_final_updates.py
  tests/core/pyspec/eth2spec/test/custody_game/epoch_processing/test_process_reveal_deadlines.py
  tests/core/pyspec/eth2spec/test/custody_game/sanity/test_blocks.py
  tests/core/pyspec/eth2spec/test/helpers/constants.py
  tests/core/pyspec/eth2spec/test/helpers/typing.py
  tests/core/pyspec/eth2spec/test/phase0/epoch_processing/test_process_participation_record_updates.py
  tests/core/pyspec/eth2spec/test/phase0/fork_choice/test_get_head.py
  tests/core/pyspec/eth2spec/test/phase0/genesis/test_initialization.py
  tests/core/pyspec/eth2spec/test/phase0/genesis/test_validity.py
  tests/core/pyspec/eth2spec/test/phase0/rewards/test_basic.py
  tests/core/pyspec/eth2spec/test/phase0/rewards/test_leak.py
  tests/core/pyspec/eth2spec/test/phase0/sanity/test_blocks.py
  tests/core/pyspec/eth2spec/test/phase0/unittests/fork_choice/test_on_attestation.py
  tests/core/pyspec/eth2spec/test/phase0/unittests/validator/test_validator_unittest.py
  tests/core/pyspec/eth2spec/test/sharding/unittests/test_get_start_shard.py
  tests/generators/README.md
  tests/generators/bls/main.py
  tests/generators/epoch_processing/main.py
  tests/generators/finality/main.py
  tests/generators/fork_choice/main.py
  tests/generators/forks/main.py
  tests/generators/genesis/main.py
  tests/generators/operations/main.py
  tests/generators/rewards/main.py
  tests/generators/sanity/main.py
  tests/generators/shuffling/main.py
  tests/generators/ssz_generic/main.py
  tests/generators/ssz_static/main.py
Labels: scope:CI/tests

#2322 Merge cleanups and improvements
  setup.py
  specs/merge/beacon-chain.md
  specs/merge/fork-choice.md
  specs/merge/validator.md
  specs/phase0/beacon-chain.md
Labels: scope:merge

#2331 Update variable name ALTAIR_INVAIANT_CHECKS to INVARIANT in `setup.py`
  setup.py
Labels: general:proofread

#2332 Remove `CONFIG_NAME` from the config files.
  configs/mainnet/altair.yaml
  configs/mainnet/custody_game.yaml
  configs/mainnet/merge.yaml
  configs/mainnet/phase0.yaml
  configs/mainnet/sharding.yaml
  configs/minimal/altair.yaml
  configs/minimal/custody_game.yaml
  configs/minimal/merge.yaml
  configs/minimal/phase0.yaml
  configs/minimal/sharding.yaml
  tests/core/pyspec/eth2spec/config/config_util.py
Labels: scope:CI/tests

#2340 Add note for `ByteList` and `ByteVector`
  ssz/simple-serialize.md
Labels: scope:SSZ

#2321 Refactor pyspec builder with `SpecBuilder` classes
  setup.py
Labels: scope:CI/tests

#2342 Use `ALTAIR_FORK_EPOCH` instead of `ALTAIR_FORK_SLOT`
  configs/README.md
  configs/mainnet/altair.yaml
  configs/mainnet/merge.yaml
  configs/mainnet/sharding.yaml
  configs/minimal/altair.yaml
  configs/minimal/merge.yaml
  configs/minimal/sharding.yaml
  specs/altair/fork.md
  specs/das/fork-choice.md
  tests/core/pyspec/eth2spec/test/helpers/state.py
Labels: Altair

#2346 update pyspec dev usage docs, improve makefile
  Makefile
  tests/core/pyspec/README.md
Labels: scope:CI/tests

#2329 Respect subcommittees in gossip validations for Altair
  specs/altair/p2p-interface.md
Labels: Altair, scope:networking

#2358 More typos fixes in `sharding`
  specs/sharding/beacon-chain.md
Labels: scope:sharding

#2359 Fix: pass Set instead of Sequence to get_total_balance
  specs/sharding/beacon-chain.md
Labels: scope:sharding

#2355 Fix: `upgrade_to_altair` should use `phase0.get_current_epoch`
  specs/altair/fork.md
Labels: Altair

#2301 Fix bouncing attack tests
  tests/core/pyspec/eth2spec/test/phase0/unittests/fork_choice/test_on_block.py
Labels: scope:CI/tests

#2352 Add `syncnets` data to Altair `MetaData`
  specs/altair/p2p-interface.md
Labels: Altair, scope:networking

#2323 Simplify Altair "genesis"
  specs/altair/beacon-chain.md
  specs/altair/fork.md
  tests/core/pyspec/eth2spec/test/context.py
  tests/core/pyspec/eth2spec/test/helpers/constants.py
  tests/core/pyspec/eth2spec/test/helpers/fork_choice.py
  tests/core/pyspec/eth2spec/test/helpers/genesis.py
  tests/formats/README.md
Labels: Altair

#2362 Minor altair cleanups
  README.md
  specs/altair/p2p-interface.md
  specs/altair/validator.md
Labels: general:presentation, scope:networking, scope:v-guide
