Repository ethereum/consensus-specs, pull requests merged in 2021-06, with the labels that each got.

#2465 Fix sync committee penalty tests on #2453
  tests/core/pyspec/eth2spec/test/altair/block_processing/test_process_sync_committee.py
  tests/core/pyspec/eth2spec/test/helpers/proposer_slashings.py
  tests/core/pyspec/eth2spec/test/helpers/sync_committee.py
  tests/core/pyspec/eth2spec/test/phase0/sanity/test_blocks.py
Labels: scope:CI/tests/pyspec

#2464 Minor Altair cosmetic polishing
  specs/altair/beacon-chain.md
Labels: Altair

#2455 New union-based shard headers/commitments representation
  presets/mainnet/sharding.yaml
  presets/minimal/sharding.yaml
  specs/sharding/beacon-chain.md
Labels: scope:sharding

#2452 [Sharding] Handle the case when committee count < active shards
  specs/sharding/p2p-interface.md
Labels: scope:sharding

#2453 Modify sync committee logic and parameters to reduce variance
  presets/mainnet/altair.yaml
  specs/altair/beacon-chain.md
  tests/core/pyspec/eth2spec/test/altair/block_processing/test_process_sync_committee.py
  tests/core/pyspec/eth2spec/test/helpers/proposer_slashings.py
  tests/core/pyspec/eth2spec/test/helpers/sync_committee.py
  tests/core/pyspec/eth2spec/test/phase0/sanity/test_blocks.py
Labels: Altair

#2467 Bump `mypy` to v0.812
  setup.py
Labels: scope:CI/tests/pyspec

#2446 Rename `SyncCommitteeSignature` to `SyncCommitteeMessage` to avoid name conflicts
  specs/altair/p2p-interface.md
  specs/altair/validator.md
Labels: Altair, scope:networking

#2438 Move BLS extensions to new file in Altair
  setup.py
  specs/altair/beacon-chain.md
  specs/altair/bls.md
Labels: scope:BLS

#2435 Inactivity updates test generation, implement new participation flag updates testing
  tests/core/pyspec/eth2spec/test/altair/epoch_processing/test_process_participation_flag_updates.py
  tests/formats/epoch_processing/README.md
  tests/generators/epoch_processing/main.py
Labels: Altair, scope:CI/tests/pyspec

#2444 Add some invariant checks to pyspec unit tests
  setup.py
  tests/core/pyspec/eth2spec/test/altair/unittests/__init__.py
  tests/core/pyspec/eth2spec/test/altair/unittests/test_config_invariants.py
  tests/core/pyspec/eth2spec/test/helpers/constants.py
  tests/core/pyspec/eth2spec/test/phase0/unittests/__init__.py
  tests/core/pyspec/eth2spec/test/phase0/unittests/test_config_invariants.py
  tests/core/pyspec/eth2spec/test/phase0/unittests/validator/__init__.py
Labels: scope:CI/tests/pyspec

#2462 Merge transition process with computed transition total difficulty
  README.md
  configs/mainnet.yaml
  configs/minimal.yaml
  setup.py
  specs/merge/beacon-chain.md
  specs/merge/fork-choice.md
  specs/merge/fork.md
  specs/merge/validator.md
  tests/core/pyspec/eth2spec/test/helpers/merge/__init__.py
  tests/core/pyspec/eth2spec/test/helpers/merge/fork.py
  tests/core/pyspec/eth2spec/test/merge/fork/__init__.py
  tests/core/pyspec/eth2spec/test/merge/fork/test_merge_fork_basic.py
  tests/core/pyspec/eth2spec/test/merge/fork/test_merge_fork_random.py
  tests/formats/forks/README.md
Labels: scope:merge

#2476 add missing parenthesis
  specs/altair/p2p-interface.md
Labels: general:presentation

#2468 Release v1.1.0-alpha.7
  Makefile
  README.md
  configs/mainnet.yaml
  configs/minimal.yaml
  presets/mainnet/altair.yaml
  presets/mainnet/sharding.yaml
  presets/minimal/sharding.yaml
  setup.py
  specs/altair/beacon-chain.md
  specs/altair/bls.md
  specs/altair/p2p-interface.md
  specs/altair/validator.md
  specs/merge/beacon-chain.md
  specs/merge/fork-choice.md
  specs/merge/fork.md
  specs/merge/validator.md
  specs/sharding/beacon-chain.md
  specs/sharding/p2p-interface.md
  ssz/simple-serialize.md
  tests/core/pyspec/eth2spec/VERSION.txt
  tests/core/pyspec/eth2spec/test/altair/block_processing/test_process_sync_aggregate.py
  tests/core/pyspec/eth2spec/test/altair/epoch_processing/test_process_participation_flag_updates.py
  tests/core/pyspec/eth2spec/test/altair/transition/test_transition.py
  tests/core/pyspec/eth2spec/test/altair/unittests/__init__.py
  tests/core/pyspec/eth2spec/test/altair/unittests/test_config_invariants.py
  tests/core/pyspec/eth2spec/test/altair/unittests/validator/test_validator.py
  tests/core/pyspec/eth2spec/test/custody_game/block_processing/test_process_attestation.py
  tests/core/pyspec/eth2spec/test/custody_game/block_processing/test_process_chunk_challenge.py
  tests/core/pyspec/eth2spec/test/custody_game/block_processing/test_process_custody_slashing.py
  tests/core/pyspec/eth2spec/test/custody_game/epoch_processing/test_process_challenge_deadlines.py
  tests/core/pyspec/eth2spec/test/custody_game/epoch_processing/test_process_custody_final_updates.py
  tests/core/pyspec/eth2spec/test/custody_game/sanity/test_blocks.py
  tests/core/pyspec/eth2spec/test/helpers/attestations.py
  tests/core/pyspec/eth2spec/test/helpers/block_processing.py
  tests/core/pyspec/eth2spec/test/helpers/constants.py
  tests/core/pyspec/eth2spec/test/helpers/merge/__init__.py
  tests/core/pyspec/eth2spec/test/helpers/merge/fork.py
  tests/core/pyspec/eth2spec/test/helpers/proposer_slashings.py
  tests/core/pyspec/eth2spec/test/helpers/state.py
  tests/core/pyspec/eth2spec/test/helpers/sync_committee.py
  tests/core/pyspec/eth2spec/test/merge/fork/__init__.py
  tests/core/pyspec/eth2spec/test/merge/fork/test_merge_fork_basic.py
  tests/core/pyspec/eth2spec/test/merge/fork/test_merge_fork_random.py
  tests/core/pyspec/eth2spec/test/phase0/block_processing/test_process_attestation.py
  tests/core/pyspec/eth2spec/test/phase0/sanity/test_blocks.py
  tests/core/pyspec/eth2spec/test/phase0/unittests/__init__.py
  tests/core/pyspec/eth2spec/test/phase0/unittests/test_config_invariants.py
  tests/core/pyspec/eth2spec/test/phase0/unittests/validator/__init__.py
  tests/core/pyspec/eth2spec/utils/ssz/ssz_typing.py
  tests/formats/epoch_processing/README.md
  tests/formats/forks/README.md
  tests/formats/operations/README.md
  tests/generators/epoch_processing/main.py
  tests/generators/operations/main.py
Labels: Altair

#2472 polish merge/beacon-chain.md
  setup.py
  specs/merge/beacon-chain.md
  specs/merge/fork-choice.md
  specs/merge/validator.md
  tests/core/pyspec/eth2spec/test/helpers/execution_payload.py
  tests/core/pyspec/eth2spec/test/merge/block_processing/test_process_execution_payload.py
Labels: scope:merge

#2497 encode, decode and randomize ssz Union types
  tests/core/pyspec/eth2spec/debug/decode.py
  tests/core/pyspec/eth2spec/debug/encode.py
  tests/core/pyspec/eth2spec/debug/random_value.py
Labels: scope:CI/tests/pyspec

#2493 Release v1.1.0-alpha.8
  README.md
  setup.py
  specs/altair/p2p-interface.md
  specs/altair/validator.md
  specs/merge/beacon-chain.md
  specs/merge/fork-choice.md
  specs/merge/validator.md
  specs/sharding/beacon-chain.md
  tests/core/pyspec/eth2spec/VERSION.txt
  tests/core/pyspec/eth2spec/debug/decode.py
  tests/core/pyspec/eth2spec/debug/encode.py
  tests/core/pyspec/eth2spec/debug/random_value.py
  tests/core/pyspec/eth2spec/test/helpers/block.py
  tests/core/pyspec/eth2spec/test/helpers/execution_payload.py
  tests/core/pyspec/eth2spec/test/helpers/proposer_slashings.py
  tests/core/pyspec/eth2spec/test/merge/block_processing/test_process_execution_payload.py
  tests/core/pyspec/eth2spec/test/phase0/block_processing/test_process_attester_slashing.py
  tests/core/pyspec/eth2spec/test/phase0/block_processing/test_process_proposer_slashing.py
Labels: Altair, DO NOT MERGE
