Repository ethereum/consensus-specs, pull requests merged in 2021-09, with the labels that each got.

#2579 Fix testing helper `process_and_sign_block_without_header_validations`
  tests/core/pyspec/eth2spec/test/phase0/sanity/test_blocks.py
Labels: scope:CI/tests/pyspec

#2577 Fix fork choice `on_block` tests and update test format
  tests/core/pyspec/eth2spec/test/helpers/fork_choice.py
  tests/core/pyspec/eth2spec/test/phase0/fork_choice/test_on_block.py
  tests/formats/fork_choice/README.md
Labels: scope:CI/tests/pyspec

#2586 Add churn tests for when churn limit scales with v-set size
  configs/minimal.yaml
  tests/core/pyspec/eth2spec/test/context.py
  tests/core/pyspec/eth2spec/test/phase0/block_processing/test_process_voluntary_exit.py
  tests/core/pyspec/eth2spec/test/phase0/epoch_processing/test_process_registry_updates.py
Labels: scope:CI/tests/pyspec

#2595 Verify terminal PoW block after call to state_transition
  setup.py
  specs/merge/fork-choice.md
Labels: scope:merge

#2581 Set the value of the random field to the previous randao_mix
  specs/merge/beacon-chain.md
  specs/merge/validator.md
  specs/sharding/beacon-chain.md
  tests/core/pyspec/eth2spec/test/helpers/block.py
  tests/core/pyspec/eth2spec/test/phase0/sanity/test_blocks.py
Labels: scope:merge

#2605 Hardcode terminal total difficulty
  configs/mainnet.yaml
  configs/minimal.yaml
  specs/merge/beacon-chain.md
  specs/merge/client-settings.md
  specs/merge/fork-choice.md
  specs/merge/fork.md
  specs/merge/validator.md
Labels: scope:merge

#2616 improve grammar in BLS test comments
  tests/generators/bls/main.py
Labels: general:presentation

#2619 fix merkle proof test for mainnet
  tests/core/pyspec/eth2spec/test/altair/unittests/test_helpers.py
Labels: scope:CI/tests/pyspec

#2629 merkle proof test generator
  tests/core/pyspec/eth2spec/test/altair/merkle/__init__.py
  tests/core/pyspec/eth2spec/test/altair/merkle/test_single_proof.py
  tests/formats/merkle/README.md
  tests/formats/merkle/single_proof.md
  tests/generators/merkle/README.md
  tests/generators/merkle/__init__.py
  tests/generators/merkle/main.py
  tests/generators/merkle/requirements.txt
Labels: scope:CI/tests/pyspec, Altair

#2634 Fix `initialize_beacon_state_from_eth1` previous_version
  specs/altair/beacon-chain.md
  specs/merge/beacon-chain.md
Labels: scope:CI/tests/pyspec
