Repository ethereum/consensus-specs, pull requests merged in 2021-01, with the labels that each got.

#2169 Bump `py_ecc` and `milagro_bls_binding`
  .circleci/config.yml
  Makefile
  setup.py
  tests/generators/bls/requirements.txt
Labels: scope:CI/tests

#2175 Add light client tests
  tests/core/pyspec/eth2spec/test/helpers/epoch_processing.py
  tests/core/pyspec/eth2spec/test/helpers/sync_committee.py
  tests/core/pyspec/eth2spec/test/lightclient_patch/__init__.py
  tests/core/pyspec/eth2spec/test/lightclient_patch/block_processing/__init__.py
  tests/core/pyspec/eth2spec/test/lightclient_patch/block_processing/test_process_sync_committee.py
  tests/core/pyspec/eth2spec/test/lightclient_patch/epoch_processing/__init__.py
  tests/core/pyspec/eth2spec/test/lightclient_patch/epoch_processing/test_process_final_updates.py
  tests/core/pyspec/eth2spec/test/lightclient_patch/sanity/test_blocks.py
  tests/core/pyspec/eth2spec/test/phase0/epoch_processing/test_process_final_updates.py
  tests/core/pyspec/eth2spec/test/phase0/epoch_processing/test_process_justification_and_finalization.py
  tests/core/pyspec/eth2spec/test/phase0/epoch_processing/test_process_registry_updates.py
  tests/core/pyspec/eth2spec/test/phase0/epoch_processing/test_process_rewards_and_penalties.py
  tests/core/pyspec/eth2spec/test/phase0/epoch_processing/test_process_slashings.py
  tests/core/pyspec/eth2spec/test/phase1/epoch_processing/test_process_challenge_deadlines.py
  tests/core/pyspec/eth2spec/test/phase1/epoch_processing/test_process_custody_final_updates.py
  tests/core/pyspec/eth2spec/test/phase1/epoch_processing/test_process_reveal_deadlines.py
Labels: scope:CI/tests, scope:light-clients

#2180 Fix existing tests on #2176 (accounting reform)
  tests/core/pyspec/eth2spec/test/context.py
  tests/core/pyspec/eth2spec/test/helpers/attestations.py
  tests/core/pyspec/eth2spec/test/helpers/block.py
  tests/core/pyspec/eth2spec/test/helpers/rewards.py
  tests/core/pyspec/eth2spec/test/phase0/epoch_processing/test_process_justification_and_finalization.py
  tests/core/pyspec/eth2spec/test/phase0/epoch_processing/test_process_rewards_and_penalties.py
  tests/core/pyspec/eth2spec/test/phase0/rewards/test_basic.py
  tests/core/pyspec/eth2spec/test/phase0/rewards/test_leak.py
  tests/core/pyspec/eth2spec/test/phase0/sanity/test_blocks.py
Labels: scope:CI/tests

#2184 p2p spec, fix typo: same condition, but non-aggregate attestation here
  specs/phase0/p2p-interface.md
Labels: general:presentation

#2181 Adjust minimal config and fix sync committee tests
  configs/minimal/lightclient_patch.yaml
  specs/lightclient/beacon-chain.md
  tests/core/pyspec/eth2spec/test/lightclient_patch/block_processing/test_process_sync_committee.py
Labels: scope:light-clients

#2187 Breaking down `process_final_updates`, take 2
  specs/lightclient/beacon-chain.md
  specs/phase0/beacon-chain.md
  specs/phase1/beacon-chain.md
  tests/core/pyspec/eth2spec/test/helpers/epoch_processing.py
  tests/core/pyspec/eth2spec/test/lightclient_patch/epoch_processing/test_process_sync_committee_updates.py
  tests/core/pyspec/eth2spec/test/phase0/epoch_processing/test_process_effective_balance_updates.py
  tests/core/pyspec/eth2spec/test/phase0/epoch_processing/test_process_eth1_data_reset.py
  tests/core/pyspec/eth2spec/test/phase0/epoch_processing/test_process_historical_roots_update.py
  tests/core/pyspec/eth2spec/test/phase0/epoch_processing/test_process_participation_record_updates.py
  tests/core/pyspec/eth2spec/test/phase0/epoch_processing/test_process_randao_mixes_reset.py
  tests/core/pyspec/eth2spec/test/phase0/epoch_processing/test_process_slashings_reset.py
  tests/formats/epoch_processing/README.md
  tests/generators/README.md
  tests/generators/epoch_processing/main.py
Labels: general:RFC, general:discussion, scope:CI/tests
