Repository ethereum/consensus-specs, pull requests merged in 2021-10, with the labels that each got.

#2635 run tests against future forks by default
  tests/core/pyspec/eth2spec/test/altair/merkle/test_single_proof.py
  tests/core/pyspec/eth2spec/test/altair/unittests/networking/test_networking.py
  tests/core/pyspec/eth2spec/test/altair/unittests/test_config_invariants.py
  tests/core/pyspec/eth2spec/test/altair/unittests/test_sync_protocol.py
  tests/core/pyspec/eth2spec/test/context.py
  tests/generators/merkle/main.py
Labels: scope:CI/tests/pyspec

#2638 use correct timestamp for empty ExecutionPayload
  tests/core/pyspec/eth2spec/test/helpers/execution_payload.py
Labels: scope:CI/tests/pyspec

#2640 initialize_beacon_state_from_eth1 for pre-transition merge
  specs/merge/beacon-chain.md
  tests/core/pyspec/eth2spec/test/helpers/genesis.py
  tests/core/pyspec/eth2spec/test/merge/genesis/__init__.py
  tests/core/pyspec/eth2spec/test/merge/genesis/test_initialization.py
  tests/formats/genesis/initialization.md
  tests/generators/genesis/main.py
Labels: scope:merge

#2654 release v1.1.2
  setup.py
  tests/core/pyspec/eth2spec/VERSION.txt
  tests/core/pyspec/eth2spec/gen_helpers/gen_from_tests/gen.py
  tests/core/pyspec/eth2spec/test/altair/sanity/test_blocks.py
  tests/core/pyspec/eth2spec/test/merge/sanity/test_blocks.py
  tests/generators/epoch_processing/main.py
  tests/generators/fork_choice/main.py
  tests/generators/genesis/main.py
  tests/generators/operations/main.py
  tests/generators/sanity/main.py
Labels: Altair, general:release

#2645 Specify format for --terminal-total-difficulty
  specs/merge/client-settings.md
Labels: scope:merge

#2670 [DO NOT MERGE] release v1.1.3
  setup.py
  specs/merge/beacon-chain.md
  specs/merge/client-settings.md
  tests/core/pyspec/eth2spec/VERSION.txt
  tests/core/pyspec/eth2spec/test/altair/epoch_processing/test_process_inactivity_updates.py
  tests/core/pyspec/eth2spec/test/altair/transition/test_activations_and_exits.py
  tests/core/pyspec/eth2spec/test/altair/transition/test_leaking.py
  tests/core/pyspec/eth2spec/test/altair/transition/test_operations.py
  tests/core/pyspec/eth2spec/test/altair/transition/test_slashing.py
  tests/core/pyspec/eth2spec/test/altair/transition/test_transition.py
  tests/core/pyspec/eth2spec/test/helpers/fork_transition.py
  tests/core/pyspec/eth2spec/test/helpers/genesis.py
  tests/core/pyspec/eth2spec/test/helpers/random.py
  tests/formats/random/README.md
  tests/generators/transition/main.py
Labels: Altair, general:release

#2673 fix issue with mutation in test generation
  tests/core/pyspec/eth2spec/test/helpers/fork_transition.py
Labels: scope:CI/tests/pyspec

#2678 Run Pytest with specific phase(s)/fork(s) tests
  tests/core/pyspec/eth2spec/test/conftest.py
  tests/core/pyspec/eth2spec/test/context.py
Labels: scope:CI/tests/pyspec

#2676 Clarify `get_pow_block` block-not-found case
  setup.py
  specs/merge/fork-choice.md
Labels: scope:merge

#2701 Update max transaction size in setup.py
  setup.py
Labels: scope:merge

#2698 update penalty params for Merge
  presets/mainnet/merge.yaml
  presets/minimal/merge.yaml
  specs/merge/beacon-chain.md
  tests/core/pyspec/eth2spec/test/helpers/proposer_slashings.py
  tests/core/pyspec/eth2spec/test/helpers/rewards.py
  tests/core/pyspec/eth2spec/test/phase0/epoch_processing/test_process_slashings.py
  tests/core/pyspec/eth2spec/test/phase0/unittests/test_config_invariants.py
Labels: scope:merge
