Repository ethereum/consensus-specs, pull requests merged in 2021-11, with the labels that each got.

#2704 Disable some too-slow mainnet preset fork choice tests
  tests/core/pyspec/eth2spec/test/phase0/fork_choice/test_on_block.py
Labels: scope:CI/tests/pyspec

#2702 Set execution params to presets
  specs/merge/beacon-chain.md
Labels: scope:CI/tests/pyspec, scope:merge

#2705 Kintsugi🍵 release
  .circleci/config.yml
  Makefile
  configs/mainnet.yaml
  configs/minimal.yaml
  presets/mainnet/merge.yaml
  presets/minimal/merge.yaml
  setup.py
  specs/merge/beacon-chain.md
  specs/merge/client-settings.md
  specs/merge/fork-choice.md
  specs/merge/p2p-interface.md
  specs/merge/validator.md
  specs/phase0/validator.md
  tests/core/pyspec/eth2spec/VERSION.txt
  tests/core/pyspec/eth2spec/test/conftest.py
  tests/core/pyspec/eth2spec/test/context.py
  tests/core/pyspec/eth2spec/test/helpers/fork_transition.py
  tests/core/pyspec/eth2spec/test/helpers/proposer_slashings.py
  tests/core/pyspec/eth2spec/test/helpers/rewards.py
  tests/core/pyspec/eth2spec/test/merge/block_processing/test_process_execution_payload.py
  tests/core/pyspec/eth2spec/test/phase0/block_processing/test_process_attestation.py
  tests/core/pyspec/eth2spec/test/phase0/epoch_processing/test_process_slashings.py
  tests/core/pyspec/eth2spec/test/phase0/fork_choice/test_on_block.py
  tests/core/pyspec/eth2spec/test/phase0/unittests/test_config_invariants.py
  tests/formats/ssz_generic/README.md
Labels: scope:merge, general:release

#2717 Release minor kintsugi update
  setup.py
  specs/merge/fork-choice.md
  specs/merge/validator.md
  specs/phase0/validator.md
  tests/core/pyspec/eth2spec/VERSION.txt
  tests/core/pyspec/eth2spec/test/helpers/fork_choice.py
  tests/core/pyspec/eth2spec/test/helpers/pow_block.py
  tests/core/pyspec/eth2spec/test/merge/fork_choice/test_on_merge_block.py
  tests/core/pyspec/eth2spec/test/merge/unittests/test_is_valid_terminal_pow_block.py
  tests/core/pyspec/eth2spec/test/merge/unittests/test_terminal_validity.py
  tests/core/pyspec/eth2spec/test/merge/unittests/test_validate_merge_block.py
Labels: scope:merge, general:release

#2728 Rename coinbase to fee_recipient
  specs/merge/beacon-chain.md
  specs/merge/fork-choice.md
  specs/merge/validator.md
  tests/core/pyspec/eth2spec/test/helpers/execution_payload.py
  tests/core/pyspec/eth2spec/test/helpers/genesis.py
Labels: scope:merge

#2723 Add a test to cover the case of `is_execution_enabled` result is false
  tests/core/pyspec/eth2spec/test/merge/sanity/test_blocks.py
Labels: scope:CI/tests/pyspec

#2721 Add The Merge spec to coverage report targets
  Makefile
Labels: scope:CI/tests/pyspec

#2726 Fix `get_pow_block_at_terminal_total_difficulty` and add unit tests
  specs/merge/validator.md
  tests/core/pyspec/eth2spec/test/helpers/pow_block.py
  tests/core/pyspec/eth2spec/test/merge/unittests/validator/test_validator.py
Labels: scope:v-guide, scope:CI/tests/pyspec, scope:merge

#2706 Make `Phase0 -> Altair` fork transition tests compatible with `Altair -> Merge`
  tests/core/pyspec/eth2spec/test/altair/transition/test_activations_and_exits.py
  tests/core/pyspec/eth2spec/test/altair/transition/test_leaking.py
  tests/core/pyspec/eth2spec/test/altair/transition/test_operations.py
  tests/core/pyspec/eth2spec/test/altair/transition/test_slashing.py
  tests/core/pyspec/eth2spec/test/altair/transition/test_transition.py
  tests/core/pyspec/eth2spec/test/context.py
  tests/core/pyspec/eth2spec/test/helpers/constants.py
  tests/core/pyspec/eth2spec/test/helpers/fork_transition.py
  tests/core/pyspec/eth2spec/test/merge/transition/__init__.py
  tests/core/pyspec/eth2spec/test/merge/transition/test_transition.py
  tests/core/pyspec/eth2spec/test/utils/__init__.py
  tests/core/pyspec/eth2spec/test/utils/utils.py
  tests/generators/transition/main.py
Labels: scope:CI/tests/pyspec

#2727 always atomically update justified and finalized
  specs/merge/fork-choice.md
  specs/phase0/fork-choice.md
  tests/core/pyspec/eth2spec/test/helpers/fork_choice.py
  tests/core/pyspec/eth2spec/test/phase0/fork_choice/test_on_block.py
Labels: scope:fork-choice

#2736 Add `proposer_boost_root` field to test vector "checks" step
  tests/core/pyspec/eth2spec/test/helpers/fork_choice.py
  tests/formats/fork_choice/README.md
Labels: scope:fork-choice

#2730 Proposer LMD Score Boosting
  configs/mainnet.yaml
  configs/minimal.yaml
  specs/merge/fork-choice.md
  specs/phase0/beacon-chain.md
  specs/phase0/fork-choice.md
  specs/phase0/validator.md
  tests/core/pyspec/eth2spec/test/helpers/fork_choice.py
  tests/core/pyspec/eth2spec/test/phase0/fork_choice/test_get_head.py
  tests/core/pyspec/eth2spec/test/phase0/fork_choice/test_on_block.py
  tests/core/pyspec/eth2spec/test/phase0/unittests/test_config_invariants.py
  tests/formats/fork_choice/README.md
Labels: scope:fork-choice

#2737 Fix spec typo and add `test_prepare_execution_payload` unit tests
  specs/merge/validator.md
  tests/core/pyspec/eth2spec/test/merge/unittests/validator/test_validator.py
Labels: scope:v-guide, scope:CI/tests/pyspec

#2745 Bring more clarity to notify_forkchoice_updated calls
  specs/merge/fork-choice.md
Labels: scope:fork-choice, scope:merge
