Repository ethereum/consensus-specs, pull requests merged in 2021-08, with the labels that each got.

#2536 Rename the `eth2_*` functions to `eth_*`
  setup.py
  specs/altair/beacon-chain.md
  specs/altair/bls.md
Labels: Altair, general:presentation

#2486 Shard builder <> proposer separation
  presets/mainnet/sharding.yaml
  presets/minimal/sharding.yaml
  specs/sharding/beacon-chain.md
  specs/sharding/p2p-interface.md
Labels: scope:sharding

#2531 add base merge p2p spec
  specs/merge/p2p-interface.md
Labels: scope:merge

#2533 Rebase Merge spec with London
  specs/merge/beacon-chain.md
  tests/core/pyspec/eth2spec/test/helpers/execution_payload.py
  tests/core/pyspec/eth2spec/test/helpers/genesis.py
Labels: scope:merge

#2540 [Sharding] Rename `DataCommitment.length` field to `samples_count` and fix `degree_proof` validation
  specs/sharding/beacon-chain.md
Labels: scope:sharding

#2487 Rework + add some `on_block` tests
  tests/core/pyspec/eth2spec/test/helpers/attestations.py
  tests/core/pyspec/eth2spec/test/helpers/fork_choice.py
  tests/core/pyspec/eth2spec/test/phase0/fork_choice/test_get_head.py
  tests/core/pyspec/eth2spec/test/phase0/fork_choice/test_on_block.py
  tests/core/pyspec/eth2spec/test/phase0/unittests/fork_choice/test_on_block.py
  tests/formats/fork_choice/README.md
  tests/generators/fork_choice/main.py
Labels: scope:CI/tests/pyspec

#2557 Rename `eth2.0-spec-tests` to `consensus-spec-tests`
  .gitignore
  Makefile
Labels: scope:CI/tests/pyspec

#2555 modify docs for great renaming
  .gitignore
  Makefile
  README.md
  specs/altair/beacon-chain.md
  specs/altair/bls.md
  specs/altair/fork.md
  specs/altair/p2p-interface.md
  specs/altair/sync-protocol.md
  specs/altair/validator.md
  specs/custody_game/beacon-chain.md
  specs/custody_game/validator.md
  specs/das/das-core.md
  specs/das/fork-choice.md
  specs/das/p2p-interface.md
  specs/das/sampling.md
  specs/merge/beacon-chain.md
  specs/merge/fork-choice.md
  specs/merge/fork.md
  specs/merge/p2p-interface.md
  specs/merge/validator.md
  specs/phase0/beacon-chain.md
  specs/phase0/deposit-contract.md
  specs/phase0/fork-choice.md
  specs/phase0/p2p-interface.md
  specs/phase0/validator.md
  specs/phase0/weak-subjectivity.md
  specs/sharding/beacon-chain.md
  specs/sharding/p2p-interface.md
  tests/core/pyspec/README.md
  tests/core/pyspec/eth2spec/config/README.md
  tests/core/pyspec/eth2spec/gen_helpers/README.md
  tests/formats/README.md
  tests/formats/ssz_static/README.md
  tests/generators/README.md
  tests/generators/shuffling/README.md
  tests/generators/ssz_static/README.md
Labels: general:presentation

#2518 Fix fork choice store checkpoints inconsistency issue
  specs/phase0/fork-choice.md
  tests/core/pyspec/eth2spec/test/phase0/unittests/fork_choice/test_on_tick.py
Labels: scope:fork-choice

#2578 Fix `merge_mods` in test generators
  tests/generators/epoch_processing/main.py
  tests/generators/finality/main.py
  tests/generators/fork_choice/main.py
  tests/generators/operations/main.py
  tests/generators/rewards/main.py
  tests/generators/sanity/main.py
Labels: scope:CI/tests/pyspec
