Repository ethereum/consensus-specs, pull requests merged in 2022-01, with the labels that each got.

#2787 add some non-empty extra_data tests
  tests/core/pyspec/eth2spec/test/bellatrix/block_processing/test_process_execution_payload.py
Labels: scope:CI/tests/pyspec

#2796 Rename `sync_committee_aggregate` > `sync_aggregate`
  specs/altair/sync-protocol.md
  tests/core/pyspec/eth2spec/test/altair/unittests/test_sync_protocol.py
Labels: general:presentation, scope:light-clients

#2790 Add 3 new invalid test cases
  tests/generators/ssz_generic/ssz_container.py
Labels: scope:CI/tests/pyspec

#2770 Optimistic Sync
  setup.py
  specs/bellatrix/p2p-interface.md
  sync/optimistic.md
Labels: general:RFC, scope:networking

#2815 Release updated merge specs
  Makefile
  README.md
  configs/README.md
  configs/mainnet.yaml
  configs/minimal.yaml
  setup.py
  specs/altair/beacon-chain.md
  specs/altair/sync-protocol.md
  specs/altair/validator.md
  specs/bellatrix/beacon-chain.md
  specs/bellatrix/p2p-interface.md
  specs/custody_game/beacon-chain.md
  specs/phase0/beacon-chain.md
  sync/optimistic.md
  tests/core/pyspec/eth2spec/VERSION.txt
  tests/core/pyspec/eth2spec/config/config_util.py
  tests/core/pyspec/eth2spec/test/altair/unittests/test_sync_protocol.py
  tests/core/pyspec/eth2spec/test/bellatrix/block_processing/test_process_execution_payload.py
  tests/core/pyspec/eth2spec/test/bellatrix/random/__init__.py
  tests/core/pyspec/eth2spec/test/bellatrix/random/test_random.py
  tests/core/pyspec/eth2spec/test/helpers/execution_payload.py
  tests/core/pyspec/eth2spec/test/helpers/genesis.py
  tests/core/pyspec/eth2spec/test/utils/randomized_block_tests.py
  tests/generators/random/Makefile
  tests/generators/random/generate.py
  tests/generators/random/main.py
  tests/generators/ssz_generic/ssz_container.py
Labels: Bellatrix
