Repository ethereum/consensus-specs, pull requests merged in 2022-06, with the labels that each got.

#2907 Remove `@disable_process_reveal_deadlines` from `sanity/test_blocks.py`
  tests/core/pyspec/eth2spec/test/phase0/sanity/test_blocks.py
Labels: scope:CI/tests/pyspec

#2862 Partial withdrawals
  presets/mainnet/capella.yaml
  presets/minimal/capella.yaml
  specs/capella/beacon-chain.md
  specs/capella/fork.md
  specs/capella/validator.md
  tests/core/pyspec/eth2spec/test/capella/block_processing/test_process_withdrawals.py
  tests/core/pyspec/eth2spec/test/capella/epoch_processing/test_process_full_withdrawals.py
  tests/core/pyspec/eth2spec/test/capella/epoch_processing/test_process_partial_withdrawals.py
  tests/core/pyspec/eth2spec/test/helpers/epoch_processing.py
  tests/core/pyspec/eth2spec/test/helpers/execution_payload.py
Labels: Capella

#2915 Optimizing EIP-4844 block validation (using KZG proofs)
  specs/eip4844/beacon-chain.md
  specs/eip4844/p2p-interface.md
  specs/eip4844/polynomial-commitments.md
  specs/eip4844/validator.md
Labels: eip-4844

#2916 Remove `fork_version` from `LightClientUpdate`
  specs/altair/fork.md
  specs/altair/sync-protocol.md
  specs/bellatrix/fork.md
  specs/capella/fork.md
  tests/core/pyspec/eth2spec/test/altair/unittests/test_config_override.py
  tests/core/pyspec/eth2spec/test/altair/unittests/test_sync_protocol.py
  tests/core/pyspec/eth2spec/test/context.py
  tests/core/pyspec/eth2spec/test/helpers/light_client.py
Labels: scope:light-clients

#2924 Allow `LightClientUpdate` with genesis finality
  specs/altair/sync-protocol.md
Labels: scope:light-clients
