Repository ethereum/consensus-specs, pull requests merged in 2022-09, with the labels that each got.

#2965 Extend fork_choice test format with on_payload_info
  tests/formats/fork_choice/README.md
Labels: scope:CI/tests/pyspec

#2982 Add optimistic sync tests
  sync/optimistic.md
  tests/core/pyspec/eth2spec/gen_helpers/gen_base/gen_runner.py
  tests/core/pyspec/eth2spec/test/bellatrix/sync/__init__.py
  tests/core/pyspec/eth2spec/test/bellatrix/sync/test_optimistic.py
  tests/core/pyspec/eth2spec/test/helpers/attestations.py
  tests/core/pyspec/eth2spec/test/helpers/fork_choice.py
  tests/core/pyspec/eth2spec/test/helpers/optimistic_sync.py
  tests/generators/sync/main.py
  tests/generators/sync/requirements.txt
Labels: general:RFC, scope:CI/tests/pyspec

#2989 Add `test_process_deposit::test_key_validate_invalid`
  tests/core/pyspec/eth2spec/test/helpers/deposits.py
  tests/core/pyspec/eth2spec/test/phase0/block_processing/test_process_deposit.py
  tests/core/pyspec/eth2spec/utils/bls.py
Labels: scope:CI/tests/pyspec

#2993 Fix link to beacon-chain doc
  specs/altair/light-client/sync-protocol.md
Labels: general:proofread

#3000 Add a redirection README.md for the sync tests
  tests/formats/sync/README.md
Labels: scope:CI/tests/pyspec

#3001 Update BLS test format: output `null` for invalid case
  tests/formats/bls/aggregate.md
  tests/formats/bls/eth_aggregate_pubkeys.md
  tests/formats/bls/sign.md
Labels: scope:CI/tests/pyspec

#3005 Fixing EIP-4844 function names
  specs/eip4844/polynomial-commitments.md
  specs/eip4844/validator.md
Labels: eip-4844

#2999 release v1.2.0
  setup.py
  specs/altair/light-client/sync-protocol.md
  specs/capella/beacon-chain.md
  specs/capella/fork-choice.md
  specs/capella/fork.md
  specs/eip4844/p2p-interface.md
  specs/eip4844/polynomial-commitments.md
  specs/eip4844/validator.md
  sync/optimistic.md
  tests/core/pyspec/eth2spec/VERSION.txt
  tests/core/pyspec/eth2spec/gen_helpers/gen_base/gen_runner.py
  tests/core/pyspec/eth2spec/test/bellatrix/sync/__init__.py
  tests/core/pyspec/eth2spec/test/bellatrix/sync/test_optimistic.py
  tests/core/pyspec/eth2spec/test/helpers/attestations.py
  tests/core/pyspec/eth2spec/test/helpers/deposits.py
  tests/core/pyspec/eth2spec/test/helpers/fork_choice.py
  tests/core/pyspec/eth2spec/test/helpers/optimistic_sync.py
  tests/core/pyspec/eth2spec/test/phase0/block_processing/test_process_deposit.py
  tests/core/pyspec/eth2spec/utils/bls.py
  tests/formats/bls/aggregate.md
  tests/formats/bls/eth_aggregate_pubkeys.md
  tests/formats/bls/sign.md
  tests/formats/fork_choice/README.md
  tests/formats/sync/README.md
  tests/generators/sync/main.py
  tests/generators/sync/requirements.txt
Labels: DO NOT MERGE, Bellatrix

#3011 4844 Reverse bit ordering (#3006 rebased + func signature fixed)
  setup.py
  specs/eip4844/polynomial-commitments.md
Labels: eip-4844

#2998 remove withdrawn_epoch
  specs/capella/beacon-chain.md
  specs/capella/fork.md
  tests/core/pyspec/eth2spec/test/capella/block_processing/test_process_bls_to_execution_change.py
  tests/core/pyspec/eth2spec/test/capella/block_processing/test_process_deposit.py
  tests/core/pyspec/eth2spec/test/capella/epoch_processing/test_process_full_withdrawals.py
  tests/core/pyspec/eth2spec/test/helpers/capella/fork.py
  tests/core/pyspec/eth2spec/test/helpers/deposits.py
  tests/core/pyspec/eth2spec/test/helpers/genesis.py
  tests/core/pyspec/eth2spec/test/helpers/withdrawals.py
  tests/core/pyspec/eth2spec/test/phase0/block_processing/test_process_deposit.py
Labels: Capella

#3017 Fix incorrect comment
  specs/eip4844/polynomial-commitments.md
Labels: eip-4844

#3004 EIP-4844: Update ExecutionPayloadHeader
  specs/eip4844/beacon-chain.md
Labels: eip-4844

#3019 EIP4844: various fixes
  specs/eip4844/p2p-interface.md
  specs/eip4844/validator.md
Labels: eip-4844
