Repository ethereum/consensus-specs, pull requests merged in 2022-07, with the labels that each got.

#2930 Include Bellatrix p2p interface specs into pyspec
  setup.py
Labels: scope:CI/tests/pyspec

#2929 Cleanup light client tests
  tests/core/pyspec/eth2spec/test/altair/unittests/test_sync_protocol.py
  tests/core/pyspec/eth2spec/test/helpers/light_client.py
Labels: scope:light-clients

#2932 Root `next_sync_committee` in `attested_header`
  specs/altair/sync-protocol.md
  tests/core/pyspec/eth2spec/test/altair/sync_protocol/__init__.py
  tests/core/pyspec/eth2spec/test/altair/sync_protocol/test_update_ranking.py
  tests/core/pyspec/eth2spec/test/helpers/light_client.py
  tests/formats/sync_protocol/README.md
  tests/formats/sync_protocol/update_ranking.md
  tests/generators/sync_protocol/README.md
  tests/generators/sync_protocol/__init__.py
  tests/generators/sync_protocol/main.py
  tests/generators/sync_protocol/requirements.txt
Labels: scope:light-clients

#2926 Add summary diagnostics to spec test gen
  setup.py
  tests/core/pyspec/eth2spec/gen_helpers/gen_base/gen_runner.py
Labels: scope:CI/tests/pyspec

#2937 Executable EIP-4844 specs (PR #2901 squashed and rebased)
  .circleci/config.yml
  .gitignore
  Makefile
  configs/mainnet.yaml
  configs/minimal.yaml
  presets/mainnet/eip4844.yaml
  presets/minimal/eip4844.yaml
  setup.py
  specs/eip4844/beacon-chain.md
  specs/eip4844/fork.md
  specs/eip4844/p2p-interface.md
  specs/eip4844/polynomial-commitments.md
  specs/eip4844/validator.md
  tests/core/pyspec/eth2spec/test/altair/unittests/test_config_override.py
  tests/core/pyspec/eth2spec/test/conftest.py
  tests/core/pyspec/eth2spec/test/context.py
  tests/core/pyspec/eth2spec/test/eip4844/sanity/__init__.py
  tests/core/pyspec/eth2spec/test/eip4844/sanity/test_blocks.py
  tests/core/pyspec/eth2spec/test/eip4844/unittests/__init__.py
  tests/core/pyspec/eth2spec/test/eip4844/unittests/test_kzg.py
  tests/core/pyspec/eth2spec/test/eip4844/unittests/validator/__init__.py
  tests/core/pyspec/eth2spec/test/eip4844/unittests/validator/test_validator.py
  tests/core/pyspec/eth2spec/test/helpers/constants.py
  tests/core/pyspec/eth2spec/test/helpers/execution_payload.py
  tests/core/pyspec/eth2spec/test/helpers/fork_transition.py
  tests/core/pyspec/eth2spec/test/helpers/genesis.py
  tests/core/pyspec/eth2spec/test/helpers/sharding.py
  tests/core/pyspec/eth2spec/test/phase0/unittests/fork_choice/test_on_attestation.py
  tests/core/pyspec/eth2spec/utils/bls.py
  tests/core/pyspec/eth2spec/utils/kzg.py
Labels: eip-4844

#2940 Fix Capella genesis testing tool
  specs/altair/beacon-chain.md
  specs/bellatrix/beacon-chain.md
  specs/capella/beacon-chain.md
  tests/core/pyspec/eth2spec/test/helpers/genesis.py
Labels: Capella

#2938 Add functions for deriving light client data
  Makefile
  README.md
  setup.py
  specs/altair/light-client/full-node.md
  specs/altair/light-client/sync-protocol.md
  specs/altair/validator.md
  tests/core/pyspec/eth2spec/gen_helpers/gen_base/gen_runner.py
  tests/core/pyspec/eth2spec/gen_helpers/gen_base/gen_typing.py
  tests/core/pyspec/eth2spec/test/altair/light_client/__init__.py
  tests/core/pyspec/eth2spec/test/altair/light_client/test_sync.py
  tests/core/pyspec/eth2spec/test/altair/light_client/test_update_ranking.py
  tests/core/pyspec/eth2spec/test/altair/merkle/test_single_proof.py
  tests/core/pyspec/eth2spec/test/altair/unittests/light_client/__init__.py
  tests/core/pyspec/eth2spec/test/altair/unittests/light_client/test_sync_protocol.py
  tests/core/pyspec/eth2spec/test/context.py
  tests/core/pyspec/eth2spec/test/helpers/attestations.py
  tests/core/pyspec/eth2spec/test/utils/utils.py
  tests/formats/light_client/README.md
  tests/formats/light_client/sync.md
  tests/formats/light_client/update_ranking.md
  tests/generators/light_client/README.md
  tests/generators/light_client/__init__.py
  tests/generators/light_client/main.py
  tests/generators/light_client/requirements.txt
Labels: scope:light-clients

#2944 Add `LightClient(Finality|Optimistic)Update`
  specs/altair/light-client/full-node.md
  specs/altair/light-client/sync-protocol.md
Labels: scope:light-clients

#2947 Manually trigger `LightClientStore` force updates
  specs/altair/light-client/sync-protocol.md
  tests/core/pyspec/eth2spec/test/altair/light_client/test_sync.py
  tests/formats/light_client/sync.md
Labels: scope:light-clients

#2945 Fix Polynomial container size
  specs/eip4844/validator.md
Labels: eip-4844

#2951 Describe light client sync process
  README.md
  setup.py
  specs/altair/light-client/light-client.md
  specs/altair/light-client/sync-protocol.md
Labels: scope:light-clients

#2950 Move `merkle/single_proof` tests to `light_client/single_merkle_proof`
  tests/core/pyspec/eth2spec/test/altair/light_client/test_single_merkle_proof.py
  tests/core/pyspec/eth2spec/test/altair/merkle/__init__.py
  tests/formats/light_client/README.md
  tests/formats/light_client/single_merkle_proof.md
  tests/formats/merkle/README.md
  tests/generators/light_client/main.py
  tests/generators/merkle/README.md
  tests/generators/merkle/__init__.py
  tests/generators/merkle/main.py
  tests/generators/merkle/requirements.txt
Labels: scope:CI/tests/pyspec
