Repository ethereum/consensus-specs, pull requests merged in 2022-12, with the labels that each got.

#3134 Add EIP4844 pylint and Mypy checks
  Makefile
  linter.ini
  setup.py
  specs/eip4844/beacon-chain.md
  specs/eip4844/polynomial-commitments.md
  specs/eip4844/validator.md
Labels: scope:CI/tests/pyspec, eip-4844

#3070 Pass blocks to LC data creation functions
  specs/altair/light-client/full-node.md
  specs/altair/light-client/p2p-interface.md
  tests/core/pyspec/eth2spec/test/altair/light_client/test_sync.py
  tests/core/pyspec/eth2spec/test/altair/light_client/test_update_ranking.py
Labels: scope:light-clients

#3145 EIP4844: Update `MAX_BLOBS_PER_BLOCK` to 4
  presets/mainnet/eip4844.yaml
  presets/minimal/eip4844.yaml
  specs/eip4844/beacon-chain.md
  tests/core/pyspec/eth2spec/test/eip4844/sanity/test_blocks.py
  tests/core/pyspec/eth2spec/test/eip4844/unittests/validator/test_validator.py
Labels: eip-4844

#3095 bound the maximum number of validators considered for withdrawals per sweep
  presets/mainnet/capella.yaml
  presets/minimal/capella.yaml
  specs/capella/beacon-chain.md
  tests/core/pyspec/eth2spec/test/capella/block_processing/test_process_withdrawals.py
  tests/core/pyspec/eth2spec/test/capella/sanity/test_blocks.py
  tests/core/pyspec/eth2spec/test/helpers/withdrawals.py
Labels: Capella

#3143 Test case naming clean up
  specs/altair/beacon-chain.md
  tests/core/pyspec/eth2spec/test/altair/block_processing/test_process_deposit.py
  tests/core/pyspec/eth2spec/test/altair/epoch_processing/test_process_sync_committee_updates.py
  tests/core/pyspec/eth2spec/test/altair/sanity/test_blocks.py
  tests/core/pyspec/eth2spec/test/bellatrix/block_processing/test_process_deposit.py
  tests/core/pyspec/eth2spec/test/bellatrix/block_processing/test_process_execution_payload.py
  tests/core/pyspec/eth2spec/test/bellatrix/block_processing/test_process_voluntary_exit.py
  tests/core/pyspec/eth2spec/test/capella/block_processing/test_process_bls_to_execution_change.py
  tests/core/pyspec/eth2spec/test/capella/block_processing/test_process_withdrawals.py
  tests/core/pyspec/eth2spec/test/capella/sanity/test_blocks.py
  tests/core/pyspec/eth2spec/test/context.py
  tests/core/pyspec/eth2spec/test/helpers/deposits.py
  tests/core/pyspec/eth2spec/test/phase0/block_processing/test_process_attestation.py
  tests/core/pyspec/eth2spec/test/phase0/block_processing/test_process_attester_slashing.py
  tests/core/pyspec/eth2spec/test/phase0/block_processing/test_process_block_header.py
  tests/core/pyspec/eth2spec/test/phase0/block_processing/test_process_deposit.py
  tests/core/pyspec/eth2spec/test/phase0/block_processing/test_process_proposer_slashing.py
  tests/core/pyspec/eth2spec/test/phase0/block_processing/test_process_voluntary_exit.py
  tests/core/pyspec/eth2spec/test/phase0/genesis/test_validity.py
  tests/core/pyspec/eth2spec/test/phase0/sanity/test_blocks.py
  tests/core/pyspec/eth2spec/test/phase0/sanity/test_slots.py
  tests/generators/operations/main.py
Labels: scope:CI/tests/pyspec

#3126 proper EL block hash implementation in tests
  setup.py
  tests/core/pyspec/eth2spec/test/bellatrix/block_processing/test_process_execution_payload.py
  tests/core/pyspec/eth2spec/test/bellatrix/fork_choice/test_on_merge_block.py
  tests/core/pyspec/eth2spec/test/bellatrix/sync/test_optimistic.py
  tests/core/pyspec/eth2spec/test/bellatrix/unittests/test_validate_merge_block.py
  tests/core/pyspec/eth2spec/test/capella/block_processing/test_process_withdrawals.py
  tests/core/pyspec/eth2spec/test/eip4844/sanity/test_blocks.py
  tests/core/pyspec/eth2spec/test/eip4844/unittests/validator/test_validator.py
  tests/core/pyspec/eth2spec/test/helpers/execution_payload.py
  tests/core/pyspec/eth2spec/test/helpers/genesis.py
  tests/core/pyspec/eth2spec/test/utils/randomized_block_tests.py
Labels: scope:CI/tests/pyspec

#3157 Add tests to test sync aggregate's order of balance operation
  tests/core/pyspec/eth2spec/test/altair/block_processing/sync_aggregate/test_process_sync_aggregate.py
  tests/core/pyspec/eth2spec/test/helpers/sync_committee.py
Labels: scope:CI/tests/pyspec

#3156 Update G2 trusted setup length to 65
  Makefile
  presets/mainnet/trusted_setups/testing_trusted_setups.json
  presets/minimal/trusted_setups/testing_trusted_setups.json
  scripts/gen_kzg_trusted_setups.py
  specs/eip4844/polynomial-commitments.md
  tests/core/pyspec/eth2spec/utils/kzg.py
Labels: eip-4844

#3154 Clarify BeaconBlockAndBlobsSidecarByRoot no blob available
  specs/eip4844/p2p-interface.md
Labels: scope:networking, eip-4844
