Repository ethereum/consensus-specs, pull requests merged in 2022-02, with the labels that each got.

#2807 Consistently use `compute_sync_committee_period`
  specs/altair/sync-protocol.md
  tests/core/pyspec/eth2spec/test/altair/epoch_processing/test_process_sync_committee_updates.py
  tests/core/pyspec/eth2spec/test/altair/unittests/test_sync_protocol.py
Labels: scope:light-clients

#2818 Update reserved libp2p error documentation
  specs/das/p2p-interface.md
  specs/phase0/p2p-interface.md
Labels: scope:networking

#2814 Ensure light client `optimistic_header` to be at head
  specs/altair/sync-protocol.md
Labels: scope:light-clients

#2837 Ensure that the SSZ object classes are ordered
  setup.py
Labels: scope:CI/tests/pyspec

#2828 Refactoring: add `is_finality_update` helper
  specs/altair/sync-protocol.md
Labels: scope:light-clients
