Repository ethereum/consensus-specs, pull requests merged in 2022-03, with the labels that each got.

#2839 Release v1.1.10 (kilnv2)
  specs/altair/sync-protocol.md
  specs/bellatrix/beacon-chain.md
  specs/bellatrix/fork-choice.md
  specs/bellatrix/validator.md
  specs/das/p2p-interface.md
  specs/phase0/p2p-interface.md
  sync/optimistic.md
  tests/core/pyspec/eth2spec/VERSION.txt
  tests/core/pyspec/eth2spec/test/altair/epoch_processing/test_process_sync_committee_updates.py
  tests/core/pyspec/eth2spec/test/altair/unittests/test_sync_protocol.py
  tests/core/pyspec/eth2spec/test/bellatrix/block_processing/test_process_execution_payload.py
  tests/core/pyspec/eth2spec/test/bellatrix/unittests/validator/test_validator.py
  tests/core/pyspec/eth2spec/test/helpers/execution_payload.py
  tests/core/pyspec/eth2spec/test/helpers/genesis.py
  tests/core/pyspec/eth2spec/test/helpers/light_client.py
Labels: Bellatrix

#2845 Remove equivocating validators from fork choice consideration
  specs/phase0/fork-choice.md
  tests/core/pyspec/eth2spec/test/phase0/fork_choice/test_get_head.py
Labels: scope:fork-choice, scope:security

#2850 EIP-4844: consensus-layer specs of Shard Blob Transactions
  Makefile
  specs/bellatrix/p2p-interface.md
  specs/eip4844/beacon-chain.md
  specs/eip4844/fork.md
  specs/eip4844/p2p-interface.md
  specs/eip4844/validator.md
Labels: general:enhancement, scope:sharding

#2858 Bellatrix: pass justified as a safe block
  fork_choice/safe-block.md
  specs/bellatrix/fork-choice.md
  specs/bellatrix/validator.md
  tests/core/pyspec/eth2spec/test/bellatrix/unittests/validator/test_validator.py
Labels: Bellatrix
