Repository ethereum/consensus-specs, pull requests merged in 2023-11, with the labels that each got.

#3034 Allow honest validators to reorg late blocks
  configs/mainnet.yaml
  configs/minimal.yaml
  pysetup/spec_builders/bellatrix.py
  specs/bellatrix/fork-choice.md
  specs/capella/fork-choice.md
  specs/deneb/fork-choice.md
  specs/phase0/fork-choice.md
  specs/phase0/validator.md
  tests/core/pyspec/eth2spec/test/bellatrix/fork_choice/test_should_override_forkchoice_update.py
  tests/core/pyspec/eth2spec/test/helpers/attestations.py
  tests/core/pyspec/eth2spec/test/helpers/fork_choice.py
  tests/core/pyspec/eth2spec/test/phase0/fork_choice/test_get_proposer_head.py
  tests/formats/fork_choice/README.md
  tests/generators/fork_choice/main.py
Labels: scope:fork-choice

#3531 Add blob sidecar inclusion proof
  presets/mainnet/deneb.yaml
  presets/minimal/deneb.yaml
  pysetup/helpers.py
  pysetup/spec_builders/altair.py
  pysetup/spec_builders/base.py
  pysetup/spec_builders/capella.py
  pysetup/spec_builders/deneb.py
  pysetup/typing.py
  setup.py
  specs/altair/light-client/full-node.md
  specs/capella/light-client/full-node.md
  specs/deneb/light-client/full-node.md
  specs/deneb/p2p-interface.md
  specs/deneb/validator.md
  ssz/merkle-proofs.md
  tests/core/pyspec/eth2spec/test/altair/light_client/test_single_merkle_proof.py
  tests/core/pyspec/eth2spec/test/capella/light_client/test_single_merkle_proof.py
  tests/core/pyspec/eth2spec/test/deneb/merkle_proof/__init__.py
  tests/core/pyspec/eth2spec/test/deneb/merkle_proof/test_single_merkle_proof.py
  tests/core/pyspec/eth2spec/test/deneb/unittests/test_config_invariants.py
  tests/core/pyspec/eth2spec/test/deneb/unittests/validator/test_validator.py
  tests/core/pyspec/eth2spec/test/helpers/light_client.py
  tests/formats/merkle_proof/README.md
  tests/generators/merkle_proof/README.md
  tests/generators/merkle_proof/__init__.py
  tests/generators/merkle_proof/main.py
  tests/generators/merkle_proof/requirements.txt
Labels: scope:networking, Deneb

#3536 release v1.4.0-beta.4
  configs/mainnet.yaml
  configs/minimal.yaml
  presets/mainnet/deneb.yaml
  presets/minimal/deneb.yaml
  pysetup/helpers.py
  pysetup/spec_builders/altair.py
  pysetup/spec_builders/base.py
  pysetup/spec_builders/bellatrix.py
  pysetup/spec_builders/capella.py
  pysetup/spec_builders/deneb.py
  pysetup/typing.py
  setup.py
  specs/altair/light-client/full-node.md
  specs/bellatrix/fork-choice.md
  specs/capella/fork-choice.md
  specs/capella/light-client/full-node.md
  specs/deneb/beacon-chain.md
  specs/deneb/fork-choice.md
  specs/deneb/light-client/full-node.md
  specs/deneb/p2p-interface.md
  specs/deneb/validator.md
  specs/phase0/fork-choice.md
  specs/phase0/validator.md
  ssz/merkle-proofs.md
  tests/core/pyspec/eth2spec/VERSION.txt
  tests/core/pyspec/eth2spec/test/altair/light_client/test_single_merkle_proof.py
  tests/core/pyspec/eth2spec/test/bellatrix/fork_choice/test_should_override_forkchoice_update.py
  tests/core/pyspec/eth2spec/test/capella/light_client/test_single_merkle_proof.py
  tests/core/pyspec/eth2spec/test/deneb/merkle_proof/__init__.py
  tests/core/pyspec/eth2spec/test/deneb/merkle_proof/test_single_merkle_proof.py
  tests/core/pyspec/eth2spec/test/deneb/unittests/test_config_invariants.py
  tests/core/pyspec/eth2spec/test/deneb/unittests/validator/test_validator.py
  tests/core/pyspec/eth2spec/test/helpers/attestations.py
  tests/core/pyspec/eth2spec/test/helpers/fork_choice.py
  tests/core/pyspec/eth2spec/test/helpers/light_client.py
  tests/core/pyspec/eth2spec/test/helpers/sharding.py
  tests/core/pyspec/eth2spec/test/phase0/fork_choice/test_get_proposer_head.py
  tests/formats/fork_choice/README.md
  tests/formats/merkle_proof/README.md
  tests/generators/fork_choice/main.py
  tests/generators/merkle_proof/README.md
  tests/generators/merkle_proof/__init__.py
  tests/generators/merkle_proof/main.py
  tests/generators/merkle_proof/requirements.txt
Labels: general:release, Deneb

#3548 Remove extra tick
  tests/core/pyspec/eth2spec/test/bellatrix/fork_choice/test_should_override_forkchoice_update.py
  tests/core/pyspec/eth2spec/test/phase0/fork_choice/test_get_proposer_head.py
Labels: scope:CI/tests/pyspec

#3550 Check `assert time >= store.time` in fork-choice tests
  tests/core/pyspec/eth2spec/test/helpers/fork_choice.py
Labels: scope:fork-choice

#3555 Add randomized block `blob_kzg_commitment_merkle_proof` cases
  tests/core/pyspec/eth2spec/test/deneb/merkle_proof/test_single_merkle_proof.py
Labels: scope:CI/tests/pyspec
