Repository ethereum/consensus-specs, pull requests merged in 2023-12, with the labels that each got.

#3551 Specify when clients can serve block and sidecars in byRoot RPC methods
  specs/deneb/p2p-interface.md
  specs/phase0/p2p-interface.md
Labels: scope:networking, phase0, Deneb

#3556 Move `blob_sidecar_{subnet_id}` to `Blob subnets` section
  specs/deneb/p2p-interface.md
Labels: general:presentation

#3554 release v1.4.0-beta.5
  specs/deneb/beacon-chain.md
  specs/deneb/p2p-interface.md
  specs/phase0/p2p-interface.md
  tests/core/pyspec/eth2spec/VERSION.txt
  tests/core/pyspec/eth2spec/test/bellatrix/fork_choice/test_should_override_forkchoice_update.py
  tests/core/pyspec/eth2spec/test/deneb/merkle_proof/test_single_merkle_proof.py
  tests/core/pyspec/eth2spec/test/helpers/fork_choice.py
  tests/core/pyspec/eth2spec/test/phase0/fork_choice/test_get_proposer_head.py
Labels: general:release

#3442 Add WHISK fork only tests
  .circleci/config.yml
  .github/workflows/run-tests.yml
  presets/mainnet/trusted_setups/curdleproofs_crs.json
  presets/minimal/trusted_setups/curdleproofs_crs.json
  pysetup/spec_builders/whisk.py
  setup.py
  specs/_features/whisk/beacon-chain.md
  tests/core/pyspec/eth2spec/test/conftest.py
  tests/core/pyspec/eth2spec/test/context.py
  tests/core/pyspec/eth2spec/test/helpers/block.py
  tests/core/pyspec/eth2spec/test/helpers/constants.py
  tests/core/pyspec/eth2spec/test/helpers/forks.py
  tests/core/pyspec/eth2spec/test/helpers/genesis.py
  tests/core/pyspec/eth2spec/test/helpers/keys.py
  tests/core/pyspec/eth2spec/test/helpers/whisk.py
  tests/core/pyspec/eth2spec/test/whisk/__init__.py
  tests/core/pyspec/eth2spec/test/whisk/block_processing/__init__.py
  tests/core/pyspec/eth2spec/test/whisk/block_processing/test_process_shuffled_trackers.py
  tests/core/pyspec/eth2spec/test/whisk/block_processing/test_process_whisk_opening_proof.py
  tests/core/pyspec/eth2spec/test/whisk/block_processing/test_process_whisk_registration.py
  tests/core/pyspec/eth2spec/test/whisk/sanity/__init__.py
  tests/core/pyspec/eth2spec/test/whisk/sanity/blocks/__init__.py
  tests/core/pyspec/eth2spec/test/whisk/sanity/blocks/test_whisk.py
  tests/core/pyspec/eth2spec/test/whisk/unittests/test_config_invariants.py
Labels: scope:ssle

#3562 Refactor pyspec to reduce some hardcoded spec fork names
  Makefile
  docs/docs/new-feature.md
  tests/core/pyspec/eth2spec/test/context.py
  tests/core/pyspec/eth2spec/test/helpers/constants.py
  tests/core/pyspec/eth2spec/test/helpers/fork_transition.py
  tests/core/pyspec/eth2spec/test/helpers/forks.py
  tests/core/pyspec/eth2spec/test/helpers/genesis.py
  tests/core/pyspec/eth2spec/test/helpers/specs.py
  tests/core/pyspec/eth2spec/test/helpers/typing.py
  tests/core/pyspec/eth2spec/test/phase0/fork_choice/test_ex_ante.py
Labels: scope:CI/tests/pyspec
