Repository ethereum/consensus-specs, pull requests merged in 2023-08, with the labels that each got.

#3471 fix test format descrition
  tests/formats/kzg/verify_blob_kzg_proof_batch.md
Labels: scope:CI/tests/pyspec

#3463 Deneb fork choice tests - take 2
  pysetup/spec_builders/deneb.py
  specs/deneb/fork-choice.md
  tests/core/pyspec/eth2spec/test/deneb/fork_choice/__init__.py
  tests/core/pyspec/eth2spec/test/deneb/fork_choice/test_on_block.py
  tests/core/pyspec/eth2spec/test/helpers/fork_choice.py
  tests/core/pyspec/eth2spec/test/phase0/fork_choice/test_get_head.py
  tests/formats/fork_choice/README.md
  tests/generators/fork_choice/main.py
Labels: scope:CI/tests/pyspec, scope:fork-choice, Deneb

#3468 🐛 Fix redundant SSZ generic tests
  tests/generators/ssz_generic/ssz_container.py
  tests/generators/ssz_generic/ssz_uints.py
Labels: scope:CI/tests/pyspec

#3476 fix wording about slashing: "can slashable" => "can be slashable"
  specs/phase0/validator.md
Labels: general:proofread

#3485 Whisk: update preset and config files with moved values
  configs/mainnet.yaml
  configs/minimal.yaml
  presets/mainnet/whisk.yaml
  presets/minimal/whisk.yaml
Labels: scope:ssle
