Repository ethereum/consensus-specs, pull requests merged in 2023-03, with the labels that each got.

#3278 EIP4844: Use `MAX_REQUEST_BLOB_SIDECARS`
  specs/deneb/p2p-interface.md
Labels: general:presentation, Deneb

#3242 EIP4844: Remove sending empty blobs sidecar responses
  specs/deneb/p2p-interface.md
Labels: Deneb

#3274 Test generators for kzg-4844 libraries
  Makefile
  setup.py
  specs/deneb/polynomial-commitments.md
  tests/core/pyspec/eth2spec/test/conftest.py
  tests/core/pyspec/eth2spec/utils/bls.py
  tests/formats/kzg/README.md
  tests/formats/kzg/blob_to_kzg_commitment.md
  tests/formats/kzg/compute_blob_kzg_proof.md
  tests/formats/kzg/compute_kzg_proof.md
  tests/formats/kzg/verify_blob_kzg_proof.md
  tests/formats/kzg/verify_blob_kzg_proof_batch.md
  tests/formats/kzg/verify_kzg_proof.md
  tests/generators/kzg_4844/README.md
  tests/generators/kzg_4844/main.py
  tests/generators/kzg_4844/requirements.txt
Labels: scope:CI/tests/pyspec

#3177 In-protocol deposits flow (no queue approach)
  .gitignore
  Makefile
  setup.py
  specs/_features/eip6110/beacon-chain.md
  specs/_features/eip6110/fork.md
  specs/_features/eip6110/validator.md
  specs/altair/beacon-chain.md
  specs/phase0/beacon-chain.md
Labels: general:RFC

#3283 Deneb crypto helpers test coverage
  specs/deneb/p2p-interface.md
  specs/deneb/validator.md
  tests/core/pyspec/eth2spec/test/deneb/sanity/test_blocks.py
  tests/core/pyspec/eth2spec/test/deneb/unittests/fork_choice/test_validate_blobs.py
  tests/core/pyspec/eth2spec/test/deneb/unittests/polynomial_commitments/test_polynomial_commitments.py
  tests/core/pyspec/eth2spec/test/deneb/unittests/test_kzg.py
  tests/core/pyspec/eth2spec/test/deneb/unittests/test_offset.py
  tests/core/pyspec/eth2spec/test/deneb/unittests/validator/__init__.py
  tests/core/pyspec/eth2spec/test/deneb/unittests/validator/test_validator.py
  tests/core/pyspec/eth2spec/test/helpers/sharding.py
  tests/core/pyspec/eth2spec/utils/bls.py
Labels: Deneb

#3284 Check correct fork version in LC sync protocol
  specs/altair/light-client/sync-protocol.md
  tests/core/pyspec/eth2spec/test/altair/light_client/test_sync.py
  tests/core/pyspec/eth2spec/test/helpers/fork_transition.py
  tests/core/pyspec/eth2spec/test/helpers/light_client.py
Labels: scope:light-clients

#3296 Fix `get_sample_opaque_tx` call signature
  tests/core/pyspec/eth2spec/test/helpers/sharding.py
  tests/core/pyspec/eth2spec/test/utils/randomized_block_tests.py
Labels: scope:CI/tests/pyspec

#3302 Release v1.3.0-rc.5
  README.md
  configs/mainnet.yaml
  specs/capella/fork.md
  specs/deneb/polynomial-commitments.md
  tests/core/pyspec/eth2spec/VERSION.txt
  tests/core/pyspec/eth2spec/test/deneb/unittests/polynomial_commitments/test_polynomial_commitments.py
Labels: general:release
