Repository ethereum/consensus-specs, pull requests merged in 2023-05, with the labels that each got.

#3308 Add get_checkpoint_block to the fork choice spec
  specs/bellatrix/fork-choice.md
  specs/deneb/fork-choice.md
  specs/phase0/fork-choice.md
  specs/phase0/p2p-interface.md
  tests/core/pyspec/eth2spec/test/phase0/fork_choice/test_get_head.py
  tests/core/pyspec/eth2spec/test/phase0/fork_choice/test_on_block.py
Labels: scope:fork-choice

#2964 Set python_requires=">=3.9" (deprecate Python3.8 support)
  .circleci/config.yml
  setup.py
Labels: scope:CI/tests/pyspec

#3348 Fix `process_inactivity_updates` test cases
  tests/core/pyspec/eth2spec/test/altair/epoch_processing/test_process_inactivity_updates.py
Labels: scope:CI/tests/pyspec

#3340 Deneb refactoring and new tests
  specs/_features/eip6110/beacon-chain.md
  specs/deneb/beacon-chain.md
  tests/core/pyspec/eth2spec/test/deneb/sanity/test_blocks.py
  tests/core/pyspec/eth2spec/test/helpers/execution_payload.py
Labels: scope:CI/tests/pyspec, Deneb

#3312 Attnet revamp: Subnet backbone structure based on beacon nodes
  setup.py
  specs/phase0/validator.md
  tests/core/pyspec/eth2spec/test/phase0/unittests/test_config_invariants.py
  tests/core/pyspec/eth2spec/test/phase0/unittests/validator/test_validator_unittest.py
Labels: scope:attestation-management, last call

#3358 Fix `dump_kzg_trusted_setup_files` and use Fastest BLS lib
  tests/core/pyspec/eth2spec/utils/kzg.py
Labels: scope:CI/tests/pyspec

#3356 Add `test_zeroed_commitment` test case
  tests/core/pyspec/eth2spec/test/deneb/sanity/test_blocks.py
  tests/core/pyspec/eth2spec/test/helpers/sharding.py
Labels: scope:CI/tests/pyspec

#3372 Fix CircleCI Python version
  .circleci/config.yml
Labels: scope:CI/tests/pyspec

#3369 Nitpick: blob -> blob sidecar
  specs/deneb/p2p-interface.md
Labels: general:presentation

#3347 Multiprocessing testgen runner
  setup.py
  tests/core/pyspec/eth2spec/gen_helpers/gen_base/gen_runner.py
  tests/core/pyspec/eth2spec/gen_helpers/gen_base/settings.py
  tests/core/pyspec/eth2spec/test/context.py
Labels: scope:CI/tests/pyspec

#3346 Specify the number of sidecar subnets
  specs/deneb/p2p-interface.md
  specs/deneb/validator.md
Labels: scope:v-guide, scope:networking

#3373 Deneb p2p: Clarify indices for blob subnets
  specs/deneb/p2p-interface.md
Labels: scope:networking, Deneb

#3354 Update the endianness of the polynomial commitments to be big endian
  setup.py
  specs/deneb/polynomial-commitments.md
  tests/core/pyspec/eth2spec/test/deneb/unittests/polynomial_commitments/test_polynomial_commitments.py
  tests/core/pyspec/eth2spec/test/helpers/sharding.py
  tests/formats/kzg/compute_kzg_proof.md
  tests/formats/kzg/verify_kzg_proof.md
  tests/generators/kzg_4844/main.py
Labels: Deneb

#3232 Remove `is_merge_transition_block` check since Capella
  specs/capella/fork-choice.md
  specs/deneb/fork-choice.md
Labels: scope:fork-choice, Capella

#3350 Remove `is_execution_enabled` condition since Capella
  specs/_features/eip4788/validator.md
  specs/_features/eip6110/beacon-chain.md
  specs/_features/sharding/beacon-chain.md
  specs/bellatrix/validator.md
  specs/capella/beacon-chain.md
  specs/capella/validator.md
  specs/deneb/beacon-chain.md
  tests/core/pyspec/eth2spec/test/bellatrix/block_processing/test_process_execution_payload.py
  tests/core/pyspec/eth2spec/test/bellatrix/sanity/test_blocks.py
  tests/core/pyspec/eth2spec/test/bellatrix/unittests/validator/test_validator.py
  tests/core/pyspec/eth2spec/test/capella/block_processing/test_process_execution_payload.py
  tests/core/pyspec/eth2spec/test/capella/sanity/test_blocks.py
  tests/generators/operations/main.py
Labels: Capella

#3375 Add networking configs to config files
  configs/mainnet.yaml
  configs/minimal.yaml
  setup.py
  specs/phase0/p2p-interface.md
  specs/phase0/validator.md
  tests/core/pyspec/eth2spec/test/phase0/unittests/test_config_invariants.py
  tests/core/pyspec/eth2spec/test/phase0/unittests/validator/test_validator_unittest.py
Labels: scope:v-guide, scope:networking

#3359 Use `engine_newPayloadV3` to pass `versioned_hashes` to EL for validation
  setup.py
  specs/_features/eip6110/beacon-chain.md
  specs/bellatrix/beacon-chain.md
  specs/capella/beacon-chain.md
  specs/deneb/beacon-chain.md
  specs/deneb/validator.md
  sync/optimistic.md
  tests/core/pyspec/eth2spec/test/bellatrix/block_processing/test_process_execution_payload.py
  tests/core/pyspec/eth2spec/test/capella/block_processing/test_process_withdrawals.py
  tests/core/pyspec/eth2spec/test/deneb/block_processing/__init__.py
  tests/core/pyspec/eth2spec/test/deneb/block_processing/test_process_execution_payload.py
  tests/core/pyspec/eth2spec/test/deneb/sanity/test_blocks.py
  tests/core/pyspec/eth2spec/test/deneb/unittests/test_offset.py
  tests/core/pyspec/eth2spec/test/deneb/unittests/validator/test_validator.py
  tests/core/pyspec/eth2spec/test/helpers/optimistic_sync.py
  tests/core/pyspec/eth2spec/test/phase0/sanity/test_blocks.py
  tests/formats/operations/README.md
  tests/generators/operations/main.py
Labels: Deneb

#3338 Update block's `blob_kzg_commitments` size limit to MAX_BLOB_COMMITMENTS_PER_BLOCK (4096)
  presets/mainnet/deneb.yaml
  presets/minimal/deneb.yaml
  specs/_features/eip6110/beacon-chain.md
  specs/deneb/beacon-chain.md
  specs/deneb/p2p-interface.md
  tests/core/pyspec/eth2spec/test/deneb/block_processing/test_process_execution_payload.py
  tests/core/pyspec/eth2spec/test/deneb/sanity/test_blocks.py
  tests/core/pyspec/eth2spec/test/deneb/unittests/test_config_invariants.py
Labels: Deneb

#3383 Fix shuffling testgen when multiprocessing
  tests/generators/shuffling/main.py
Labels: scope:CI/tests/pyspec

#3384 Fix Deneb preset table
  specs/deneb/beacon-chain.md
Labels: general:proofread

#3386 Fallback to MODE_SINGLE_PROCESS
  tests/core/pyspec/eth2spec/gen_helpers/gen_base/settings.py
Labels: scope:CI/tests/pyspec

#3387 [hotfix] Fix docs deploy script
  .github/workflows/docs.yml
Labels: scope:CI/tests/pyspec
