Repository ethereum/consensus-specs, pull requests merged in 2023-01, with the labels that each got.

#3028 Adds Github Actions CI
  .github/workflows/run-tests.yml
  Makefile
Labels: general:enhancement

#3165 Historical batches
  setup.py
  specs/capella/beacon-chain.md
  tests/core/pyspec/eth2spec/test/capella/epoch_processing/__init__.py
  tests/core/pyspec/eth2spec/test/capella/epoch_processing/test_process_historical_batches_update.py
  tests/core/pyspec/eth2spec/test/eip4844/epoch_processing/__init__.py
  tests/core/pyspec/eth2spec/test/eip4844/epoch_processing/test_process_historical_batches_update.py
  tests/core/pyspec/eth2spec/test/helpers/epoch_processing.py
  tests/core/pyspec/eth2spec/test/phase0/epoch_processing/test_process_historical_roots_update.py
  tests/core/pyspec/eth2spec/test/phase0/sanity/test_blocks.py
  tests/core/pyspec/eth2spec/test/phase0/sanity/test_slots.py
  tests/generators/epoch_processing/main.py
Labels: Capella

#3184 tests/formats: update epoch and operations formats to reflect push-withdrawals
  tests/formats/epoch_processing/README.md
  tests/formats/operations/README.md
Labels: scope:CI/tests/pyspec

#3188 Fix typo in eip4844/BeaconBlocksByRoot docs
  specs/eip4844/p2p-interface.md
Labels: general:proofread

#3181 EIP4844: Enable withdrawal
  setup.py
  specs/eip4844/beacon-chain.md
  tests/core/pyspec/eth2spec/test/capella/block_processing/test_process_bls_to_execution_change.py
  tests/core/pyspec/eth2spec/test/capella/block_processing/test_process_deposit.py
  tests/core/pyspec/eth2spec/test/capella/block_processing/test_process_withdrawals.py
  tests/core/pyspec/eth2spec/test/capella/epoch_processing/test_process_historical_batches_update.py
  tests/core/pyspec/eth2spec/test/capella/sanity/test_blocks.py
  tests/core/pyspec/eth2spec/test/eip4844/block_processing/__init__.py
  tests/core/pyspec/eth2spec/test/eip4844/block_processing/test_process_bls_to_execution_change.py
  tests/core/pyspec/eth2spec/test/eip4844/block_processing/test_process_withdrawals.py
  tests/core/pyspec/eth2spec/test/eip4844/epoch_processing/__init__.py
  tests/core/pyspec/eth2spec/test/eip4844/epoch_processing/test_process_historical_batches_update.py
  tests/core/pyspec/eth2spec/test/phase0/sanity/test_blocks.py
  tests/core/pyspec/eth2spec/test/phase0/sanity/test_slots.py
  tests/generators/epoch_processing/main.py
  tests/generators/operations/main.py
Labels: eip-4844

#3186 Add notes for new state historical accumulators
  specs/capella/beacon-chain.md
Labels: general:proofread

#3187 Ensure that no duplidate block hashes in `sync/from_syncing_to_invalid` test case
  tests/core/pyspec/eth2spec/test/bellatrix/sync/test_optimistic.py
Labels: scope:CI/tests/pyspec

#3185 Move `is_data_available` check to fork-choice `on_block`
  README.md
  setup.py
  specs/eip4844/beacon-chain.md
  specs/eip4844/fork-choice.md
  specs/eip4844/p2p-interface.md
  tests/core/pyspec/eth2spec/test/eip4844/unittests/fork_choice/__init__.py
  tests/core/pyspec/eth2spec/test/eip4844/unittests/fork_choice/test_validate_blobs_sidecar.py
Labels: scope:fork-choice, eip-4844

#3195 Fix test file name
  tests/core/pyspec/eth2spec/test/capella/epoch_processing/test_process_historical_summaries_update.py
Labels: scope:CI/tests/pyspec

#3192 release for jan testnets
  .github/workflows/run-tests.yml
  Makefile
  README.md
  setup.py
  specs/altair/light-client/full-node.md
  specs/capella/beacon-chain.md
  specs/eip4844/beacon-chain.md
  specs/eip4844/fork-choice.md
  specs/eip4844/p2p-interface.md
  specs/eip4844/polynomial-commitments.md
  tests/core/pyspec/eth2spec/VERSION.txt
  tests/core/pyspec/eth2spec/test/altair/light_client/test_single_merkle_proof.py
  tests/core/pyspec/eth2spec/test/altair/light_client/test_update_ranking.py
  tests/core/pyspec/eth2spec/test/altair/unittests/light_client/test_sync_protocol.py
  tests/core/pyspec/eth2spec/test/bellatrix/sync/test_optimistic.py
  tests/core/pyspec/eth2spec/test/capella/block_processing/test_process_bls_to_execution_change.py
  tests/core/pyspec/eth2spec/test/capella/block_processing/test_process_deposit.py
  tests/core/pyspec/eth2spec/test/capella/block_processing/test_process_withdrawals.py
  tests/core/pyspec/eth2spec/test/capella/epoch_processing/__init__.py
  tests/core/pyspec/eth2spec/test/capella/epoch_processing/test_process_historical_summaries_update.py
  tests/core/pyspec/eth2spec/test/capella/sanity/test_blocks.py
  tests/core/pyspec/eth2spec/test/eip4844/block_processing/test_process_bls_to_execution_change.py
  tests/core/pyspec/eth2spec/test/eip4844/block_processing/test_process_withdrawals.py
  tests/core/pyspec/eth2spec/test/eip4844/unittests/fork_choice/__init__.py
  tests/core/pyspec/eth2spec/test/eip4844/unittests/fork_choice/test_validate_blobs_sidecar.py
  tests/core/pyspec/eth2spec/test/helpers/epoch_processing.py
  tests/core/pyspec/eth2spec/test/helpers/light_client.py
  tests/core/pyspec/eth2spec/test/phase0/epoch_processing/test_process_historical_roots_update.py
  tests/core/pyspec/eth2spec/test/phase0/sanity/test_blocks.py
  tests/core/pyspec/eth2spec/test/phase0/sanity/test_slots.py
  tests/formats/epoch_processing/README.md
  tests/formats/operations/README.md
  tests/generators/epoch_processing/main.py
  tests/generators/operations/main.py
Labels: general:release

#3199 Disable cache for CI runner and use specific mypy version
  .github/workflows/run-tests.yml
Labels: general:bug

#3201 Add `historical_summaries` setup to `fork.md`
  specs/capella/fork.md
  specs/eip4844/fork.md
Labels: eip-4844

#3203 Add `BLSToExecutionChange` `test_invalid_previous_fork_version` test case
  tests/core/pyspec/eth2spec/test/capella/block_processing/test_process_bls_to_execution_change.py
  tests/core/pyspec/eth2spec/test/helpers/bls_to_execution_changes.py
Labels: scope:CI/tests/pyspec

#3190 Add `LightClientHeader` wrapper
  specs/altair/light-client/full-node.md
  specs/altair/light-client/light-client.md
  specs/altair/light-client/p2p-interface.md
  specs/altair/light-client/sync-protocol.md
  tests/core/pyspec/eth2spec/test/altair/light_client/test_sync.py
  tests/core/pyspec/eth2spec/test/altair/light_client/test_update_ranking.py
  tests/core/pyspec/eth2spec/test/altair/unittests/light_client/test_sync_protocol.py
  tests/formats/light_client/sync.md
Labels: scope:light-clients, Altair

#3206 MUST use `GENESIS_FORK_VERSION` to sign `BLSToExecutionChange` message
  specs/capella/beacon-chain.md
  specs/capella/p2p-interface.md
  tests/core/pyspec/eth2spec/test/capella/block_processing/test_process_bls_to_execution_change.py
  tests/core/pyspec/eth2spec/test/helpers/bls_to_execution_changes.py
Labels: Capella

#3202 Add a `process_bls_to_execution_change` test case from staking-deposit-cli
  tests/core/pyspec/eth2spec/test/capella/block_processing/test_process_bls_to_execution_change.py
Labels: scope:CI/tests/pyspec

#3209 release v1.3.0-rc.1
  .github/workflows/run-tests.yml
  specs/altair/light-client/full-node.md
  specs/altair/light-client/light-client.md
  specs/altair/light-client/p2p-interface.md
  specs/altair/light-client/sync-protocol.md
  specs/capella/beacon-chain.md
  specs/capella/fork.md
  specs/capella/p2p-interface.md
  specs/eip4844/fork.md
  specs/eip4844/p2p-interface.md
  tests/core/pyspec/eth2spec/VERSION.txt
  tests/core/pyspec/eth2spec/test/altair/light_client/test_sync.py
  tests/core/pyspec/eth2spec/test/altair/light_client/test_update_ranking.py
  tests/core/pyspec/eth2spec/test/altair/unittests/light_client/test_sync_protocol.py
  tests/core/pyspec/eth2spec/test/altair/unittests/test_config_override.py
  tests/core/pyspec/eth2spec/test/capella/block_processing/test_process_bls_to_execution_change.py
  tests/core/pyspec/eth2spec/test/context.py
  tests/core/pyspec/eth2spec/test/helpers/bls_to_execution_changes.py
  tests/formats/light_client/sync.md
Labels: general:release

#3214 EIP4844: Handle barycentric evaluation at roots of unity
  specs/eip4844/polynomial-commitments.md
  tests/core/pyspec/eth2spec/test/eip4844/unittests/polynomial_commitments/test_polynomial_commitments.py
  tests/core/pyspec/eth2spec/test/helpers/sharding.py
Labels: eip-4844

#3224 EIP4844: All public methods take bytes as input (also added explicit G1 validation)
  specs/eip4844/polynomial-commitments.md
Labels: eip-4844

#3227 More capella tests
  tests/core/pyspec/eth2spec/test/capella/block_processing/test_process_withdrawals.py
  tests/core/pyspec/eth2spec/test/capella/sanity/test_blocks.py
  tests/core/pyspec/eth2spec/test/eip4844/transition/__init__.py
  tests/core/pyspec/eth2spec/test/eip4844/transition/test_operations.py
  tests/core/pyspec/eth2spec/test/helpers/constants.py
  tests/core/pyspec/eth2spec/test/helpers/fork_transition.py
  tests/core/pyspec/eth2spec/test/helpers/state.py
  tests/generators/transition/main.py
Labels: scope:CI/tests/pyspec

#3234 release v1.3.0-rc.2
  Makefile
  README.md
  setup.py
  specs/capella/light-client/fork.md
  specs/capella/light-client/full-node.md
  specs/capella/light-client/p2p-interface.md
  specs/capella/light-client/sync-protocol.md
  specs/eip4844/light-client/fork.md
  specs/eip4844/light-client/full-node.md
  specs/eip4844/light-client/p2p-interface.md
  specs/eip4844/light-client/sync-protocol.md
  specs/eip4844/p2p-interface.md
  specs/eip4844/polynomial-commitments.md
  specs/phase0/fork-choice.md
  tests/core/pyspec/eth2spec/VERSION.txt
  tests/core/pyspec/eth2spec/test/altair/light_client/test_sync.py
  tests/core/pyspec/eth2spec/test/capella/block_processing/test_process_withdrawals.py
  tests/core/pyspec/eth2spec/test/capella/light_client/__init__.py
  tests/core/pyspec/eth2spec/test/capella/light_client/test_single_merkle_proof.py
  tests/core/pyspec/eth2spec/test/capella/sanity/test_blocks.py
  tests/core/pyspec/eth2spec/test/eip4844/transition/__init__.py
  tests/core/pyspec/eth2spec/test/eip4844/transition/test_operations.py
  tests/core/pyspec/eth2spec/test/eip4844/unittests/polynomial_commitments/test_polynomial_commitments.py
  tests/core/pyspec/eth2spec/test/helpers/constants.py
  tests/core/pyspec/eth2spec/test/helpers/execution_payload.py
  tests/core/pyspec/eth2spec/test/helpers/fork_transition.py
  tests/core/pyspec/eth2spec/test/helpers/sharding.py
  tests/core/pyspec/eth2spec/test/helpers/state.py
  tests/formats/light_client/sync.md
  tests/generators/light_client/main.py
  tests/generators/transition/main.py
Labels: general:release

#3221 Add on_attester_slashing() to handlers list
  specs/phase0/fork-choice.md
Labels: general:presentation
