Repository ethereum/consensus-specs, pull requests merged in 2023-10, with the labels that each got.

#3486 Whisk: use add_validator_to_registry
  specs/_features/whisk/beacon-chain.md
Labels: scope:ssle

#3521 Use official KZG ceremony output trusted setups
  Makefile
  presets/mainnet/trusted_setups/testing_trusted_setups.json
  presets/mainnet/trusted_setups/trusted_setup_4096.json
  presets/minimal/deneb.yaml
  presets/minimal/trusted_setups/testing_trusted_setups.json
  presets/minimal/trusted_setups/trusted_setup_4096.json
  setup.py
  specs/deneb/polynomial-commitments.md
  tests/core/pyspec/eth2spec/test/deneb/unittests/polynomial_commitments/test_polynomial_commitments.py
  tests/core/pyspec/eth2spec/test/helpers/sharding.py
  tests/core/pyspec/eth2spec/utils/bls.py
  tests/generators/kzg_4844/main.py
Labels: Deneb

#3523 [DO NOT MERGE] release v1.4.0-beta.3
  Makefile
  presets/mainnet/trusted_setups/testing_trusted_setups.json
  presets/mainnet/trusted_setups/trusted_setup_4096.json
  presets/minimal/deneb.yaml
  presets/minimal/trusted_setups/testing_trusted_setups.json
  presets/minimal/trusted_setups/trusted_setup_4096.json
  setup.py
  specs/_features/custody_game/validator.md
  specs/_features/whisk/beacon-chain.md
  specs/bellatrix/p2p-interface.md
  specs/deneb/p2p-interface.md
  specs/deneb/polynomial-commitments.md
  tests/core/pyspec/eth2spec/VERSION.txt
  tests/core/pyspec/eth2spec/test/altair/block_processing/sync_aggregate/test_process_sync_aggregate.py
  tests/core/pyspec/eth2spec/test/deneb/fork_choice/test_on_block.py
  tests/core/pyspec/eth2spec/test/deneb/unittests/polynomial_commitments/test_polynomial_commitments.py
  tests/core/pyspec/eth2spec/test/helpers/sharding.py
  tests/core/pyspec/eth2spec/utils/bls.py
  tests/generators/kzg_4844/main.py
Labels: general:release

#3526 add note about not invalidating valid and available blocks
  specs/deneb/fork-choice.md
Labels: Deneb

#3529 Reject Blobs Which Reference Already Finalized Parent Blocks
  specs/deneb/p2p-interface.md
Labels: scope:networking

#3534 remove `BLOB_TX_TYPE` from spec (and move to tests)
  specs/deneb/beacon-chain.md
  tests/core/pyspec/eth2spec/test/helpers/sharding.py
Labels: general:presentation, Deneb

#3535 `deneb`: Suggest sidecars by root callers verify blob sidecars
  specs/deneb/p2p-interface.md
Labels: scope:networking, Deneb
