Repository ethereum/consensus-specs, pull requests merged in 2023-09, with the labels that each got.

#3495 Pin `curdleproofs==0.1.1`
  setup.py
Labels: scope:CI/tests/pyspec

#3352 Apply proposer boost to first block in case of equivocation
  specs/bellatrix/fork-choice.md
  specs/capella/fork-choice.md
  specs/deneb/fork-choice.md
  specs/phase0/fork-choice.md
  tests/core/pyspec/eth2spec/test/phase0/fork_choice/test_on_block.py
Labels: scope:fork-choice, scope:security

#3484 Rename BLS/KZG suite name
  tests/generators/bls/main.py
  tests/generators/kzg_4844/main.py
Labels: scope:CI/tests/pyspec

#3499 Add max epoch activation churn limit (EIP-7514) to Deneb
  configs/mainnet.yaml
  configs/minimal.yaml
  specs/deneb/beacon-chain.md
  tests/core/pyspec/eth2spec/test/context.py
  tests/core/pyspec/eth2spec/test/deneb/epoch_processing/__init__.py
  tests/core/pyspec/eth2spec/test/deneb/epoch_processing/test_process_registry_updates.py
  tests/core/pyspec/eth2spec/test/phase0/block_processing/test_process_voluntary_exit.py
  tests/core/pyspec/eth2spec/test/phase0/epoch_processing/test_process_registry_updates.py
  tests/generators/epoch_processing/main.py
Labels: Deneb

#3508 Fix Deneb fork choice baseline test case
  tests/core/pyspec/eth2spec/test/deneb/fork_choice/test_on_block.py
Labels: scope:CI/tests/pyspec

#3507 Add KZGProof at `G1_POINT_AT_INFINITY` test cases
  tests/generators/kzg_4844/main.py
Labels: scope:CI/tests/pyspec

#3513 generators/kzg_4844: Add positive G1_POINT_AT_INFINITY test vectors
  tests/generators/kzg_4844/main.py
Labels: scope:CI/tests/pyspec
