Repository ethereum/consensus-specs, pull requests merged in 2023-04, with the labels that each got.

#3314 Fix typos
  specs/deneb/p2p-interface.md
  specs/phase0/validator.md
Labels: general:presentation

#3317 deneb: switch blob tx type to 0x03
  specs/deneb/beacon-chain.md
Labels: Deneb

#3328 Add "commitment" to test names for consistency
  tests/generators/kzg_4844/main.py
Labels: scope:CI/tests/pyspec

#3334 Fix p2p-interface.md ToC
  docs/README.md
  specs/altair/p2p-interface.md
  specs/bellatrix/p2p-interface.md
  specs/capella/p2p-interface.md
  specs/deneb/p2p-interface.md
  specs/phase0/p2p-interface.md
Labels: general:presentation

#3307 EIP6914 - Reuse indexes with full sweep
  specs/_features/eip6914/beacon-chain.md
  specs/altair/beacon-chain.md
Labels: general:enhancement

#3337 Move is_previous_epoch_justified
  specs/phase0/fork-choice.md
Labels: general:presentation
