Repository ethereum/consensus-specs, pull requests merged in 2024-03, with the labels that each got.

#3621 Release v1.4.0
  specs/bellatrix/p2p-interface.md
  specs/deneb/p2p-interface.md
  specs/phase0/beacon-chain.md
  tests/core/pyspec/eth2spec/VERSION.txt
  tests/core/pyspec/eth2spec/test/deneb/transition/test_transition.py
Labels: general:release

#3619 PeerDAS: Check for degree overflow in multiply_polynomialcoeff()
  presets/mainnet/eip7594.yaml
  presets/minimal/eip7594.yaml
  pysetup/spec_builders/eip7594.py
  specs/_features/eip7594/polynomial-commitments-sampling.md
  tests/core/pyspec/eth2spec/test/eip7594/unittests/polynomial_commitments/test_polynomial_commitments.py
  tests/core/pyspec/eth2spec/test/eip7594/unittests/test_config_invariants.py
Labels: EIP-7594

#3618 Add EIP-7251 spec: Increase MAX_EFFECTIVE_BALANCE
  .gitignore
  configs/mainnet.yaml
  configs/minimal.yaml
  presets/mainnet/eip7251.yaml
  presets/minimal/eip7251.yaml
  pysetup/constants.py
  pysetup/md_doc_paths.py
  pysetup/spec_builders/__init__.py
  pysetup/spec_builders/eip7251.py
  specs/_features/eip7251/beacon-chain.md
  specs/_features/eip7251/fork.md
  tests/core/pyspec/eth2spec/test/context.py
  tests/core/pyspec/eth2spec/test/eip7251/__init__.py
  tests/core/pyspec/eth2spec/test/eip7251/block_processing/__init__.py
  tests/core/pyspec/eth2spec/test/eip7251/block_processing/test_process_consolidation.py
  tests/core/pyspec/eth2spec/test/eip7251/block_processing/test_process_deposit.py
  tests/core/pyspec/eth2spec/test/eip7251/block_processing/test_process_execution_layer_withdraw_request.py
  tests/core/pyspec/eth2spec/test/eip7251/block_processing/test_voluntary_exit.py
  tests/core/pyspec/eth2spec/test/eip7251/epoch_processing/test_process_pending_balance_deposits.py
  tests/core/pyspec/eth2spec/test/eip7251/epoch_processing/test_process_pending_consolidations.py
  tests/core/pyspec/eth2spec/test/eip7251/unittests/__init__.py
  tests/core/pyspec/eth2spec/test/eip7251/unittests/test_config_invariants.py
  tests/core/pyspec/eth2spec/test/helpers/consolidations.py
  tests/core/pyspec/eth2spec/test/helpers/constants.py
  tests/core/pyspec/eth2spec/test/helpers/deposits.py
  tests/core/pyspec/eth2spec/test/helpers/forks.py
  tests/core/pyspec/eth2spec/test/helpers/genesis.py
  tests/core/pyspec/eth2spec/test/helpers/withdrawals.py
  tests/core/pyspec/eth2spec/test/phase0/unittests/test_config_invariants.py
Labels: general:enhancement

#3627 Align `seen_ttl` with attestation lifetime
  specs/phase0/p2p-interface.md
Labels: scope:networking
