Repository ethereum/consensus-specs, pull requests merged in 2024-09, with the labels that each got.

#3909 simplify name of helper `get_validator_max_effective_balance`
  specs/electra/beacon-chain.md
Labels: general:presentation, Electra

#3908 Peerdas Change csc types to uint64
  specs/_features/eip7594/das-core.md
  specs/_features/eip7594/p2p-interface.md
  tests/core/pyspec/eth2spec/test/eip7594/networking/test_get_custody_columns.py
  tests/core/pyspec/eth2spec/test/eip7594/unittests/test_config_invariants.py
  tests/core/pyspec/eth2spec/test/eip7594/unittests/test_custody.py
Labels: scope:networking, EIP-7594

#3913 Delete `g2_lincomb` in poly-commits-sampling spec
  specs/_features/eip7594/polynomial-commitments-sampling.md
Labels: general:simplification, EIP-7594

#3882 EIP-7251: Update correlation penalty computation
  specs/electra/beacon-chain.md
  tests/core/pyspec/eth2spec/test/phase0/epoch_processing/test_process_slashings.py
Labels: last call, Electra

#3914 Minor fixes on Electra spec and test helper
  specs/electra/beacon-chain.md
  tests/core/pyspec/eth2spec/test/helpers/epoch_processing.py
Labels: general:proofread

#3915 Remove unnecessary signing domain for consolidations
  specs/electra/beacon-chain.md
Labels: general:proofread

#3922 Adds cronjob for test vector generation
  .github/workflows/generate_vectors.yml
Labels: scope:CI/tests/pyspec

#3881 Ensure EL block hash is updated when beacon parent root is overridden
  tests/core/pyspec/eth2spec/test/helpers/execution_payload.py
  tests/core/pyspec/eth2spec/test/phase0/block_processing/test_process_block_header.py
  tests/core/pyspec/eth2spec/test/phase0/fork_choice/test_on_block.py
  tests/core/pyspec/eth2spec/test/phase0/sanity/test_blocks.py
Labels: scope:CI/tests/pyspec

#3898 EIP-7732: Refactor Beacon chain state transition function
  specs/_features/eip7732/beacon-chain.md
Labels: EIP-7732

#3937 Improve `check_toc` rule in Makefile
  Makefile
Labels: general:enhancement, scope:CI/tests/pyspec

#3941 Add a note on attester_slashing topic modification
  specs/electra/p2p-interface.md
Labels: general:presentation

#3934 Replace links to eth2.0-specs with consensus-specs
  README.md
  ssz/simple-serialize.md
  tests/core/pyspec/eth2spec/test/phase0/finality/test_finality.py
Labels: general:proofread

#3938 Simplify output from `make pyspec`
  Makefile
  setup.py
Labels: general:enhancement, scope:CI/tests/pyspec

#3933 Add testgen badge to readme
  .github/workflows/generate_vectors.yml
  README.md
Labels: general:enhancement, scope:CI/tests/pyspec

#3907 Use `bls.Scalar` as the base class for `BLSFieldElement`
  Makefile
  pysetup/helpers.py
  pysetup/spec_builders/base.py
  pysetup/spec_builders/deneb.py
  pysetup/spec_builders/eip7594.py
  setup.py
  specs/_features/eip7594/polynomial-commitments-sampling.md
  specs/deneb/polynomial-commitments.md
  tests/core/pyspec/eth2spec/test/deneb/unittests/polynomial_commitments/test_polynomial_commitments.py
  tests/core/pyspec/eth2spec/test/eip7594/unittests/polynomial_commitments/test_polynomial_commitments.py
  tests/core/pyspec/eth2spec/test/helpers/sharding.py
  tests/core/pyspec/eth2spec/test/utils/kzg_tests.py
  tests/core/pyspec/eth2spec/utils/bls.py
Labels: EIP-7594

#3943 eip7251: Fix partial withdrawals count
  presets/minimal/electra.yaml
  specs/electra/beacon-chain.md
  tests/core/pyspec/eth2spec/test/capella/block_processing/test_process_withdrawals.py
  tests/core/pyspec/eth2spec/test/electra/block_processing/test_process_withdrawals.py
  tests/core/pyspec/eth2spec/test/helpers/withdrawals.py
Labels: general:bug, Electra
