Repository ethereum/consensus-specs, pull requests merged in 2024-11, with the labels that each got.

#4000 eip7251: Add missed exit checks to consolidation processing
  specs/electra/beacon-chain.md
  tests/core/pyspec/eth2spec/test/electra/block_processing/test_process_consolidation_request.py
Labels: Electra

#3999 Deduplicate code in `apply_deposit`
  specs/electra/beacon-chain.md
  tests/core/pyspec/eth2spec/test/helpers/deposits.py
Labels: Electra

#4001 Update initial `earliest_exit_epoch` calculation & add tests
  specs/electra/fork.md
  tests/core/pyspec/eth2spec/test/electra/fork/test_electra_fork_basic.py
Labels: Electra

#3990 electra: Add more transition tests
  specs/electra/fork.md
  tests/core/pyspec/eth2spec/test/electra/fork/test_electra_fork_basic.py
  tests/core/pyspec/eth2spec/test/electra/transition/__init__.py
  tests/core/pyspec/eth2spec/test/electra/transition/test_operations.py
  tests/core/pyspec/eth2spec/test/helpers/consolidations.py
  tests/core/pyspec/eth2spec/test/helpers/constants.py
  tests/core/pyspec/eth2spec/test/helpers/electra/fork.py
  tests/core/pyspec/eth2spec/test/helpers/fork_transition.py
  tests/core/pyspec/eth2spec/test/helpers/withdrawals.py
  tests/generators/transition/main.py
Labels: scope:CI/tests/pyspec

#3998 Exclude empty requests in requests list
  specs/electra/beacon-chain.md
  specs/electra/validator.md
  tests/core/pyspec/eth2spec/test/electra/sanity/blocks/test_blocks.py
  tests/core/pyspec/eth2spec/test/electra/sanity/blocks/test_deposit_transition.py
  tests/core/pyspec/eth2spec/test/electra/unittests/test_execution_requests.py
  tests/core/pyspec/eth2spec/test/helpers/execution_payload.py
  tests/core/pyspec/eth2spec/test/helpers/genesis.py
Labels: Electra

#4022 Fix block hash computation for fork transition tests
  tests/core/pyspec/eth2spec/test/helpers/fork_transition.py
Labels: scope:CI/tests/pyspec

#4027 EIP-7594: Remove BLOB_SIDECAR_SUBNET_COUNT_EIP7594
  configs/mainnet.yaml
  configs/minimal.yaml
  specs/_features/eip7594/p2p-interface.md
  tests/core/pyspec/eth2spec/test/eip7594/unittests/test_config_invariants.py
Labels: EIP-7594

#4024 electra: Add pending deposit and consolidation tests
  tests/core/pyspec/eth2spec/test/electra/sanity/test_slots.py
  tests/generators/sanity/main.py
Labels: scope:CI/tests/pyspec
