Repository ethereum/consensus-specs, pull requests merged in 2024-12, with the labels that each got.

#3644 `p2p-interface.md`: Add `quic` ENR entry.
  specs/phase0/p2p-interface.md
Labels: scope:networking

#4029 Fix `test_incorrect_inactive_validator` by using correct `source_address`
  tests/core/pyspec/eth2spec/test/electra/block_processing/test_process_withdrawal_request.py
Labels: scope:CI/tests/pyspec

#4004 Fix some nits in the constants/presets sections
  specs/electra/beacon-chain.md
Labels: Electra

#3985 Move p2p-interface intros to introduction section
  specs/_features/das/p2p-interface.md
  specs/_features/eip7594/p2p-interface.md
  specs/_features/eip7732/p2p-interface.md
  specs/altair/p2p-interface.md
  specs/bellatrix/p2p-interface.md
  specs/capella/p2p-interface.md
  specs/deneb/p2p-interface.md
  specs/electra/p2p-interface.md
  specs/phase0/p2p-interface.md
Labels: general:presentation

#4017 Remove post-altair `initialize_beacon_state_from_eth1` from specs
  docs/docs/templates/beacon-chain-template.md
  specs/_features/eip7594/beacon-chain.md
  specs/_features/whisk/beacon-chain.md
  specs/altair/beacon-chain.md
  specs/bellatrix/beacon-chain.md
  specs/capella/beacon-chain.md
  specs/deneb/beacon-chain.md
  specs/electra/beacon-chain.md
  tests/core/pyspec/eth2spec/test/bellatrix/genesis/__init__.py
  tests/core/pyspec/eth2spec/test/bellatrix/genesis/test_initialization.py
  tests/core/pyspec/eth2spec/test/phase0/genesis/test_initialization.py
  tests/core/pyspec/eth2spec/test/phase0/genesis/test_validity.py
Labels: scope:CI/tests/pyspec

#4034 Fix modcheck CI test
  .github/workflows/run-tests.yml
  tests/generators/genesis/main.py
Labels: general:bug, scope:CI/tests/pyspec

#4037 Remove unused `neg_polynomialcoeff` function
  specs/_features/eip7594/polynomial-commitments-sampling.md
Labels: EIP-7594

#3800 EIP-7742: Uncouple blob limits per block across CL and EL
  pysetup/spec_builders/electra.py
  specs/_features/eip7594/beacon-chain.md
  specs/_features/eip7732/beacon-chain.md
  specs/electra/beacon-chain.md
  specs/electra/fork-choice.md
  specs/electra/validator.md
Labels: general:enhancement, Electra, EIP-7594

#4023 Add EIP-7691: Blob throughput increase
  configs/mainnet.yaml
  configs/minimal.yaml
  presets/minimal/deneb.yaml
  specs/_features/eip7594/beacon-chain.md
  specs/_features/eip7594/p2p-interface.md
  specs/_features/eip7594/validator.md
  specs/_features/eip7732/beacon-chain.md
  specs/electra/beacon-chain.md
  specs/electra/p2p-interface.md
  specs/electra/validator.md
  tests/core/pyspec/eth2spec/test/eip7594/unittests/test_config_invariants.py
  tests/core/pyspec/eth2spec/test/electra/unittests/test_config_invariants.py
  tests/core/pyspec/eth2spec/test/helpers/blob.py
Labels: Electra, EIP-7594

#4044 Fix some issues in new random execution requests
  tests/core/pyspec/eth2spec/test/helpers/multi_operations.py
Labels: scope:CI/tests/pyspec

#3994 Make initial Fulu spec
  .circleci/config.yml
  .github/workflows/run-tests.yml
  .gitignore
  Makefile
  README.md
  configs/mainnet.yaml
  configs/minimal.yaml
  presets/mainnet/fulu.yaml
  presets/minimal/fulu.yaml
  pysetup/constants.py
  pysetup/md_doc_paths.py
  pysetup/spec_builders/__init__.py
  pysetup/spec_builders/fulu.py
  scripts/build_run_docker_tests.sh
  specs/fulu/beacon-chain.md
  specs/fulu/das-core.md
  specs/fulu/fork-choice.md
  specs/fulu/fork.md
  specs/fulu/p2p-interface.md
  specs/fulu/peer-sampling.md
  specs/fulu/polynomial-commitments-sampling.md
  specs/fulu/validator.md
  tests/core/pyspec/eth2spec/test/context.py
  tests/core/pyspec/eth2spec/test/deneb/fork_choice/test_on_block.py
  tests/core/pyspec/eth2spec/test/fulu/__init__.py
  tests/core/pyspec/eth2spec/test/fulu/merkle_proof/__init__.py
  tests/core/pyspec/eth2spec/test/fulu/merkle_proof/test_single_merkle_proof.py
  tests/core/pyspec/eth2spec/test/fulu/networking/__init__.py
  tests/core/pyspec/eth2spec/test/fulu/networking/test_get_custody_columns.py
  tests/core/pyspec/eth2spec/test/fulu/unittests/__init__.py
  tests/core/pyspec/eth2spec/test/fulu/unittests/das/__init__.py
  tests/core/pyspec/eth2spec/test/fulu/unittests/das/test_das.py
  tests/core/pyspec/eth2spec/test/fulu/unittests/polynomial_commitments/__init__.py
  tests/core/pyspec/eth2spec/test/fulu/unittests/polynomial_commitments/test_polynomial_commitments.py
  tests/core/pyspec/eth2spec/test/fulu/unittests/test_config_invariants.py
  tests/core/pyspec/eth2spec/test/fulu/unittests/test_custody.py
  tests/core/pyspec/eth2spec/test/fulu/unittests/test_networking.py
  tests/core/pyspec/eth2spec/test/fulu/unittests/test_security.py
  tests/core/pyspec/eth2spec/test/helpers/blob.py
  tests/core/pyspec/eth2spec/test/helpers/constants.py
  tests/core/pyspec/eth2spec/test/helpers/forks.py
  tests/core/pyspec/eth2spec/test/utils/kzg_tests.py
  tests/core/pyspec/eth2spec/test/utils/randomized_block_tests.py
  tests/generators/kzg_4844/main.py
  tests/generators/kzg_7594/main.py
  tests/generators/merkle_proof/main.py
  tests/generators/networking/main.py
Labels: EIP-7594, Fulu

#4046 Remove EIP-7742
  README.md
  configs/mainnet.yaml
  configs/minimal.yaml
  pysetup/spec_builders/electra.py
  specs/_features/eip7732/beacon-chain.md
  specs/electra/beacon-chain.md
  specs/electra/fork-choice.md
  specs/electra/validator.md
  specs/fulu/beacon-chain.md
  specs/fulu/validator.md
  tests/core/pyspec/eth2spec/test/electra/unittests/test_config_invariants.py
  tests/core/pyspec/eth2spec/test/fulu/unittests/test_config_invariants.py
Labels: Electra, Fulu

#3988 Refactor the main Makefile
  .circleci/config.yml
  .github/workflows/docs.yml
  .github/workflows/generate_vectors.yml
  .github/workflows/run-tests.yml
  .gitignore
  Makefile
  README.md
  docker/Dockerfile
  docker/README.md
  scripts/build_run_docker_tests.sh
  setup.py
  tests/README.md
  tests/core/pyspec/README.md
  tests/generators/README.md
Labels: general:enhancement, scope:CI/tests/pyspec

#4039 Use 16-bit random value in validator filter
  specs/electra/beacon-chain.md
Labels: Electra

#4048 Use incorrect signature in pending deposit top up test
  tests/core/pyspec/eth2spec/test/electra/epoch_processing/pending_deposits/test_apply_pending_deposit.py
Labels: scope:CI/tests/pyspec, Electra

#4057 Speed up make pyspec command
  setup.py
Labels: scope:CI/tests/pyspec

#4062 Metadata: Replace `csc` by `cgc`.
  specs/fulu/p2p-interface.md
Labels: EIP-7594

#4060 Align PeerDAS `sampling_size` comparison units
  specs/fulu/das-core.md
Labels: EIP-7594

#4070 In get_custody_groups, don't skip 0 value
  specs/fulu/das-core.md
Labels: Fulu
