Repository ethereum/consensus-specs, pull requests merged in 2024-07, with the labels that each got.

#3764 Add more Electra fork tests
  tests/core/pyspec/eth2spec/test/electra/fork/test_electra_fork_basic.py
  tests/core/pyspec/eth2spec/test/helpers/electra/fork.py
Labels: scope:CI/tests/pyspec

#3822 Fix beacon-chain.md section header issues
  specs/electra/beacon-chain.md
Labels: Electra

#3823 Replace "updated" with "modified" in Electra spec
  specs/electra/beacon-chain.md
Labels: general:proofread, Electra

#3826 Fix link to Deneb spec
  specs/electra/beacon-chain.md
Labels: general:proofread, Electra

#3829 Fix EL block hash computation for Deneb
  tests/core/pyspec/eth2spec/test/bellatrix/block_processing/test_process_execution_payload.py
  tests/core/pyspec/eth2spec/test/bellatrix/fork_choice/test_on_merge_block.py
  tests/core/pyspec/eth2spec/test/bellatrix/sync/test_optimistic.py
  tests/core/pyspec/eth2spec/test/bellatrix/unittests/test_validate_merge_block.py
  tests/core/pyspec/eth2spec/test/capella/block_processing/test_process_execution_payload.py
  tests/core/pyspec/eth2spec/test/capella/block_processing/test_process_withdrawals.py
  tests/core/pyspec/eth2spec/test/deneb/block_processing/test_process_execution_payload.py
  tests/core/pyspec/eth2spec/test/deneb/fork_choice/test_on_block.py
  tests/core/pyspec/eth2spec/test/deneb/merkle_proof/test_single_merkle_proof.py
  tests/core/pyspec/eth2spec/test/deneb/sanity/test_blocks.py
  tests/core/pyspec/eth2spec/test/deneb/unittests/validator/test_validator.py
  tests/core/pyspec/eth2spec/test/eip7594/merkle_proof/test_single_merkle_proof.py
  tests/core/pyspec/eth2spec/test/electra/sanity/blocks/test_blocks.py
  tests/core/pyspec/eth2spec/test/electra/sanity/blocks/test_deposit_transition.py
  tests/core/pyspec/eth2spec/test/helpers/execution_payload.py
  tests/core/pyspec/eth2spec/test/helpers/genesis.py
  tests/core/pyspec/eth2spec/test/utils/randomized_block_tests.py
Labels: scope:CI/tests/pyspec

#3835 In batch cell verification, check if there are zero cells
  specs/_features/eip7594/polynomial-commitments-sampling.md
  tests/core/pyspec/eth2spec/test/eip7594/unittests/polynomial_commitments/test_polynomial_commitments.py
Labels: EIP-7594

#3837 fix typo in deneb comment
  specs/deneb/beacon-chain.md
Labels: general:proofread

#3834 In batch cell verification, take commitment for each cell
  specs/_features/eip7594/p2p-interface.md
  specs/_features/eip7594/polynomial-commitments-sampling.md
  tests/core/pyspec/eth2spec/test/eip7594/unittests/polynomial_commitments/test_polynomial_commitments.py
  tests/formats/kzg_7594/verify_cell_kzg_proof_batch.md
  tests/generators/kzg_7594/main.py
Labels: EIP-7594

#3830 Remove `verify_cell_kzg_proof` (non-batch)
  specs/_features/eip7594/polynomial-commitments-sampling.md
  tests/core/pyspec/eth2spec/test/eip7594/unittests/polynomial_commitments/test_polynomial_commitments.py
  tests/formats/kzg_7594/README.md
  tests/formats/kzg_7594/verify_cell_kzg_proof.md
  tests/generators/kzg_7594/main.py
Labels: EIP-7594

#3841 Rename column_index to cell_index in KZG spec
  specs/_features/eip7594/das-core.md
  specs/_features/eip7594/p2p-interface.md
  specs/_features/eip7594/polynomial-commitments-sampling.md
  tests/core/pyspec/eth2spec/test/eip7594/unittests/polynomial_commitments/test_polynomial_commitments.py
  tests/formats/kzg_7594/verify_cell_kzg_proof_batch.md
  tests/generators/kzg_7594/main.py
Labels: EIP-7594

#3817 Make MAX_BLOBS_PER_BLOCK a config parameter
  configs/mainnet.yaml
  configs/minimal.yaml
  presets/mainnet/deneb.yaml
  presets/minimal/deneb.yaml
  pysetup/spec_builders/deneb.py
  specs/deneb/beacon-chain.md
  tests/core/pyspec/eth2spec/test/deneb/block_processing/test_process_execution_payload.py
  tests/core/pyspec/eth2spec/test/deneb/unittests/test_config_invariants.py
  tests/core/pyspec/eth2spec/test/eip7594/unittests/test_config_invariants.py
  tests/core/pyspec/eth2spec/test/eip7594/unittests/test_security.py
  tests/core/pyspec/eth2spec/test/helpers/fork_choice.py
  tests/core/pyspec/eth2spec/test/utils/randomized_block_tests.py
Labels: Deneb

#3836 Update get_data_column_sidecars to take cells/proofs
  specs/_features/eip7594/das-core.md
  tests/core/pyspec/eth2spec/test/eip7594/merkle_proof/test_single_merkle_proof.py
Labels: EIP-7594

#3820 Replace `recover_data` with `recover_polynomialcoeff`
  specs/_features/eip7594/polynomial-commitments-sampling.md
Labels: EIP-7594

#3849 move beacon_attestation_subnet from electra global topics
  specs/electra/p2p-interface.md
Labels: general:proofread

#3855 Fix indentation for some kzg_7594 tests
  tests/generators/kzg_7594/main.py
Labels: EIP-7594

#3846 For pytest, replace NUMBER_OF_CORES with auto
  Makefile
  docker/README.md
  scripts/build_run_docker_tests.sh
Labels: general:enhancement
