Repository ethereum/consensus-specs, pull requests merged in 2024-02, with the labels that each got.

#3600 Handle `integer_squareroot` bound case
  specs/phase0/beacon-chain.md
  tests/core/pyspec/eth2spec/test/helpers/constants.py
  tests/core/pyspec/eth2spec/test/phase0/unittests/math/__init__.py
  tests/core/pyspec/eth2spec/test/phase0/unittests/math/test_integer_squareroot.py
  tests/core/pyspec/eth2spec/test/phase0/unittests/test_config_invariants.py
Labels: phase0

#3602 Add EIP-7514 higher-churn-limit-to-lower tests
  tests/core/pyspec/eth2spec/test/deneb/transition/test_transition.py
  tests/generators/transition/main.py
Labels: scope:CI/tests/pyspec

#3598 release v1.4.0-beta.7
  README.md
  configs/mainnet.yaml
  specs/_features/eip7594/polynomial-commitments-sampling.md
  specs/deneb/fork.md
  specs/deneb/polynomial-commitments.md
  specs/phase0/beacon-chain.md
  tests/core/pyspec/eth2spec/VERSION.txt
  tests/core/pyspec/eth2spec/py.typed
  tests/core/pyspec/eth2spec/test/deneb/transition/test_transition.py
  tests/core/pyspec/eth2spec/test/eip7594/unittests/polynomial_commitments/test_polynomial_commitments.py
  tests/core/pyspec/eth2spec/test/helpers/constants.py
  tests/core/pyspec/eth2spec/test/phase0/unittests/math/__init__.py
  tests/core/pyspec/eth2spec/test/phase0/unittests/math/test_integer_squareroot.py
  tests/core/pyspec/eth2spec/test/phase0/unittests/test_config_invariants.py
  tests/generators/transition/main.py
Labels: general:release

#3607 Remove `higher_churn_limit_to_lower__without_block`
  tests/core/pyspec/eth2spec/test/deneb/transition/test_transition.py
Labels: scope:CI/tests/pyspec

#3608 Introduce UINT64_MAX_SQRT
  specs/phase0/beacon-chain.md
Labels: general:presentation
