Repository ethereum/consensus-specs, pull requests merged in 2024-05, with the labels that each got.

#3736 Remove `test_consolidation.py` since they are not valid test vectors
  tests/core/pyspec/eth2spec/test/electra/sanity/blocks/__init__.py
  tests/core/pyspec/eth2spec/test/electra/sanity/blocks/test_consolidation.py
Labels: scope:CI/tests/pyspec

#3741 Add decorator to all "invalid" test cases
  tests/core/pyspec/eth2spec/test/electra/block_processing/test_process_consolidation.py
Labels: scope:CI/tests/pyspec

#3750 Add `DataColumnSidecarsByRange` v1 Req/Resp
  specs/_features/eip7594/p2p-interface.md
Labels: EIP-7594

#3748 Fix `get_custody_columns`
  specs/_features/eip7594/das-core.md
  tests/core/pyspec/eth2spec/test/eip7594/networking/test_get_custody_columns.py
  tests/formats/networking/get_custody_columns.md
Labels: EIP-7594

#3749 Release `v1.5.0-alpha.2`
  .github/workflows/run-tests.yml
  Makefile
  specs/_features/eip7594/das-core.md
  specs/_features/eip7594/p2p-interface.md
  specs/_features/eip7594/polynomial-commitments-sampling.md
  specs/electra/beacon-chain.md
  specs/phase0/p2p-interface.md
  tests/core/pyspec/eth2spec/VERSION.txt
  tests/core/pyspec/eth2spec/test/bellatrix/block_processing/test_process_execution_payload.py
  tests/core/pyspec/eth2spec/test/capella/block_processing/test_process_withdrawals.py
  tests/core/pyspec/eth2spec/test/capella/sanity/test_blocks.py
  tests/core/pyspec/eth2spec/test/eip7594/merkle_proof/test_single_merkle_proof.py
  tests/core/pyspec/eth2spec/test/eip7594/networking/test_get_custody_columns.py
  tests/core/pyspec/eth2spec/test/electra/block_processing/test_process_consolidation.py
  tests/core/pyspec/eth2spec/test/electra/block_processing/test_process_execution_layer_withdrawal_request.py
  tests/core/pyspec/eth2spec/test/electra/epoch_processing/test_process_pending_balance_deposits.py
  tests/core/pyspec/eth2spec/test/electra/sanity/blocks/__init__.py
  tests/core/pyspec/eth2spec/test/electra/sanity/blocks/test_consolidation.py
  tests/core/pyspec/eth2spec/test/helpers/withdrawals.py
  tests/formats/networking/get_custody_columns.md
Labels: general:release

#3759 Add electra version of AggregateAndProof
  specs/electra/validator.md
Labels: Electra

#3758 Change duplicate cell id test to use 65 cell ids
  tests/generators/kzg_7594/main.py
Labels: EIP-7594

#3765 PeerDAS cryptography: Add a missing check and a missing test vector (coverage report of test vectors)
  specs/_features/eip7594/polynomial-commitments-sampling.md
  tests/generators/kzg_7594/main.py
Labels: EIP-7594

#3771 fix typo
  tests/core/pyspec/eth2spec/utils/bls.py
Labels: scope:CI/tests/pyspec

#3769 Electra: Properly Calculate Proposer Probabilities
  specs/electra/beacon-chain.md
Labels: Electra

#3230 TheVerge: spec draft
  .gitignore
  Makefile
  presets/mainnet/eip6800.yaml
  presets/minimal/eip6800.yaml
  pysetup/constants.py
  pysetup/helpers.py
  pysetup/md_doc_paths.py
  pysetup/spec_builders/__init__.py
  pysetup/spec_builders/eip6800.py
  setup.py
  specs/_features/eip6800/beacon-chain.md
  specs/_features/eip6800/fork.md
  tests/core/pyspec/eth2spec/utils/ssz/ssz_typing.py
Labels: general:enhancement
