Repository ethereum/consensus-specs, pull requests merged in 2024-01, with the labels that each got.

#3567 Set `--bls-type` default value to `fastest`
  tests/core/pyspec/eth2spec/test/conftest.py
Labels: scope:CI/tests/pyspec

#3571 Extract sync committee period <-> slot helpers to common LC test module
  tests/core/pyspec/eth2spec/test/altair/light_client/test_sync.py
  tests/core/pyspec/eth2spec/test/helpers/light_client.py
Labels: scope:light-clients

#3506 ssz: `byte` type and canonical JSON mapping
  ssz/simple-serialize.md
Labels: scope:SSZ, Altair

#3557 EIP-7594: Add cryptography specs for sampling
  .circleci/config.yml
  .github/workflows/run-tests.yml
  .gitignore
  configs/mainnet.yaml
  configs/minimal.yaml
  presets/mainnet/eip7594.yaml
  presets/mainnet/trusted_setups/trusted_setup_4096.json
  presets/minimal/eip7594.yaml
  presets/minimal/trusted_setups/trusted_setup_4096.json
  pysetup/constants.py
  pysetup/md_doc_paths.py
  pysetup/spec_builders/__init__.py
  pysetup/spec_builders/eip7594.py
  setup.py
  specs/_features/eip7594/fork.md
  specs/_features/eip7594/polynomial-commitments-sampling.md
  specs/_features/sharding/polynomial-commitments.md
  specs/deneb/polynomial-commitments.md
  tests/core/pyspec/eth2spec/test/context.py
  tests/core/pyspec/eth2spec/test/eip7594/__init__.py
  tests/core/pyspec/eth2spec/test/eip7594/unittests/__init__.py
  tests/core/pyspec/eth2spec/test/eip7594/unittests/polynomial_commitments/__init__.py
  tests/core/pyspec/eth2spec/test/eip7594/unittests/polynomial_commitments/test_polynomial_commitments.py
  tests/core/pyspec/eth2spec/test/helpers/constants.py
  tests/core/pyspec/eth2spec/utils/bls.py
Labels: general:enhancement

#3537 Rename `_INDEX` generalized index constants to `_GINDEX`
  pysetup/spec_builders/altair.py
  specs/altair/light-client/full-node.md
  specs/altair/light-client/sync-protocol.md
  tests/core/pyspec/eth2spec/test/altair/light_client/test_single_merkle_proof.py
  tests/core/pyspec/eth2spec/test/altair/light_client/test_sync.py
  tests/core/pyspec/eth2spec/test/helpers/light_client.py
Labels: scope:light-clients

#3549 Gossip additional `LightClientFinalityUpdate` on new supermajority
  specs/altair/light-client/full-node.md
  specs/altair/light-client/p2p-interface.md
Labels: scope:light-clients

#3563 Use types for representing LC Merkle branches
  pysetup/helpers.py
  pysetup/spec_builders/capella.py
  pysetup/spec_builders/whisk.py
  setup.py
  specs/altair/light-client/full-node.md
  specs/altair/light-client/sync-protocol.md
  specs/capella/light-client/full-node.md
  specs/capella/light-client/sync-protocol.md
  specs/deneb/light-client/full-node.md
  specs/deneb/light-client/sync-protocol.md
  tests/core/pyspec/eth2spec/test/capella/light_client/test_single_merkle_proof.py
Labels: scope:light-clients

#3572 Consider fork transitions when using `get_sync_aggregate` helper func
  tests/core/pyspec/eth2spec/test/altair/light_client/test_sync.py
  tests/core/pyspec/eth2spec/test/helpers/fork_transition.py
  tests/core/pyspec/eth2spec/test/helpers/forks.py
  tests/core/pyspec/eth2spec/test/helpers/light_client.py
Labels: scope:light-clients, scope:CI/tests/pyspec

#3570 Add guard when `fill_prev_epoch` is `True` in epoch `0`
  tests/core/pyspec/eth2spec/test/helpers/attestations.py
Labels: scope:CI/tests/pyspec

#3431 Confirmation rule prerequisite - fork choice filter change
  specs/phase0/fork-choice.md
  tests/core/pyspec/eth2spec/test/phase0/fork_choice/test_reorg.py
Labels: scope:fork-choice

#3552 Align gossip validation for aggregates with single attestations
  specs/phase0/p2p-interface.md
Labels: scope:networking

#3543 Use fork choice to determine `finalized_checkpoint` in gossip validation
  specs/deneb/p2p-interface.md
  specs/phase0/p2p-interface.md
Labels: scope:networking

#3585 Add transition test case of non-empty pre-state `historical_roots`
  specs/capella/beacon-chain.md
  tests/core/pyspec/eth2spec/test/altair/transition/test_transition.py
  tests/formats/transition/README.md
Labels: scope:CI/tests/pyspec

#3581 Optimization: reduce `len()` calls in `add_polynomialcoeff`
  specs/_features/eip7594/polynomial-commitments-sampling.md
Labels: EIP-7594

#3579 peerDAS: Public methods must accept raw bytes
  specs/_features/eip7594/polynomial-commitments-sampling.md
  specs/deneb/polynomial-commitments.md
  tests/core/pyspec/eth2spec/test/eip7594/unittests/polynomial_commitments/test_polynomial_commitments.py
Labels: EIP-7594
