Repository ethereum/consensus-specs, pull requests merged in 2024-06, with the labels that each got.

#3775 EL-triggered consolidations
  presets/mainnet/electra.yaml
  presets/minimal/electra.yaml
  specs/electra/beacon-chain.md
  specs/electra/fork.md
  tests/core/pyspec/eth2spec/test/electra/block_processing/test_process_consolidation.py
  tests/core/pyspec/eth2spec/test/electra/block_processing/test_process_execution_layer_consolidation_request.py
  tests/core/pyspec/eth2spec/test/helpers/consolidations.py
  tests/core/pyspec/eth2spec/test/helpers/execution_payload.py
  tests/formats/operations/README.md
  tests/generators/operations/main.py
Labels: Electra

#3776 Handle top-ups to exiting/exited validators
  specs/electra/beacon-chain.md
  tests/core/pyspec/eth2spec/test/electra/epoch_processing/test_process_pending_balance_deposits.py
Labels: scope:security, Electra

#3757 Rename DepositReceipt to DepositRequest
  presets/mainnet/electra.yaml
  presets/minimal/electra.yaml
  specs/electra/beacon-chain.md
  specs/electra/fork.md
  specs/electra/validator.md
  tests/core/pyspec/eth2spec/test/electra/block_processing/test_process_deposit_request.py
  tests/core/pyspec/eth2spec/test/electra/sanity/blocks/test_deposit_transition.py
  tests/core/pyspec/eth2spec/test/helpers/deposits.py
  tests/core/pyspec/eth2spec/test/helpers/execution_payload.py
  tests/core/pyspec/eth2spec/test/helpers/genesis.py
  tests/formats/operations/README.md
  tests/generators/operations/main.py
Labels: Electra

#3792 Update polynomial-commitments-sampling.md - Fix shift_polynomialcoeff
  specs/_features/eip7594/polynomial-commitments-sampling.md
Labels: EIP-7594

#3795 EIP-7594-Polynomial-Commitments: Have a Section listing Public Methods
  specs/_features/eip7594/polynomial-commitments-sampling.md
Labels: EIP-7594

#3797 Rename `CellID` to `CellIndex`
  specs/_features/eip7594/das-core.md
  specs/_features/eip7594/polynomial-commitments-sampling.md
  tests/core/pyspec/eth2spec/test/eip7594/unittests/polynomial_commitments/test_polynomial_commitments.py
  tests/formats/kzg_7594/recover_cells_and_kzg_proofs.md
  tests/formats/kzg_7594/verify_cell_kzg_proof.md
  tests/formats/kzg_7594/verify_cell_kzg_proof_batch.md
  tests/generators/kzg_7594/main.py
Labels: EIP-7594

#3796 Remove `compute_cells` method
  specs/_features/eip7594/polynomial-commitments-sampling.md
  tests/generators/kzg_7594/main.py
Labels: EIP-7594

#3781 chore: Refactor cell recovery code
  specs/_features/eip7594/polynomial-commitments-sampling.md
  tests/core/pyspec/eth2spec/test/eip7594/unittests/polynomial_commitments/test_polynomial_commitments.py
Labels: EIP-7594

#3793 Adds CI to generate test vectors
  .github/workflows/generate_vectors.yml
Labels: scope:CI/tests/pyspec

#3778 Update compute_el_header_block_hash for EIP-7685
  tests/core/pyspec/eth2spec/test/helpers/execution_payload.py
  tests/core/pyspec/eth2spec/test/helpers/genesis.py
Labels: scope:CI/tests/pyspec, Electra

#3768 EIP-7549: Append new `committee_bits` field to end of `Attestation`
  specs/electra/beacon-chain.md
Labels: Electra

#3783 Switch the rest of the spec to MAX_EFFECTIVE_BALANCE_ELECTRA
  specs/electra/beacon-chain.md
  tests/core/pyspec/eth2spec/test/altair/block_processing/sync_aggregate/test_process_sync_aggregate.py
  tests/core/pyspec/eth2spec/test/altair/block_processing/sync_aggregate/test_process_sync_aggregate_random.py
  tests/core/pyspec/eth2spec/test/context.py
  tests/core/pyspec/eth2spec/test/helpers/genesis.py
  tests/core/pyspec/eth2spec/test/phase0/genesis/test_initialization.py
Labels: Electra

#3805 fix typo
  tests/generators/operations/main.py
Labels: scope:CI/tests/pyspec

#3806 Remove `assert len(missing_cell_indices) != 0` check
  specs/_features/eip7594/polynomial-commitments-sampling.md
Labels: EIP-7594

#3763 Add Electra merkle proof test vectors
  tests/generators/merkle_proof/main.py
Labels: scope:CI/tests/pyspec

#3810 Fix typing issue when `10e10` is interpreted as float
  tests/core/pyspec/eth2spec/test/helpers/execution_payload.py
Labels: scope:CI/tests/pyspec

#3794 EIP-7594: clarifying reconstruction and cross-seeding
  specs/_features/eip7594/das-core.md
Labels: EIP-7594

#3782 PeerDAS sampling clarifications
  specs/_features/eip7594/das-core.md
  tests/core/pyspec/eth2spec/test/eip7594/unittests/das/test_das.py
Labels: EIP-7594

#3819 eip7594: Remove proof parameter from `recover_cells_and_kzg_proofs`
  specs/_features/eip7594/das-core.md
  specs/_features/eip7594/polynomial-commitments-sampling.md
  tests/core/pyspec/eth2spec/test/eip7594/unittests/polynomial_commitments/test_polynomial_commitments.py
  tests/formats/kzg_7594/recover_cells_and_kzg_proofs.md
  tests/generators/kzg_7594/main.py
Labels: EIP-7594

#3812 EIP7594: Universal Verification in verify_cell_kzg_proof_batch
  specs/_features/eip7594/polynomial-commitments-sampling.md
  tests/core/pyspec/eth2spec/test/eip7594/unittests/polynomial_commitments/test_polynomial_commitments.py
Labels: EIP-7594
