Repository ethereum/consensus-specs, pull requests merged in 2025-02, with the labels that each got.

#4115 Do not checkout tests repo in nightly tests action
  .github/workflows/generate_vectors.yml
Labels: scope:CI/tests/pyspec

#4117 Increase test vector generation action timeout
  .github/workflows/generate_vectors.yml
Labels: scope:CI/tests/pyspec

#4104 In process_registry_updates, change two ifs to elifs
  specs/electra/beacon-chain.md
Labels: Electra

#3871 Basic validator custody
  configs/mainnet.yaml
  configs/minimal.yaml
  specs/fulu/das-core.md
Labels: EIP-7594, Fulu

#4126 Add python version to circleci venv key
  .circleci/config.yml
Labels: scope:CI/tests/pyspec

#4119 Release v1.5.0-beta.2
  .circleci/config.yml
  .github/workflows/generate_vectors.yml
  Makefile
  README.md
  configs/mainnet.yaml
  configs/minimal.yaml
  specs/electra/beacon-chain.md
  specs/electra/validator.md
  specs/fulu/das-core.md
  specs/fulu/fork.md
  tests/core/pyspec/eth2spec/VERSION.txt
  tests/core/pyspec/eth2spec/test/bellatrix/unittests/test_execution_engine_interface.py
  tests/core/pyspec/eth2spec/test/capella/block_processing/test_process_withdrawals.py
  tests/core/pyspec/eth2spec/test/context.py
  tests/core/pyspec/eth2spec/test/deneb/unittests/test_execution_engine_interface.py
  tests/core/pyspec/eth2spec/test/electra/block_processing/test_process_consolidation_request.py
  tests/core/pyspec/eth2spec/test/electra/block_processing/test_process_withdrawal_request.py
  tests/core/pyspec/eth2spec/test/electra/block_processing/test_process_withdrawals.py
  tests/core/pyspec/eth2spec/test/electra/epoch_processing/pending_deposits/test_apply_pending_deposit.py
  tests/core/pyspec/eth2spec/test/electra/epoch_processing/pending_deposits/test_process_pending_deposits.py
  tests/core/pyspec/eth2spec/test/electra/fork_choice/__init__.py
  tests/core/pyspec/eth2spec/test/electra/fork_choice/test_deposit_with_reorg.py
  tests/core/pyspec/eth2spec/test/electra/sanity/blocks/test_blocks.py
  tests/core/pyspec/eth2spec/test/electra/sanity/blocks/test_deposit_transition.py
  tests/core/pyspec/eth2spec/test/electra/unittests/test_execution_engine_interface.py
  tests/core/pyspec/eth2spec/test/fulu/fork/__init__.py
  tests/core/pyspec/eth2spec/test/fulu/fork/test_fulu_fork_basic.py
  tests/core/pyspec/eth2spec/test/fulu/fork/test_fulu_fork_random.py
  tests/core/pyspec/eth2spec/test/fulu/fork_choice/__init__.py
  tests/core/pyspec/eth2spec/test/fulu/fork_choice/test_on_block.py
  tests/core/pyspec/eth2spec/test/fulu/random/__init__.py
  tests/core/pyspec/eth2spec/test/fulu/random/test_random.py
  tests/core/pyspec/eth2spec/test/helpers/fulu/__init__.py
  tests/core/pyspec/eth2spec/test/helpers/fulu/fork.py
  tests/core/pyspec/eth2spec/test/phase0/epoch_processing/test_process_registry_updates.py
  tests/core/pyspec/eth2spec/test/utils/randomized_block_tests.py
  tests/generators/epoch_processing/main.py
  tests/generators/finality/main.py
  tests/generators/fork_choice/main.py
  tests/generators/forks/main.py
  tests/generators/genesis/main.py
  tests/generators/light_client/main.py
  tests/generators/operations/main.py
  tests/generators/random/generate.py
  tests/generators/random/main.py
  tests/generators/rewards/main.py
  tests/generators/sanity/main.py
  tests/generators/sync/main.py
Labels: general:release

#4128 Add back `compute_cells` function
  specs/fulu/polynomial-commitments-sampling.md
  tests/formats/kzg_7594/compute_cells.md
  tests/generators/kzg_7594/main.py
Labels: EIP-7594, Fulu

#4130 Do not double build pyspec
  Makefile
Labels: scope:CI/tests/pyspec

#4134 Remove python version from circleci cache key
  .circleci/config.yml
Labels: scope:CI/tests/pyspec
