Repository ethereum/consensus-specs, pull requests merged in 2025-09, with the labels that each got.

#4538 Add ability to run framework tests separately
  .github/workflows/nightly-tests.yml
  .github/workflows/release.yml
  .github/workflows/run-tests.yml
  Makefile
  tests/infra/test_template_test.py
Labels: testing

#4590 Add regression test for `verify_cell_kzg_proof_batch` bug
  tests/generators/runners/kzg_7594.py
Labels: testing

#4591 Add specs for EIP-8025 (Optional Execution Proofs)
  .github/release-drafter.yml
  specs/_features/eip8025/beacon-chain.md
  specs/_features/eip8025/p2p-interface.md
  specs/_features/eip8025/validator.md
  specs/_features/eip8025/zkevm.md
Labels: eip8025

#4596 Only create ssz_static tests in generator mode
  tests/core/pyspec/eth2spec/test/context.py
  tests/core/pyspec/eth2spec/test/phase0/ssz_static/test_ssz_static.py
Labels: testing

#4541 Port `blob_to_kzg_commitment` tests to pytest
  tests/core/pyspec/eth2spec/test/deneb/kzg/__init__.py
  tests/core/pyspec/eth2spec/test/deneb/kzg/test_blob_to_kzg_commitment.py
  tests/core/pyspec/eth2spec/test/utils/kzg_tests.py
  tests/generators/runners/kzg_4844.py
  tests/generators/runners/kzg_4844_legacy.py
Labels: testing

#4582 eip7928: add `BeaconState` container definition
  specs/_features/eip7928/beacon-chain.md
Labels: eip7928

#4564 eip7732: add attestation processing tests
  tests/core/pyspec/eth2spec/test/gloas/block_processing/test_process_attestation.py
Labels: testing

#4551 Fix `filter_block_tree` note to use `checkpoint.root`
  specs/phase0/fork-choice.md
Labels: phase0
