Repository ethereum/consensus-specs, pull requests merged in 2025-04, with the labels that each got.

#4246 Add two consolidation request processing edge case tests
  tests/core/pyspec/eth2spec/test/electra/sanity/blocks/test_blocks.py
Labels: scope:CI/tests/pyspec, Electra

#4248 Fix the full consolidation queue test
  tests/core/pyspec/eth2spec/test/electra/sanity/blocks/test_blocks.py
Labels: scope:CI/tests/pyspec, Electra

#4179 Electra: Update WS period computation
  specs/electra/weak-subjectivity.md
Labels: Electra

#4254 Clean up electra presets
  presets/mainnet/electra.yaml
  presets/minimal/electra.yaml
Labels: Electra

#4264 Fix eip7732 kzg commitment inclusion proof depth
  presets/mainnet/eip7732.yaml
  presets/minimal/eip7732.yaml
  specs/_features/eip7732/p2p-interface.md
  tests/core/pyspec/eth2spec/test/phase0/fork_choice/test_ex_ante.py
Labels: EIP-7732

#4269 Remove unused is_previous_epoch_justified function
  specs/phase0/fork-choice.md
Labels: general:simplification

#4265 Add various tests cases for electra
  tests/core/pyspec/eth2spec/test/electra/block_processing/test_process_consolidation_request.py
  tests/core/pyspec/eth2spec/test/electra/block_processing/test_process_deposit_request.py
  tests/core/pyspec/eth2spec/test/electra/block_processing/test_process_voluntary_exit.py
  tests/core/pyspec/eth2spec/test/electra/sanity/blocks/test_blocks.py
  tests/core/pyspec/eth2spec/test/electra/sanity/test_slots.py
Labels: scope:CI/tests/pyspec, Electra

#4262 Allow skipping verification for blobs from EL
  specs/fulu/p2p-interface.md
Labels: Fulu

#4281 Fix bug in electra withdrawals processing
  specs/electra/beacon-chain.md
  tests/core/pyspec/eth2spec/test/electra/block_processing/test_process_withdrawals.py
Labels: general:bug, Electra

#4284 Improve DataColumnSidecarsByRoot request
  pysetup/helpers.py
  specs/fulu/p2p-interface.md
Labels: Fulu

#4285 Mark electra as stable
  README.md
  specs/electra/beacon-chain.md
  specs/electra/fork.md
  specs/electra/light-client/fork.md
  specs/electra/light-client/p2p-interface.md
  specs/electra/light-client/sync-protocol.md
  specs/electra/p2p-interface.md
  specs/electra/validator.md
  specs/fulu/das-core.md
  specs/fulu/p2p-interface.md
Labels: Electra

#4290 Custody Group Tests improvements
  tests/core/pyspec/eth2spec/test/fulu/networking/test_get_custody_groups.py
Labels: scope:CI/tests/pyspec, Fulu

#4291 Make `*_REQUESTS_PER_PAYLOAD` the same for mainnet/minimal
  presets/minimal/electra.yaml
Labels: Electra
