Repository ethereum/consensus-specs, pull requests merged in 2025-01, with the labels that each got.

#4058 Fix a few nits dealing with updated makefile
  Makefile
Labels: scope:CI/tests/pyspec

#4067 Update blob sidecar subnet computation for EIP-7691
  specs/electra/validator.md
Labels: Electra

#4077 Revert BlobSidecarsByRoot/Range version bump
  specs/electra/p2p-interface.md
Labels: Electra

#4075 Add fork test with inactive, compounding validator with excess balance
  tests/core/pyspec/eth2spec/test/electra/fork/test_electra_fork_basic.py
Labels: scope:CI/tests/pyspec, Electra

#4045 Clarify gossip limits
  .circleci/config.yml
  configs/mainnet.yaml
  configs/minimal.yaml
  specs/bellatrix/p2p-interface.md
  specs/phase0/p2p-interface.md
Labels: scope:networking

#4078 Release v1.5.0-beta.0
  .circleci/config.yml
  Makefile
  configs/mainnet.yaml
  configs/minimal.yaml
  docker/README.md
  setup.py
  specs/_features/custody_game/beacon-chain.md
  specs/_features/eip7732/p2p-interface.md
  specs/_features/whisk/beacon-chain.md
  specs/altair/light-client/full-node.md
  specs/altair/validator.md
  specs/bellatrix/p2p-interface.md
  specs/deneb/beacon-chain.md
  specs/deneb/p2p-interface.md
  specs/electra/p2p-interface.md
  specs/electra/validator.md
  specs/fulu/das-core.md
  specs/fulu/p2p-interface.md
  specs/phase0/p2p-interface.md
  tests/README.md
  tests/core/pyspec/eth2spec/VERSION.txt
  tests/core/pyspec/eth2spec/gen_helpers/README.md
  tests/core/pyspec/eth2spec/test/altair/light_client/test_data_collection.py
  tests/core/pyspec/eth2spec/test/altair/light_client/test_sync.py
  tests/core/pyspec/eth2spec/test/bellatrix/light_client/__init__.py
  tests/core/pyspec/eth2spec/test/bellatrix/light_client/test_data_collection.py
  tests/core/pyspec/eth2spec/test/bellatrix/light_client/test_sync.py
  tests/core/pyspec/eth2spec/test/capella/light_client/test_data_collection.py
  tests/core/pyspec/eth2spec/test/capella/light_client/test_sync.py
  tests/core/pyspec/eth2spec/test/context.py
  tests/core/pyspec/eth2spec/test/deneb/light_client/__init__.py
  tests/core/pyspec/eth2spec/test/deneb/light_client/test_sync.py
  tests/core/pyspec/eth2spec/test/electra/fork/test_electra_fork_basic.py
  tests/core/pyspec/eth2spec/test/fulu/networking/test_compute_columns_for_custody_group.py
  tests/core/pyspec/eth2spec/test/fulu/networking/test_get_custody_columns.py
  tests/core/pyspec/eth2spec/test/fulu/networking/test_get_custody_groups.py
  tests/core/pyspec/eth2spec/test/fulu/unittests/test_config_invariants.py
  tests/core/pyspec/eth2spec/test/helpers/light_client.py
  tests/core/pyspec/eth2spec/test/helpers/light_client_data_collection.py
  tests/core/pyspec/eth2spec/test/helpers/light_client_sync.py
  tests/core/pyspec/eth2spec/test/utils/randomized_block_tests.py
  tests/formats/fork_choice/README.md
  tests/formats/light_client/README.md
  tests/formats/light_client/data_collection.md
  tests/formats/light_client/sync.md
  tests/generators/light_client/main.py
  tests/generators/networking/main.py
Labels: general:release

#4081 Simplify/optimize `process_registry_updates`
  specs/electra/beacon-chain.md
Labels: general:simplification, Electra

#4084 Fix order of SidecarsByRange/Root messages
  specs/deneb/p2p-interface.md
  specs/electra/p2p-interface.md
  specs/fulu/p2p-interface.md
  specs/phase0/p2p-interface.md
Labels: general:presentation

#4092 Pin codespell version
  setup.py
  tests/formats/sync/README.md
Labels: scope:CI/tests/pyspec

#4093 Move dependencies to pyproject.toml
  .circleci/config.yml
  Makefile
  pyproject.toml
  setup.py
  solidity_deposit_contract/Makefile
  solidity_deposit_contract/web3_tester/requirements_preinstallation.txt
Labels: general:enhancement

#4100 Replace pip with uv pip
  .circleci/config.yml
  Makefile
Labels: general:enhancement

#4101 Add new process pending deposits test
  tests/core/pyspec/eth2spec/test/electra/epoch_processing/pending_deposits/test_process_pending_deposits.py
Labels: scope:CI/tests/pyspec

#4103 Add fulu fork tests
  specs/fulu/fork.md
  tests/core/pyspec/eth2spec/test/fulu/fork/__init__.py
  tests/core/pyspec/eth2spec/test/fulu/fork/test_fulu_fork_basic.py
  tests/core/pyspec/eth2spec/test/fulu/fork/test_fulu_fork_random.py
  tests/core/pyspec/eth2spec/test/helpers/fulu/__init__.py
  tests/core/pyspec/eth2spec/test/helpers/fulu/fork.py
Labels: Fulu

#4105 Add two block tests with withdrawal and execution request
  tests/core/pyspec/eth2spec/test/electra/sanity/blocks/test_blocks.py
Labels: scope:CI/tests/pyspec

#4108 Add more fulu tests
  Makefile
  tests/core/pyspec/eth2spec/test/fulu/fork_choice/__init__.py
  tests/core/pyspec/eth2spec/test/fulu/fork_choice/test_on_block.py
  tests/core/pyspec/eth2spec/test/fulu/random/__init__.py
  tests/core/pyspec/eth2spec/test/fulu/random/test_random.py
  tests/core/pyspec/eth2spec/test/utils/randomized_block_tests.py
  tests/generators/epoch_processing/main.py
  tests/generators/finality/main.py
  tests/generators/fork_choice/main.py
  tests/generators/forks/main.py
  tests/generators/genesis/main.py
  tests/generators/light_client/main.py
  tests/generators/operations/main.py
  tests/generators/random/generate.py
  tests/generators/random/main.py
  tests/generators/rewards/main.py
  tests/generators/sanity/main.py
  tests/generators/sync/main.py
Labels: Fulu

#4109 Add a new consolidation test & two new pending deposit tests
  tests/core/pyspec/eth2spec/test/context.py
  tests/core/pyspec/eth2spec/test/electra/block_processing/test_process_consolidation_request.py
  tests/core/pyspec/eth2spec/test/electra/block_processing/test_process_withdrawal_request.py
  tests/core/pyspec/eth2spec/test/electra/epoch_processing/pending_deposits/test_apply_pending_deposit.py
  tests/core/pyspec/eth2spec/test/electra/epoch_processing/pending_deposits/test_process_pending_deposits.py
Labels: scope:CI/tests/pyspec, Electra
