Repository ethereum/consensus-specs, pull requests merged in 2025-05, with the labels that each got.

#4297 Ensure presets/configs for yaml/spec match
  configs/mainnet.yaml
  configs/minimal.yaml
  setup.py
  specs/_features/eip7732/fork-choice.md
  specs/_features/eip7805/fork.md
Labels: scope:CI/tests/pyspec

#4301 Clean up generator runner
  Makefile
  tests/core/pyspec/eth2spec/gen_helpers/gen_base/gen_runner.py
  tests/core/pyspec/eth2spec/gen_helpers/gen_from_tests/gen.py
Labels: scope:CI/tests/pyspec

#4296 Refactor `kzg_7594` generator
  tests/core/pyspec/eth2spec/gen_helpers/gen_base/gen_runner.py
  tests/core/pyspec/eth2spec/test/utils/kzg_tests.py
  tests/generators/kzg_7594/main.py
Labels: scope:CI/tests/pyspec

#4300 Refactor `kzg_4844` generator
  tests/core/pyspec/eth2spec/test/utils/kzg_tests.py
  tests/generators/kzg_4844/main.py
Labels: scope:CI/tests/pyspec

#4302 Fix two mistakes when refactoring the `kzg_4844` generator
  tests/generators/kzg_4844/main.py
Labels: scope:CI/tests/pyspec

#4286 Fulu BlobSidecarsByRange/Root Deprecation Support
  specs/fulu/p2p-interface.md
Labels: Fulu

#4303 Bump version to v1.5.0
  tests/core/pyspec/eth2spec/VERSION.txt
Labels: general:release

#4304 Refactor bls generator
  tests/generators/bls/main.py
Labels: scope:CI/tests/pyspec

#4309 Improve generator UX
  .github/workflows/generate_vectors.yml
  Makefile
  docs/docs/release.md
  pyproject.toml
  tests/core/pyspec/eth2spec/gen_helpers/gen_base/gen_runner.py
  tests/core/pyspec/eth2spec/gen_helpers/gen_base/settings.py
  tests/core/pyspec/eth2spec/gen_helpers/gen_from_tests/gen.py
  tests/generators/README.md
  tests/generators/kzg_4844/main.py
  tests/generators/kzg_7594/main.py
Labels: scope:CI/tests/pyspec

#4310 Refactor `gen_runner`
  Makefile
  tests/core/pyspec/eth2spec/gen_helpers/gen_base/args.py
  tests/core/pyspec/eth2spec/gen_helpers/gen_base/dumper.py
  tests/core/pyspec/eth2spec/gen_helpers/gen_base/gen_runner.py
  tests/core/pyspec/eth2spec/gen_helpers/gen_base/gen_typing.py
  tests/core/pyspec/eth2spec/gen_helpers/gen_base/utils.py
Labels: scope:CI/tests/pyspec

#4311 Fix typos in blob configuration comments for fulu presets
  presets/mainnet/fulu.yaml
  presets/minimal/fulu.yaml
Labels: Fulu

#4277 Introduce blob schedule
  configs/mainnet.yaml
  configs/minimal.yaml
  pyproject.toml
  pysetup/helpers.py
  pysetup/spec_builders/fulu.py
  setup.py
  specs/fulu/beacon-chain.md
  specs/fulu/das-core.md
  specs/fulu/p2p-interface.md
  tests/core/pyspec/eth2spec/test/deneb/block_processing/test_process_execution_payload.py
  tests/core/pyspec/eth2spec/test/deneb/sanity/test_blocks.py
  tests/core/pyspec/eth2spec/test/fulu/merkle_proof/test_single_merkle_proof.py
  tests/core/pyspec/eth2spec/test/fulu/unittests/test_config_invariants.py
  tests/core/pyspec/eth2spec/test/helpers/blob.py
Labels: Fulu

#4251 Clarification on custody sampling
  specs/fulu/das-core.md
Labels: Fulu

#4320 Clarify node behavior when validator custody changes
  specs/fulu/validator.md
Labels: Fulu

#4333 Bind inputs in ssz_generic reftests
  tests/generators/runners/ssz_generic_cases/ssz_basic_vector.py
  tests/generators/runners/ssz_generic_cases/ssz_bitlist.py
  tests/generators/runners/ssz_generic_cases/ssz_bitvector.py
  tests/generators/runners/ssz_generic_cases/ssz_container.py
  tests/generators/runners/ssz_generic_cases/ssz_uints.py
Labels: scope:CI/tests/pyspec

#4335 Run linting on pysetup directory
  Makefile
  pysetup/constants.py
  pysetup/helpers.py
  pysetup/md_doc_paths.py
  pysetup/spec_builders/__init__.py
  pysetup/spec_builders/altair.py
  pysetup/spec_builders/base.py
  pysetup/spec_builders/bellatrix.py
  pysetup/spec_builders/capella.py
  pysetup/spec_builders/deneb.py
  pysetup/spec_builders/eip6800.py
  pysetup/spec_builders/eip7441.py
  pysetup/spec_builders/eip7732.py
  pysetup/spec_builders/eip7805.py
  pysetup/spec_builders/electra.py
  pysetup/spec_builders/fulu.py
  pysetup/spec_builders/phase0.py
  pysetup/typing.py
Labels: general:presentation

#4342 Set blob schedule to an empty list
  configs/mainnet.yaml
  configs/minimal.yaml
  pysetup/helpers.py
Labels: Fulu
