Repository ethereum/consensus-specs, pull requests merged in 2025-08, with the labels that each got.

#4490 eip7805: fix cutoff config typo
  configs/mainnet.yaml
  configs/minimal.yaml
  specs/_features/eip7805/validator.md
Labels: eip7805

#4488 Make PTC selection balance-weighted
  pysetup/spec_builders/eip7732.py
  specs/_features/eip7732/beacon-chain.md
  specs/_features/eip7732/fork-choice.md
  specs/_features/eip7732/fork.md
  tests/core/pyspec/eth2spec/test/bellatrix/block_processing/test_process_execution_payload.py
  tests/core/pyspec/eth2spec/test/deneb/block_processing/test_process_execution_payload.py
  tests/core/pyspec/eth2spec/test/helpers/state.py
Labels: eip7732

#4495 Disable payload attestation tests on mainnet
  tests/core/pyspec/eth2spec/test/eip7732/block_processing/test_process_payload_attestation.py
Labels: eip7732

#4476 Replace INTERVALS_PER_SLOT with explicit slot component times
  configs/mainnet.yaml
  configs/minimal.yaml
  specs/_features/eip7732/fork-choice.md
  specs/_features/eip7732/validator.md
  specs/_features/eip7805/fork-choice.md
  specs/_features/eip7805/p2p-interface.md
  specs/_features/eip7805/validator.md
  specs/altair/light-client/p2p-interface.md
  specs/altair/validator.md
  specs/bellatrix/fork-choice.md
  specs/capella/fork-choice.md
  specs/deneb/fork-choice.md
  specs/fulu/fork-choice.md
  specs/phase0/beacon-chain.md
  specs/phase0/fork-choice.md
  specs/phase0/validator.md
  tests/core/pyspec/eth2spec/test/altair/unittests/test_config_invariants.py
  tests/core/pyspec/eth2spec/test/bellatrix/fork_choice/test_should_override_forkchoice_update.py
  tests/core/pyspec/eth2spec/test/phase0/fork_choice/test_get_proposer_head.py
  tests/core/pyspec/eth2spec/test/phase0/fork_choice/test_on_block.py
  tests/core/pyspec/eth2spec/test/phase0/unittests/test_config_invariants.py
Labels: phase0

#4497 Organize configuration sections & add missing comments
  configs/mainnet.yaml
  configs/minimal.yaml
Labels: presentation

#4501 eip7732: use correct late block cutoff time in proposer boost tests
  tests/core/pyspec/eth2spec/test/phase0/fork_choice/test_on_block.py
Labels: testing

#4503 eip7732: rebase spec onto fulu
  presets/mainnet/eip7732.yaml
  presets/minimal/eip7732.yaml
  pysetup/md_doc_paths.py
  pysetup/spec_builders/eip7732.py
  specs/_features/eip7732/beacon-chain.md
  specs/_features/eip7732/builder.md
  specs/_features/eip7732/fork-choice.md
  specs/_features/eip7732/fork.md
  specs/_features/eip7732/p2p-interface.md
  specs/_features/eip7732/validator.md
  specs/fulu/p2p-interface.md
  ssz/merkle-proofs.md
  tests/core/pyspec/eth2spec/test/deneb/fork_choice/test_on_block.py
  tests/core/pyspec/eth2spec/test/deneb/merkle_proof/test_single_merkle_proof.py
  tests/core/pyspec/eth2spec/test/deneb/unittests/test_config_invariants.py
  tests/core/pyspec/eth2spec/test/deneb/unittests/validator/test_validator.py
  tests/core/pyspec/eth2spec/test/eip7732/unittests/__init__.py
  tests/core/pyspec/eth2spec/test/eip7732/unittests/test_config_invariants.py
  tests/core/pyspec/eth2spec/test/fulu/fork_choice/test_on_block.py
  tests/core/pyspec/eth2spec/test/fulu/merkle_proof/test_single_merkle_proof.py
  tests/core/pyspec/eth2spec/test/fulu/unittests/test_networking.py
  tests/core/pyspec/eth2spec/test/helpers/blob.py
  tests/core/pyspec/eth2spec/test/helpers/constants.py
  tests/core/pyspec/eth2spec/test/helpers/withdrawals.py
  tests/core/pyspec/eth2spec/test/phase0/sanity/test_blocks.py
  tests/core/pyspec/eth2spec/utils/test_merkle_proof_util.py
Labels: eip7732

#4510 Remove early return statement in KZG test
  tests/core/pyspec/eth2spec/test/fulu/unittests/polynomial_commitments/test_polynomial_commitments.py
Labels: testing

#4514 Generate spec index pages in mkdocs
  .github/workflows/docs.yml
  Makefile
  mkdocs.yml
  pyproject.toml
  scripts/gen_spec_indices.py
  specs/gloas/beacon-chain.md
Labels: documentation

#4521 Improve mkdocs documentation page
  .github/workflows/docs.yml
  Makefile
  scripts/gen_spec_indices.py
  specs/.pages
Labels: documentation

#4533 Fix some typo / grammatical errors in Fulu specs
  specs/fulu/das-core.md
  specs/fulu/fork.md
  specs/fulu/p2p-interface.md
Labels: proofread

#4516 Add reference tests for KZG compute challenge functions
  tests/formats/kzg_4844/README.md
  tests/formats/kzg_4844/compute_challenge.md
  tests/formats/kzg_7594/README.md
  tests/formats/kzg_7594/compute_verify_cell_kzg_proof_batch_challenge.md
  tests/generators/runners/kzg_4844.py
  tests/generators/runners/kzg_7594.py
Labels: testing

#4519 Ensure cell indices are sorted in `recover_cells_and_kzg_proofs`
  specs/fulu/polynomial-commitments-sampling.md
  tests/core/pyspec/eth2spec/test/fulu/unittests/das/test_das.py
  tests/core/pyspec/eth2spec/test/fulu/unittests/polynomial_commitments/test_polynomial_commitments.py
  tests/generators/runners/kzg_7594.py
Labels: eip7594, fulu

#4526 eip7928: introduce specs for block access lists
  .github/release-drafter.yml
  .github/workflows/nightly-tests.yml
  .github/workflows/run-tests.yml
  .gitignore
  Makefile
  configs/mainnet.yaml
  configs/minimal.yaml
  pysetup/constants.py
  pysetup/md_doc_paths.py
  pysetup/spec_builders/__init__.py
  pysetup/spec_builders/eip7928.py
  specs/_features/eip7928/beacon-chain.md
  specs/_features/eip7928/fork.md
  specs/_features/eip7928/p2p-interface.md
  tests/core/pyspec/eth2spec/test/context.py
  tests/core/pyspec/eth2spec/test/eip7928/__init__.py
  tests/core/pyspec/eth2spec/test/eip7928/block_processing/__init__.py
  tests/core/pyspec/eth2spec/test/eip7928/block_processing/test_process_execution_payload.py
  tests/core/pyspec/eth2spec/test/helpers/constants.py
  tests/core/pyspec/eth2spec/test/helpers/execution_payload.py
  tests/core/pyspec/eth2spec/test/helpers/forks.py
Labels: eip7928

#4546 Do not run KZG compute challenge tests in the collection phase
  tests/generators/runners/kzg_4844.py
Labels: testing

#4548 Remove unnecessary make rules
  Makefile
Labels: documentation
