Repository ethereum/consensus-specs, pull requests merged in 2025-03, with the labels that each got.

#4003 Add EIP-7805 (FOCIL) specs
  .gitignore
  Makefile
  configs/mainnet.yaml
  configs/minimal.yaml
  pysetup/constants.py
  pysetup/helpers.py
  pysetup/md_doc_paths.py
  pysetup/spec_builders/__init__.py
  pysetup/spec_builders/eip7805.py
  specs/_features/eip7805/beacon-chain.md
  specs/_features/eip7805/fork-choice.md
  specs/_features/eip7805/p2p-interface.md
  specs/_features/eip7805/validator.md
  tests/core/pyspec/eth2spec/test/altair/unittests/validator/test_validator.py
  tests/core/pyspec/eth2spec/test/helpers/constants.py
Labels: EIP-7805

#3854 EIP-7732 current fork spectests
  .circleci/config.yml
  .github/workflows/run-tests.yml
  presets/minimal/eip-7732.yaml
  specs/_features/eip7732/beacon-chain.md
  specs/_features/eip7732/fork-choice.md
  tests/core/pyspec/eth2spec/test/bellatrix/block_processing/test_process_execution_payload.py
  tests/core/pyspec/eth2spec/test/bellatrix/fork_choice/test_should_override_forkchoice_update.py
  tests/core/pyspec/eth2spec/test/bellatrix/sanity/test_blocks.py
  tests/core/pyspec/eth2spec/test/bellatrix/sync/test_optimistic.py
  tests/core/pyspec/eth2spec/test/bellatrix/unittests/test_transition.py
  tests/core/pyspec/eth2spec/test/bellatrix/unittests/test_validate_merge_block.py
  tests/core/pyspec/eth2spec/test/capella/block_processing/test_process_deposit.py
  tests/core/pyspec/eth2spec/test/capella/block_processing/test_process_withdrawals.py
  tests/core/pyspec/eth2spec/test/capella/light_client/test_single_merkle_proof.py
  tests/core/pyspec/eth2spec/test/capella/sanity/test_blocks.py
  tests/core/pyspec/eth2spec/test/context.py
  tests/core/pyspec/eth2spec/test/deneb/block_processing/test_process_execution_payload.py
  tests/core/pyspec/eth2spec/test/deneb/fork_choice/test_on_block.py
  tests/core/pyspec/eth2spec/test/deneb/merkle_proof/test_single_merkle_proof.py
  tests/core/pyspec/eth2spec/test/deneb/sanity/test_blocks.py
  tests/core/pyspec/eth2spec/test/deneb/unittests/test_config_invariants.py
  tests/core/pyspec/eth2spec/test/deneb/unittests/validator/test_validator.py
  tests/core/pyspec/eth2spec/test/electra/fork_choice/test_deposit_with_reorg.py
  tests/core/pyspec/eth2spec/test/electra/sanity/blocks/test_blocks.py
  tests/core/pyspec/eth2spec/test/helpers/attestations.py
  tests/core/pyspec/eth2spec/test/helpers/constants.py
  tests/core/pyspec/eth2spec/test/helpers/execution_payload.py
  tests/core/pyspec/eth2spec/test/helpers/fork_choice.py
  tests/core/pyspec/eth2spec/test/helpers/fork_transition.py
  tests/core/pyspec/eth2spec/test/helpers/genesis.py
  tests/core/pyspec/eth2spec/test/helpers/state.py
  tests/core/pyspec/eth2spec/test/helpers/withdrawals.py
  tests/core/pyspec/eth2spec/test/phase0/block_processing/test_process_block_header.py
  tests/core/pyspec/eth2spec/test/phase0/fork_choice/test_ex_ante.py
  tests/core/pyspec/eth2spec/test/phase0/fork_choice/test_get_head.py
  tests/core/pyspec/eth2spec/test/phase0/fork_choice/test_get_proposer_head.py
  tests/core/pyspec/eth2spec/test/phase0/fork_choice/test_on_block.py
  tests/core/pyspec/eth2spec/test/phase0/fork_choice/test_reorg.py
  tests/core/pyspec/eth2spec/test/phase0/fork_choice/test_withholding.py
  tests/core/pyspec/eth2spec/test/phase0/sanity/test_blocks.py
  tests/core/pyspec/eth2spec/test/phase0/unittests/fork_choice/test_on_attestation.py
Labels: EIP-7732

#4110 Add weekly dependabot check for python dependencies
  .github/dependabot.yml
Labels: general:enhancement

#4187 Update BlobsBundle for Fulu
  presets/mainnet/fulu.yaml
  presets/minimal/fulu.yaml
  specs/deneb/validator.md
  specs/fulu/validator.md
Labels: Fulu

#4188 Complete validator custody specs
  specs/fulu/validator.md
Labels: Fulu

#4224 Use consistent note style
  specs/_deprecated/custody_game/beacon-chain.md
  specs/_deprecated/custody_game/validator.md
  specs/_deprecated/das/das-core.md
  specs/_deprecated/das/fork-choice.md
  specs/_deprecated/das/p2p-interface.md
  specs/_deprecated/das/sampling.md
  specs/_deprecated/sharding/beacon-chain.md
  specs/_deprecated/sharding/p2p-interface.md
  specs/_deprecated/sharding/polynomial-commitments.md
  specs/_deprecated/sharding/validator.md
  specs/_features/eip6800/beacon-chain.md
  specs/_features/eip6800/fork.md
  specs/_features/eip6914/beacon-chain.md
  specs/_features/eip6914/fork-choice.md
  specs/_features/eip7441/beacon-chain.md
  specs/_features/eip7441/fork.md
  specs/_features/eip7732/beacon-chain.md
  specs/_features/eip7732/builder.md
  specs/_features/eip7732/fork-choice.md
  specs/_features/eip7732/fork.md
  specs/_features/eip7732/p2p-interface.md
  specs/_features/eip7732/validator.md
  specs/_features/eip7805/beacon-chain.md
  specs/_features/eip7805/fork-choice.md
  specs/_features/eip7805/fork.md
  specs/altair/bls.md
  specs/altair/validator.md
  specs/deneb/beacon-chain.md
  specs/electra/beacon-chain.md
  specs/electra/fork.md
  specs/electra/light-client/fork.md
  specs/electra/light-client/p2p-interface.md
  specs/electra/light-client/sync-protocol.md
  specs/electra/p2p-interface.md
  specs/electra/validator.md
  specs/fulu/beacon-chain.md
  specs/fulu/das-core.md
  specs/fulu/fork-choice.md
  specs/fulu/fork.md
  specs/fulu/p2p-interface.md
  specs/fulu/peer-sampling.md
  specs/fulu/polynomial-commitments-sampling.md
  specs/fulu/validator.md
  tests/formats/fork_choice/README.md
Labels: general:presentation

#4223 Add missing section headers to fulu spec
  specs/fulu/beacon-chain.md
Labels: Fulu

#4225 Replace some instances of "extended" with "modified"
  specs/_deprecated/custody_game/beacon-chain.md
  specs/_deprecated/sharding/beacon-chain.md
  specs/_features/eip6800/beacon-chain.md
  specs/bellatrix/beacon-chain.md
  specs/capella/beacon-chain.md
  specs/capella/fork-choice.md
  specs/deneb/beacon-chain.md
  specs/deneb/fork-choice.md
  specs/electra/beacon-chain.md
  specs/electra/validator.md
Labels: general:presentation

#4183 Add Distributed Blob Publishing to Fulu networking spec
  specs/deneb/p2p-interface.md
  specs/fulu/p2p-interface.md
  specs/fulu/validator.md
  tests/core/pyspec/eth2spec/test/fulu/merkle_proof/test_single_merkle_proof.py
  tests/core/pyspec/eth2spec/test/fulu/unittests/test_networking.py
Labels: Fulu

#4211 Fulu validator custody: Use finalized state as inactivity leak protection.
  specs/fulu/validator.md
Labels: Fulu

#4229 Round down value when setting validator's effective balance
  tests/core/pyspec/eth2spec/test/capella/block_processing/test_process_withdrawals.py
  tests/core/pyspec/eth2spec/test/capella/sanity/test_blocks.py
  tests/core/pyspec/eth2spec/test/electra/block_processing/test_process_consolidation_request.py
  tests/core/pyspec/eth2spec/test/electra/epoch_processing/test_process_registry_updates.py
  tests/core/pyspec/eth2spec/test/electra/sanity/blocks/test_blocks.py
  tests/core/pyspec/eth2spec/test/helpers/withdrawals.py
Labels: scope:CI/tests/pyspec

#4237 Add `full_pending_withdrawals_but_first_skipped_*` tests
  tests/core/pyspec/eth2spec/test/electra/block_processing/test_process_withdrawals.py
Labels: scope:CI/tests/pyspec, Electra

#4238 Add `multiple_pending_deposits_same_pubkey_different_signature` test
  tests/core/pyspec/eth2spec/test/electra/sanity/test_slots.py
Labels: scope:CI/tests/pyspec, Electra

#4239 Add `withdrawal_and_consolidation_effective_balance_updates` test
  tests/core/pyspec/eth2spec/test/electra/sanity/blocks/test_blocks.py
Labels: scope:CI/tests/pyspec, Electra
